<div class="container">
  <div class="about-container">
    <h1>{{title}}</h1>
    <div class="field-container">
      <md-input-container>
        <input mdInput placeholder="Plan name" value="New plan" class="plan-name" [(ngModel)]="trainingPlan.name">
      </md-input-container>
    </div>
    <div class="field-container">
        <div class="field-title">
            Type
          </div>
      <div class="field-item">
        <md-radio-group class="radio-group" [(ngModel)]="trainingPlan.trainingType">
          <md-radio-button class="radio-button" *ngFor="let type of types" [checked]="type.checked" [value]="type.key">
            {{type.value}}
          </md-radio-button>
        </md-radio-group>
      </div>
      <div class="field-items">
        <div class="field-title">
          Days
        </div>
        <div class="field-item days">
          <div class="item" *ngFor="let day of days">
            <input type="checkbox" id="day-{{day.key}}" value="{{day.key}}" [(ngModel)]="day.checked" name="weekdays[]" (change)="selectDays()">
            <label for="day-{{day.key}}">{{day.value}}</label>
          </div>
        </div>
        <div class="field-title">
          Count per week</div>
        <div class="field-item">
          <button md-fab class="counter" (click)="changeTrainingCount(false, 'dec');">-</button>
          <input type="text" name="count" (ngModelChange)="changeTrainingCount($event)" class="count" [ngModel]="trainingPlan.count" value="{{trainingPlan.count}}">
          <button md-fab class="counter" (click)="changeTrainingCount(false, 'inc');">+</button>
        </div>
      </div>
    </div>
    <!-- <div class="field-container">
      <md-input-container>
        <textarea mdInput placeholder="Plan description" class="plan-description"></textarea>
      </md-input-container>
    </div> -->
    <button md-button class="btn btn-save" (click)="savePlan()">Save</button>

  </div>
  <div class="childContainer">
    <app-exercise-list [userMeasures]="userMeasures" [exercisesList]="trainingPlan.exercisesList" (onChangeList)="onChangeList($event)"></app-exercise-list>
    <app-interval-training-plan [intervalList]="trainingPlan.intervals" *ngIf="trainingPlan.trainingType === 'interval'" (intervalAction)="intervalAction($event)"></app-interval-training-plan>
  </div>
</div>