@import '../../../../globalStyles/variables.scss';
@import '../../../../globalStyles/text.scss';
@import "../../../../globalStyles/indentations";
.container {
    padding: 20px 15px;
    display: flex;
    .field-container {
        width: 100%;
        margin-bottom: 20px;
    }
    .about-container {
        flex: 35%;
        margin-right: $content-tb-margin;
        padding: 0 15px;
        #title-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex-wrap: wrap;
            margin-bottom: $content-between-margin;
            h1 {
                flex-basis: 100%;
                margin: 0 0 $content-between-margin;
            }
        }
        .plan-name {
            width: 200px;
        }
        .plan-description {
            width: 200px;
            min-height: 100px;
        }
        .field-items {
            display: flex;
            flex-direction: column;
        }
        .field-item {
            // display: inline-block;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }
        .radio-group {
            .radio-button {
                display: block;
                margin-bottom: 10px;
                .mat-radio-outer-circle,
                .mat-radio-inner-circle {
                    background-color: #82ca9c!important;
                }
            }
        }
        .days {
            display: flex;
            flex-wrap: wrap;
            input[type=checkbox] {
                display: none;
            }
            label {
                background-color: #5a6b60;
                opacity: 0.8;
                height: 40px;
                width: 40px;
                border-radius: 23px;
                margin-right: 10px;
                margin-bottom: 10px;
                font-size: 14px;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .item:nth-last-child(-n+2) label {
                background-color: #92ad9b;
            }
            label:hover,
            input:checked+label {
                cursor: pointer;
                background-color: #82ca9c!important;
                opacity: 1;
            }
        }
        .count {
            height: 40px;
            width: 40px;
            margin: 0 10px;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
        }
        .counter {
            background-color: #82ca9c;
            height: 30px;
            width: 30px;
            border-radius: 20px;
            font-size: 20px;
            line-height: 20px; // font-weight: bold;
            outline: none;
            color: #fff;
        }
    }
    .field-title {
        font-size: 20px;
        margin-bottom: 20px;
        font-weight: bold;
    }
    .btn-save {
        border: none;
        margin-top: $content-between-margin;
        width: 150px;
        padding: 5px;
        color: $text-main-color;
        background-color: $btn-color;
        font-weight: bold;
        font-size: 14px;
        border-radius: 50px;
        cursor: pointer;
        outline: none;
    }
}

.childContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 65%;

    app-exercise-list {
        width: 100%;
    }

    app-interval-training-plan {
        width: 100%;
    }
}


.clear {
    clear: both;
}

@media only screen and (max-width: $large-screen) {
    .container {
        flex-direction: column;
    }
}

@media only screen and (min-width: $medium-screen) {
    .container > .about-container > #title-container > h1 {
        flex-basis: 70%;
        margin: 0;
    }
}
