@import '../../../../globalStyles/variables.scss';
@import '../../../../globalStyles/text.scss';
@import "../../../../globalStyles/indentations";

.centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;

    .about-container {
        width: 30%;
        height: calc(90% - 70px); // 70px for save-button
        min-height: 400px;
        padding-left: 10px;
        // background: linear-gradient(to top, $gradient-from-color, $gradient-to-color);

        .title-container {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            h1 {
                flex-basis: 100%;
                text-align: center;
            }
        }
        .field-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 20px;

            md-input-container {
                width: 70%;
            }

            md-input-container.full-width {
                width: 100%;
                margin: 0 20px;
                margin-left: 5%;
            }

            h2, h3 {
                width: 100%;
                margin-top: 0;
            }

            h2 {
                text-align: left;
                text-indent: 5%;
            }

            h3 {
                text-align: center;
            }

            .plan-name {
                width: 90%;
            }
            .field-item {
                width: 100%;
                display: flex;
                align-items: center;

                md-radio-group {
                    display: flex;
                    width: 100%;
                    justify-content: space-around;
                }

                md-slide-toggle {
                    width: 100%;
                }
            }

            .week-days {
                width: 100%;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;

                .days {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    input[type=checkbox] {
                        display: none;
                    }
                    label {
                        background-color: #5a6b60;
                        opacity: 0.8;
                        height: 40px;
                        width: 40px;
                        border-radius: 23px;
                        font-size: 14px;
                        font-weight: bold;
                    }
                    .item:nth-last-child(-n+2) label {
                        background-color: #92ad9b;
                    }
                    label:hover,
                    input:checked+label {
                        cursor: pointer;
                        background-color: #82ca9c!important;
                        opacity: 1;
                    }

                    md-radio-group {
                        justify-content: center;
                    }
                }
            }

            .count-days {
                width: 50%;
            }

        }


        .radio-group {
            .radio-button {
                display: block;
                margin-bottom: 10px;
                .mat-radio-outer-circle,
                .mat-radio-inner-circle {
                    background-color: #82ca9c!important;
                }
            }
        }
    }
    .childContainer {
        width: 60%;
        height: calc(90% - 70px); // 70px for save-button;
        min-height: 400px;
        display: flex;
        flex-wrap: wrap;
        // background: linear-gradient(to top, $gradient-from-color, $gradient-to-color);

        app-exercises {
            width: 100%;
            height: calc(100% - 160px);
        }

        app-interval-training-plan {
            width: 100%;
            height: 160px;
        }
    }
    .btn-container {
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        .btn-save {
            display: block;
            border: none;
            width: 150px;
            padding: 5px;
            color: $text-main-color;
            background-color: $btn-color;
            font-weight: bold;
            font-size: 14px;
            border-radius: 50px;
            cursor: pointer;
            outline: none;
        }
    }
}

.errorBorder {
    border: 1px solid red;
}

.clear {
    clear: both;
}

@media only screen and (max-width: $large-screen) {
    .container {
        //flex-direction: column;
    //}
//}
//
//@media only screen and (max-width: $medium-screen) {
//    .container {

    
        display: block;
        overflow-y: auto;

        .about-container {
            width: 100%;
            height: 500px;

            .field-container {
                width: 100%;
                margin: 0;
                margin-bottom: 15px;
                .types{
                    width: 300px;
                }
                .week-days {
                    .days {
                        justify-content: center;
                        .item{
                            margin: 0 5px;
                        }
                        // width: calc(40px*4 + 20px); // fix width to contain 4 week days, for pretty view
                    }
                }
            }
        }
        .childContainer {
            width: 100%;
            height: auto;
            background: none;

            app-exercises {
                width: 100%;
                height: auto;
                margin-bottom: 10px;
            }

            app-interval-training-plan {
                width: 100%;
                height: auto;
                margin: 20px;
            }
        }
        .btn-container {
            flex-direction: column-reverse;

            .btn-save {
                margin: 0 auto;
                margin-bottom: 30px;
            }
        }

    }
}
@media only screen and (max-width: $small-screen) {    
    .week-days {
        .days {
            .item{
                margin: 0 7px!important;
            }
        }
    }
}