<div class="container">
    <div class="profile">
        <form *ngIf="user" class="profile-form" [formGroup]="profileForm">
            <div class="profile-header profile-row">
                <div class="profile-avatar">
                    <div class="profile-picture"
                         [ngClass]="(window.data._injectedData.role !== 'coach')? '': 'coach-mark'">
                        <img [src]="data.image" alt="user picture" class="profile-picture-img">
                        <img-cropper #cropper
                                     *ngIf="!hideCropper"
                                     class="img-cropper"
                                     [image]="data"
                                     [settings]="cropperSettings"></img-cropper>
                    </div>
                    <div class="profile-upload">
                        <div class="profile-upload-container upload-btn" (click)="saveImg('save')">
                            <span>{{hideCropper ? 'Upload new picture' : 'Save'}}</span>
                            <input type="file"
                                   accept="image/*"
                                   *ngIf="hideCropper"
                                   class="upload"
                                   (click)="chooseFileModal($event)"
                                   (change)="fileChangeListener($event)"/>
                        </div>
                        <div class="profile-upload-container upload-btn" *ngIf="!hideCropper"
                             (click)="saveImg('cancel')">Cancel</div>
                    </div>
                </div>
                <div class="profile-fullname">
                    <md-input-container class="profile-name">
                        <input id="name" class="input" mdInput formControlName="firstName">
                        <md-error>Name can't consist less than two characters, and more than 20</md-error>
                    </md-input-container>
                    <md-input-container class="profile-lastname">
                        <input id="lastname" class="input" mdInput formControlName="lastName">
                        <md-error>Lastname can`t consist less than two characters, and more than 20</md-error>
                    </md-input-container>
                </div>
            </div>
            <div *ngIf="!user.gender" class="profile-gender profile-row">
                <h3 class="gender-header">Gender:</h3>
                <input formControlName="gender" id="Male" type="radio" value="Male" name="gender">
                <label for="Male">Male</label>
                <input formControlName="gender" id="Female" type="radio" value="Female" name="gender">
                <label for="Female">Female</label>
            </div>
            <div class="profile-birthday profile-row">
                <div class="birthday-month">
                    <md-select class="responsive-width"
                               placeholder="Month" [(ngModel)]="birthday.month"
                               (change)="onSelect(birthday.month,birthday.year)"
                               [ngModelOptions]="{standalone: true}">
                        <md-option *ngFor="let month of months" [value]="month">
                            {{ month }}
                        </md-option>
                    </md-select>
                </div>
                <div class="birthday-day">
                    <md-select class="responsive-width"
                               placeholder="Day" [(ngModel)]="birthday.day" [ngModelOptions]="{standalone: true}">
                        <md-option *ngFor="let day of days" [value]="day">
                            {{ day }}
                        </md-option>
                    </md-select>
                </div>
                <div class="birthday-year">
                    <md-select class="responsive-width"
                               placeholder="Year" [(ngModel)]="birthday.year"
                               (change)="onSelect(birthday.month,birthday.year)"
                               [ngModelOptions]="{standalone: true}">
                        <md-option *ngFor="let year of years" [value]="year">
                            {{ year }}
                        </md-option>
                    </md-select>
                </div>
            </div>
            <md-input-container class="profile-height profile-row" *ngIf="!user.height">
                <input class="responsive-width"
                       mdInput
                       type="number"
                       name="height"
                       placeholder="Height, cm"
                       required formControlName="height">
                <md-error>
                    Height should be 100-300cm
                </md-error>
            </md-input-container>
            <div class="profile-activity profile-row">
                <md-select class="responsive-width"
                           placeholder="Activity level" formControlName="activityLevel">
                    <md-option *ngFor="let level of activityLevelOptions" [value]="level.coef">
                        {{ level.name }}
                    </md-option>
                </md-select>
            </div>
            <div class="profile-row">
                <md-input-container class="profile-location responsive-width">
                    <input class="input"
                           id="location"
                           mdInput placeholder="Location" formControlName="location">
                    <md-error>Location can`t consist less than two characters, and more than 30</md-error>
                </md-input-container>
                <md-input-container class="profile-about responsive-width">
                    <textarea mdInput placeholder="About"
                              formControlName="about" md-tooltip="Add some info about you">
                    </textarea>
                    <md-error>
                        Must contain less than 500 characters
                    </md-error>
                </md-input-container>
            </div>
            <button type="submit" class="btn" (click)="onSubmit(profileForm.value)">Save changes</button>
        </form>
    </div>
</div>
