@import '../../../../../globalStyles/variables';
@import '../../../../../globalStyles/indentations';
@import '../../../../../globalStyles/text';
@mixin linear-gradient($direction, $color-stops...) {
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}

p {
    margin: 0;
}

a {
    display: block;
    color: $text-main-color;
}

md-error {
    color: $error-color;
}

label {
    padding: 0;
}

.ph-input {
    width: 40%;
    margin-left: 10px;
}

.btn {
    border: none;
    margin: 35px auto 0 auto;
    width: 90%;
    padding: 15px;
    color: $text-main-color;
    background-color: $btn-color;
    font-size: $button-text;
    font-weight: 600;
    font-size: 11pt;
    border-radius: 50px;
    outline: none;
    &:hover {
        cursor: pointer;
    }
}

.input {
    font-family: 'Roboto', sans-serif;
    color: $text-main-color;
}

.container {
    display: flex;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: $text-main-color;
    justify-content: center;
}

.profile {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 460px;
    padding: 20px;
}

.profile-title {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.input {
    padding: $input-padding;
}

.profile-form {
    display: flex;
    flex-direction: column;
}

.profile-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}

.profile-avatar {
    display: flex;
    flex: 1 1 200px;
    flex-direction: column;
}

.profile-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    >img {
        width: 150px;
        border-radius: 50%;
    }
    .img-cropper {
        margin-top: 10px;
    }
}

.coach-mark:after {
    display: block;
    content: '';
    background: url('../../../../../../../resources/icons/whistle-icon.svg') center;
    background-size: 170%;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    margin-top: -50px;
    margin-left: calc(150px - 50px);
}

.profile-upload {
    display: flex;
    margin: 15px auto 0;
    text-align: center;
}

.profile-upload-container {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.profile-upload-container input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.upload-btn {
    border: none;
    padding: 5px;
    color: $text-main-color;
    background-color: $btn-color;
    border-radius: 50px;
    outline: none;
    width: 160px;
    &:hover {
        cursor: pointer;
    }
}

.profile-fullname {
    display: flex;
    flex: 1 1 200px;
    flex-direction: column;
    >p {
        margin: 0;
        text-align: left;
    }
}

.profile-content {
    margin-top: 20px;
    //display: flex;
    justify-content: center;
    flex-direction: column;
}

.profile-email {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 10px;
}

.profile-current-emails {
    display: flex;
    flex-direction: column;
    flex: 1 1 233px;
    color: $usual-text;
}

.email-item {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border: 2px solid #424242;
    padding: 6px 10px;
}

.email {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.root-title {
    color: $btn-color;
    font-weight: bold;
    font-size: 16px;
}

.root-btn {
    display: none;
    cursor: pointer;
    font-style: italic;
    opacity: 0.5;
}

.root-btn:hover {
    text-decoration: underline;
}

.email-item:hover {
    .root-btn {
        display: inline;
    }

    .email {
        max-width: 70%;
    }

    .root-btn {
        margin-left: -10px;
    }
}

.profile-email-btn {
    display: flex;
    flex: 1 1 185px;
    justify-content: flex-end;
}



.profile-email-input {
    text-align: center;
}

.profile-birthday {
    display: flex;
    flex-flow: row wrap;
    margin-top: 30px;
    >div {
        justify-content: center;
        display: flex;
        flex: 1 1 130px;
        margin-top: 25px;
    }
}

.profile-gender {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 0 $content-between-margin 0;
    font-size: $main-text;

    .gender-header {
        flex: 100%;
    }

    input{
        display: none;
    }

    label {
        color: $text-second-color;
        cursor: pointer;
    }

    input:checked + label {
        color: $text-main-color;
    }
}

.profile-height {
    width: 35%;
    margin: $content-between-margin $content-between-margin 0;
}

.profile-activity {
    margin: $content-between-margin $content-between-margin 0;

    md-select {
        width: 100%;
        margin: $content-between-margin 0;
    }
}

.profile-about {
    width: 100%;
    margin: $content-between-margin auto;
}

.profile-physparam {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    >div {
        justify-content: center;
        align-items: center;
        display: flex;
        flex: 1 1 170px;
    }
}

.button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0 40px;

    div {
        margin: 0 $input-padding;
    }
}

#coach-button {
    text-align: center;

    div {
        font-size: $minor-text;
    }
}

.password-container {
    max-width: 300px;
}

.profile-footer {
    display: flex;
    justify-content: center;
}

.submit-form-button {
    margin-top: 30px;
    width: 375px;
}

.social-wrapper {
    margin-top: 30px;
    .addition-info{
        margin: 5px 0 10px;
        text-align: center;
        font-size: $minor-text;
    }
    .social-buttons{
        display: flex;
        justify-content: space-around;
    }
}

@media only screen and (max-width: $small-screen) {
    .profile-current-email {
        justify-content: center;
        margin: 0 15px 15px;
    }

    .profile-email {
        flex-wrap: wrap;
    }
    .profile-email-btn {
        flex: 0;
    }
    .profile-fullname {
        align-items: center;
    }
    .profile-name,
    .profile-lastname {
        width: 80%;
    }
    .profile-birthday {
        >div {
            margin: 20px 0 20px;
        }
    }
    .birthday-year {
        flex: 0;
    }
    .profile-password {
        margin-top: 15px;
    }
    .ph-input {
        width: 25%;
    }
}
