@import '../../../../../../globalStyles/variables.scss';
@import '../../../../../../globalStyles/indentations.scss';
@import '../../../../../../globalStyles/text.scss';

.news {
    .content {
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        height: 70%;
    }
}

#posts {
    width: 100%;
}

.post-avatar {
    display: none;
}

.post-text-block {
    display: inline-block;
    width: 86%;

    p {
        display: inline-block;
        word-break: break-word;
    }

    .post-name {
        display: inline-block;
        width: 58%;
        margin-bottom: $mini-indent;
        font-size: $main-text;
    }

    .post-date {
        width: 20%;
        font-size: $minor-text;
    }

    .message-handler {
        display: inline-block;
        width: 20%;
        text-align: right;

        p {
            font-size: $minor-text;
        }

        p:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        .post-delete {
            margin-left: $mini-indent;
        }
    }

    .post-text {
        width: 100%;
        font-size: $usual-text;
    }
}


.post:not(:last-child) {
    margin-bottom: $standard-indent;
    padding-bottom: $standard-indent;
    border-bottom: 1px solid $text-main-color;
}

md-input-container {
    width: 90%;

    textarea {
        height: 100px;
    }
}

.close {
    float: right;
    padding: 0;
    border: 0;
    font-size: 18px;
    color: $text-second-color;
    background-color: transparent;
}

.close:hover {
    cursor: pointer;
    color: $text-main-color;
}

#message-button {
    margin: $standard-indent auto;

    button {
        display: block;
        width: 180px;
        height: 40px;
        border: none;
        border-radius: 15px;
        outline: none;
        font-size: $main-text;
        font-weight: 600;
        background: #82ca9c;
    }
}

app-message-posting {
    width: 100%;
    margin-top: $standard-indent;
}


@media only screen and (min-width: $small-screen) {

    .post-avatar {
        display: inline-block;
        width: 12%;
        vertical-align: top;

        img {
            width: 44px;
            border-radius: 22px;
        }
    }
}
