@import '../../../../../../globalStyles/variables.scss';
@import '../../../../../../globalStyles/indentations.scss';
@import '../../../../../../globalStyles/text.scss';

.news {
    .content {
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        height: 70%;
    }
}

.news-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
        display: inline-block;
    }

    .news-title {
        width: 50%;
        font-size: $main-text;
    }

    .news-date {
        width: 50%;
        text-align: right;
    }

    .news-text {
        flex-basis: 100%;
        margin-top: 20px;
    }
}

md-radio-group {
    margin-top: $content-tb-margin;
}

#message-button {
    margin: $standard-indent auto;

    button {
        display: block;
        width: 180px;
        height: 40px;
        border: none;
        border-radius: 15px;
        outline: none;
        font-size: $main-text;
        font-weight: 600;
        background: #82ca9c;
    }
}

app-post-dialog {
    width: 100%;
    margin-top: $standard-indent;
}
