@import "../../../../globalStyles/variables.scss";
@import '../../../../globalStyles/text.scss';
@import '../../../../globalStyles/indentations.scss';

$height: calc(100vh - 70px);

.menu-element {
    display: block;
}

.mainblock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px - 45px*2);
    min-height: 450px;
    margin: $header-top-margin 0;
    overflow: scroll;
}

aside {
    flex: 0 0 20%;
    height: 100%;
    font-family: $font-general;
    font-weight: 600;
    font-size: $usual-text;
    background: linear-gradient($bg-color 75%, $gradient-from-color);

    nav {
        width: 90%;
        float: right;
        position: relative;

        a {
            line-height: $header-text;
            text-decoration: none;
            color: #aaa;
        }

        .navigation__your-section {
            margin-top: $content-between-margin;
        }

        .navigation__title {
            font-family: inherit;
            font-weight: inherit;
            font-size: inherit;
        }
        
        .navigation__icon {
            float: left;
            fill: #aaa;
            vertical-align: middle;
            width: 24px;
            height: 24px;
            margin-right: 13px;
        }

        .active-link {
            display: block;
            color: #fff;
            font-weight: bold;
            background-color: $gradient-to-color;
        }
    }
}

.child {
    background-color: $gradient-to-color;
}

@media screen and (min-width: $medium-screen + 1) and (max-width: $large-screen) {
    aside {
        width: 180px;
    }
}

@media screen and (max-width: $small-screen) {
    aside {
        width: 55px;

        .navigation__title, .navigation__subheader {
            display: none;
        }
    }
}
