<div id="sports-container" >
    <div class="list" [sortablejs]="data" [sortablejsOptions]="dragNdropOptions">
        <div class="item-container" *ngFor="let item of data" routerLink="../sport-handling/{{item.code}}">
            <img src="{{item.icon}}" alt="Icon" class="sports-item-ico">
            <p class="sports-item-text">{{ item.name }}</p>
        </div>
    </div>
    <div class="add-container" routerLink="../sport-handling">
        <i class="material-icons add-item-ico">add</i>
    </div>
</div>
