<div class="chat-wrapper" [class.minimized]="chat.minimized">
    <div class="chat-header">
        <span class="chat-user" (click)="toogleMinimized()">{{chat.user.fullName}}</span>
        <div class="chat-header-icons">
            <md-icon class="minimize icon" (click)="toogleMinimized()">{{(chat.minimized) ? 'crop_square' : 'remove'}}
            </md-icon>
            <md-icon class="close icon" (click)="closeChat()">clear</md-icon>
        </div>
    </div>
    <div class="messages-wrapper">
        <div *ngFor="let message of chat.messages" class="message" [class.left]="message.sender !== userId">
            <div class='message-text'>{{message.message}}</div>
        </div>
    </div>
    <div class="new-message-wrap">
        <textarea name="message"
                  #input
                  class="new-message-input"
                  (keydown)="sendMessageInit($event, input)"
                  (keyup)="resizeInput(shadowInput, input, $event)"></textarea>
        <div #shadowInput [innerHTML]="input.value" class="new-message-input hidden"></div>
    </div>
</div>
