@import '../../../../globalStyles/variables';
@import '../../../../globalStyles/indentations';
@import '../../../../globalStyles/text';
@mixin linear-gradient($direction, $color-stops...) {
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}
#goal-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    width: 70vw;
    font-family: $font-general;
    font-size: $usual-text;
    margin: $content-tb-margin auto;

    h2 {
        margin-bottom: 0;
        text-align: center;
        font-size: $header-text;
    }
}

.title {
    text-align: center;
}



.delete-line{
    width: 100%;
    display: flex;
    justify-content: center;
}

.drop-area {
    text-align: center;
    margin: 0;
    margin-top: 20px;
    cursor: pointer;
    i {
        line-height: 100px;
        font-size: 100px;
        text-align: center;
        color: $text-second-color;
        width: 100px;
        &:hover {
            color: $btn-color;
        }
        div {
            display: none;
        }
    }
}
.ghost {
    opacity: 0.5;
}

.white {
    color: $text-main-color;
}

.item-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 260px;
    height: 180px;
    margin: 10px;
        color: $btn-color;
    background-color: $gradient-to-color;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.goal-main-text {
    font-size: 18px;
    margin: 5px;
    letter-spacing: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

#delete {
    align-self: flex-end;
    font-size: 20px !important;
    margin-bottom: -5px;
    margin-right: 12px;
    color: $text-second-color;
}

#delete:hover{
    color: $btn-color;
}

.goal-item-text {
    font-size: 16px;
    margin: 5px;
    color: $text-main-color;
    letter-spacing: 1px;
}


.item-container:hover {
    background-color: #353535;
    cursor: pointer;
}
.material-icons{
    margin: 8px;
    font-size: 40px;
}
.add-container {
    order: 1000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 260px;
    height: 180px;
    margin: 10px;
    color: #CCCCCC;
    background-color: #353535;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.add-container:hover {
    color: $btn-color;
    cursor: pointer;
}


@media only screen and (min-width: $large-screen) {
    #delete{
        display: none;
    }
    .delete-line{
        display: flex;
    }
}


@media only screen and (max-width: $large-screen) {
    #delete{
        display: block;
    }
    .delete-line{
        display: none;
    }
}
