<div class='wrapper'>
    <div class='general__container'>
        <div class='sport-list__container'>
            <div class="sport-list__wrap">
            <ul class='sport__list'>
                <div class="hov">
                <li class='sport__item' *ngFor='let sport of sports' 
                    [class.selected]='sport === selectedSport' 
                    (click)="onSelect(sport)"> <span>{{sport.title}}</span>
                </li>
                </div>
            </ul>
            </div>
        </div>
        <div class='block__descr'>
            <div *ngIf='selectedSport'>
                <div class='general__descr'>
                    <div class='general-descr__wrapp'>
                        <div class='name__descr'>Name of the sport: {{selectedSport.title}}</div>
                        <div class='name__descr'>Category: {{selectedSport.category}}</div>
                        <div class='name__descr'>Season: {{selectedSport.season}}</div> 
                        <div class='name__descr'>Type of training: {{selectedSport.type}}</div>
                    </div>
                </div>
                <div class='title-descr'>General description</div>
                <div class='paragraph__descr'>{{selectedSport.description}}</div>
            </div>
        </div>   
    </div>   
</div>




