@import "./../../../../src/globalStyles/variables";

@mixin linear-gradient($direction, $color-stops...) {
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}



::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $text-second-color;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $text-second-color;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: $text-second-color;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $text-second-color;
}

.wrapper {
    display: flex;
    width: 100%;
    background-color: $bg-color;
    font-family: $font-general;
    justify-content: center;
   
}

.general__container {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 2px #2A2A2A solid;
    background-image: linear-gradient(to top, $gradient-from-color, $gradient-to-color);
    margin: 50px 0 200px 0;
   
}

.sport-list__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.sport-list__wrap {
   display: flex;
   justify-content: center;
}
.sport__list {
    padding: 0;
}
.sport__item {
    list-style: none;
    font-size: 22px;
    padding-bottom: 20px;
}
span:hover {
    border-bottom: 1px solid;
    padding-bottom: 5px;
}
.block__descr {
    background: rgba(255, 255, 255, 0.12);
}
.general__descr {
    display: flex;
    justify-content: center;
}
.general-descr__wrapp {
    margin-top: 20px;
}
.name__descr {
    padding-top: 10px;
}
.title-descr {
    padding-top: 20px;
    text-align: center;
}
.paragraph__descr {
    text-align: center;
    padding: 10px 0 20px 0;
}
