@import '../../../../../globalStyles/variables';
@import '../../../../../globalStyles/indentations';
@import '../../../../../globalStyles/text';

.post-create-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    font-family: $font-general;
    font-size: $usual-text;
    margin: $content-tb-margin auto;

    h2 {
        margin-bottom: 0;
        text-align: center;
        font-size: $header-text;
    }

    md-input-container {
        width: 100%;
    }

    textarea {
        min-height: 100px;
    }
}
.btn {
    border: none;
    margin: 35px auto 0 auto;
    width: 250px;
    padding: 15px;
    color: $text-main-color;
    background-color: $btn-color;
    font-weight: 600;
    border-radius: 50px;
    outline: none;
    &:hover {
        cursor: pointer;
    }
}
.upload-container {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.upload-container input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.cropper-btn {
    border: none;
    padding: 5px;
    color: $text-main-color;
    background-color: $btn-color;
    border-radius: 50px;
    outline: none;
    width: 160px;
    &:hover {
        cursor: pointer;
    }
}

.preview-header {
    align-self: flex-start;
    font-size: $main-text;
    margin-bottom: 10px;
}

.preview {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-preview {
        margin: $content-between-margin;
        text-align: center;
    }

}
