@import '../../../globalStyles/variables.scss';
@import '../../../globalStyles/indentations.scss';
@import '../../../globalStyles/text.scss';

/* general */

a {
    color: $text-second-color;
}
a:hover {
    color: white;
}

/* registration form */

#form {
    width: calc(400px - 24px*2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 10px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: $text-main-color;
}

.close {
    float: right;
    background-color: transparent;
    border: 0;
    padding: 0;
    color: white;
    font-size: 18px;
}

.close:hover {
    cursor: pointer;
    color: $text-second-color;
}

#social-registration {
    margin: -20px auto 20px auto;
    font-size: $usual-text/1.1;
    color: $text-second-color;
}

.input-row {
    width: 100%;
    margin: 0;
}

#general-error {
    margin: 0 0 $content-between-margin 0;
}

#gender {
    display: flex;
    justify-content: space-around;
    margin: 0 0 $content-between-margin 0;
    font-size: $main-text;

    input{
        display: none;
    }

    label {
        color: $text-second-color;
        cursor: pointer;
    }

    input:checked + label {
        color: $text-main-color;
    }
}

.error {
    display: block;
    width: 100%;
    margin: $content-between-margin 0;
    text-align: left;
    font-size: $usual-text;
    font-weight: 600;
    color: $error-color;
}

#birthday {
    div:first-child {
        margin: $content-between-margin 0;
    }

    #birthday-inputs {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        margin-top: 30px;
        width: 100%;
        margin-bottom: $content-between-margin;
    }

    md-select {
        width: 30%;
    }

    .mat-select /deep/ .mat-select-trigger {
        min-width: 80px;
    }
}

#height, #weight {
    width: 35%;
}

#height {
    float: left;
}

#weight {
    float: right;
}

.mat-input-flex {
    display: inline-flex;
    align-items: baseline;
    width: 80%;
}

#submit-button {
    margin: $content-between-margin 0 10px 0;
    text-align: center;
    width: 100%;

    button {
        width: 90%;
        height: 45px;
        border: none;
        border-radius: 45px;
        outline: none;
        font-size: $button-text;
        font-weight: 600;
        background: $btn-color;
    }
}

.additional-info {
    text-align: center;
    font-size: $minor-text/1.2;
    color: $text-second-color;
}

@media only screen and (max-width: $small-screen) {
    #form {
        width: 90%;
        padding: 0;
    }

    #social-registration {
        text-align: center;
    }

    .error {
        font-size: $minor-text;
    }

    #birthday {
        #birthday-inputs {
            flex-wrap: wrap;
        }

        md-select {
            width: 100%;
            margin: $content-between-margin 0;
        }
        .additional-info {
            font-size: 10px;
            margin-bottom: $content-tb-margin;
        }
    }

    #height, #weight {
        width: 45%;
    }
}


@media only screen and (min-width: $small-screen + 1) and (max-width: $medium-screen) {

    #form {
        width: 80%;
    }

    #birthday {
        .additional-info {
            font-size: $minor-text;
        }
    }

    #submit-button {
        button {
            width: 100%;
        }
    }
}
