<div id="registration">
  <div id="form">
    <div id="exit-icon">
      <div></div>
      <div></div>
    </div>
    <div id="social-registration">Register via
      <a href="/auth/facebook">Facebook</a> or <a href="/auth/google">Google</a>
    </div>

    <form #form="ngForm">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
        <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
        <g fill="#82CA9C"><path d="M735.9,518.1H264.1V645c0,30.3-24.4,54.7-54.4,54.7c-30.3,0-54.4-24.5-54.4-54.7v-21c-5.7,2-11.8,3.1-18.1,3.1c-30.3,0-54.4-24.4-54.4-54.5v-54.4H10v-36.3h72.6v-54.4c0-30.1,24.4-54.5,54.4-54.5c6.4,0,12.5,1.1,18.1,3.1l0,0v-21c0-30.3,24.4-54.7,54.4-54.7c30.3,0,54.4,24.5,54.4,54.7v126.8h471.9V355c0-30.3,24.4-54.7,54.4-54.7c30.3,0,54.4,24.5,54.4,54.7v21c5.7-2,11.8-3.1,18.1-3.1c30.3,0,54.4,24.4,54.4,54.5v54.4H990v36.3h-72.6v54.4c0,30.1-24.4,54.5-54.4,54.5c-6.4,0-12.5-1.1-18.1-3.1v21c0,30.3-24.4,54.7-54.4,54.7c-30.3,0-54.4-24.5-54.4-54.7V518.1L735.9,518.1z"/></g>
      </svg>

      <div id="general-error" class="error" *ngIf="userError">{{ userError }}</div>

      <div id="gender" class="input-row">Male
        <md-slide-toggle required (change)="setGender($event)"></md-slide-toggle>
        Female
      </div>


      <md-input-container class="input-row">
        <input mdInput type="email" placeholder="Email" [(ngModel)]="user.email" [errorStateMatcher]="myErrorStateMatcher">
        <md-error>This field is required</md-error>
      </md-input-container>

      <md-input-container>
        <input mdInput [(ngModel)]="user.email" required [errorStateMatcher]="myErrorStateMatcher">
        <md-error>This field is required</md-error>
      </md-input-container>


      <div class="input-row">
        <div class="error" *ngIf="emailError">{{ emailError }}</div>
        <div class="error" *ngIf="emailInput.errors && emailInput.errors.required && emailInput.touched">Email cannot be empty</div>
        <div class="error" *ngIf="emailInput.errors && emailInput.errors.pattern && emailInput.touched">Email is not valid</div>
        <input
          id="email"
          type="email"
          name="email"
          placeholder="Email"
          required
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          [(ngModel)]="user.email"
          #emailInput="ngModel">
      </div>

      <div class="input-row">
        <div class="error" *ngIf="firstNameInput.errors && firstNameInput.errors.required && firstNameInput.touched">First name cannot be empty</div>
        <div class="error" *ngIf="firstNameInput.errors && firstNameInput.errors.minlength && firstNameInput.touched">First name should contain at least 2 characters</div>
        <input
          id="first-name"
          type="text"
          name="firstName"
          placeholder="First name"
          required
          minlength="2"
          [(ngModel)]="user.firstName"
          #firstNameInput="ngModel">
      </div>

      <div class="input-row">
        <div class="error" *ngIf="lastNameInput.errors && lastNameInput.errors.required && lastNameInput.touched">Last name cannot be empty</div>
        <div class="error" *ngIf="lastNameInput.errors && lastNameInput.errors.minlength && lastNameInput.touched">Last name should contain at least 2 characters</div>
        <input
          id="last-name"
          type="text"
          name="lastName"
          placeholder="Last name"
          required
          minlength="2"
          [(ngModel)]="user.lastName"
          #lastNameInput="ngModel">
      </div>

      <div id="birthday" class="input-row">
        <div>Birthday</div>
        <div id="birthday-warning" [ngClass]="{'error': errors.year}">You should be older than 18. Others don't see your birthday.</div>
        <div id="birthday-inputs">
          <select
            name="month"
            [(ngModel)]="user.month"
            (change)="setDayOptions(user.month, user.year)">
            <option *ngFor="let option of monthOptions"
              value="{{ option }}">
              {{ option }}
            </option>
          </select>

          <select name="day">
            <option *ngFor="let option of dayOptions"
              value="{{ option }}">
              {{ option }}
            </option>
          </select>

          <select
            name="year"
            [(ngModel)]="user.year"
            (change)="setDayOptions(user.month, user.year)">
            <option *ngFor="let option of yearOptions"
              value="{{ option }}">
              {{ option }}
            </option>
          </select>
        </div>
      </div>

      <div class="input-row">
        <div class="error" *ngIf="errors.height">{{ errors.height }}</div>
        <div class="error" *ngIf="errors.weight">{{ errors.weight }}</div>
        <div class="error" *ngIf="heightInput.errors && heightInput.errors.required && heightInput.touched">Height field cannot be empty</div>
        <div class="error" *ngIf="heightInput.errors && heightInput.errors.minlength && heightInput.touched">Height should contain at least 2 characters</div>
        <div class="error" *ngIf="weightInput.errors && weightInput.errors.required && weightInput.touched">Weight field cannot be empty</div>
        <div class="error" *ngIf="weightInput.errors && weightInput.errors.minlength && weightInput.touched">Weight should contain at least 2 characters</div>
        <input
          id="height"
          type="number"
          name="height"
          placeholder="Height"
          required
          minlength="2"
          min="50"
          max="270"
          [(ngModel)]="user.height"
          #heightInput="ngModel">

        <input
          id="weight"
          type="number"
          name="weight"
          placeholder="Weight"
          required
          minlength="2"
          min="5"
          max="500"
          [(ngModel)]="user.weight"
          #weightInput="ngModel">
      </div>

      <div id="password-input" class="input-row">
        <div>Create a password:</div>
        <div class="error" *ngIf="passwordInput.errors && passwordInput.errors.required && passwordInput.touched">Password cannot be empty</div>
        <div class="error" *ngIf="passwordInput.errors && passwordInput.errors.minlength && passwordInput.touched">Password should contain at least 6 characters</div>
        <input
          id="password"
          type="password"
          name="password"
          required
          minlength="6"
          [(ngModel)]="user.password"
          #passwordInput="ngModel">
      </div>

      <div id="submit-button">
        <div>By pressing "Register" I accept the following terms: Terms of Service, Payment Service Conditions, Confidentiality Policy</div>
        <button md-icon-button
          type="submit"
          (click)="register(form)">
          Register
        </button>
      </div>

      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
        <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
        <g fill="#82CA9C"><path d="M735.9,518.1H264.1V645c0,30.3-24.4,54.7-54.4,54.7c-30.3,0-54.4-24.5-54.4-54.7v-21c-5.7,2-11.8,3.1-18.1,3.1c-30.3,0-54.4-24.4-54.4-54.5v-54.4H10v-36.3h72.6v-54.4c0-30.1,24.4-54.5,54.4-54.5c6.4,0,12.5,1.1,18.1,3.1l0,0v-21c0-30.3,24.4-54.7,54.4-54.7c30.3,0,54.4,24.5,54.4,54.7v126.8h471.9V355c0-30.3,24.4-54.7,54.4-54.7c30.3,0,54.4,24.5,54.4,54.7v21c5.7-2,11.8-3.1,18.1-3.1c30.3,0,54.4,24.4,54.4,54.5v54.4H990v36.3h-72.6v54.4c0,30.1-24.4,54.5-54.4,54.5c-6.4,0-12.5-1.1-18.1-3.1v21c0,30.3-24.4,54.7-54.4,54.7c-30.3,0-54.4-24.5-54.4-54.7V518.1L735.9,518.1z"/></g>
      </svg>
    </form>

    <div id="login">
      Already have an account?
      <a href="/login">Login</a>
    </div>
  </div>
</div>