@import '../../../globalStyles/variables.scss';

/* general */

* {
  font-family: 'Roboto', sans-serif;
  color: $text-main-color;
}

a {
  color: $text-main-color;
}

svg {
  width: 40px;
  margin: 10px 0;
}

/* registration form */

#registration {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
  color: $text-main-color;
  background: $bg-color;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 90%;
  height: 80%;
  margin-top: 25px;
  padding: 20px;
  background: $gradient-from-color;
  background: -webkit-linear-gradient($gradient-to-color, $gradient-from-color);
  background: -o-linear-gradient($gradient-to-color, $gradient-from-color);
  background: -moz-linear-gradient($gradient-to-color, $gradient-from-color);
  background: linear-gradient($gradient-to-color, $gradient-from-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}

#exit-icon {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 25px;
  height: 25px;
  font-size: 0;

  div {
    width: 25px;
    height: 2px;
    border-radius: 2px;
    background-color: $text-main-color;
  }

  div:first-child {
    transform: translateY(10px) rotate(-45deg);
  }

  div:last-child {
    transform: translateY(8px) rotate(45deg);
  }
}

#exit-icon:hover {
  cursor: pointer;
}

#social-registration {
  text-align: left;
  font-size: 14px;
}

.input-row {
  width: 100%;
}

#general-error {
  margin-bottom: 20px;
}

#gender {
  margin-bottom: 10px;
  text-align: center;
}

md-slide-toggle {
  margin: 0 7px 0 15px;
}

.error {
  display: block;
  width: 100%;
  margin: 0;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: $error-color;
}

#birthday {
  div {
    text-align: left;
    font-size: 16px;
  }

  #birthday-warning {
    margin: 5px 0 10px;
    font-size: 12px;
  }

  #birthday-inputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 15px;
  }

  md-select {
    width: 45%;
  }
}

#height, #weight {
  width: 35%;
}

#height {
  float: left;
}

#weight {
  float: right;
}

.mat-input-flex {
  display: inline-flex;
  align-items: baseline;
  width: 80%;
}

#submit-button {
  margin-bottom: 10px;

  div {
    margin-bottom: 20px;
    text-align: left;
    font-size: 12px;
  }

  button {
    width: 90%;
    height: 45px;
    border: none;
    border-radius: 45px;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    background: $btn-color;
  }

  button:hover {
    cursor: pointer;
  }
}

#login {
  flex-basis: 5%;
}


@media only screen and (min-width: $small-screen) {

  #form {
    padding: 30px;
  }

  #exit-icon {
    right: 30px;
    width: 20px;
    height: 20px;

    div {
      width: 20px;
    }

    div:first-child {
      transform: translateY(8px) rotate(-45deg);
    }

    div:last-child {
      transform: translateY(6px) rotate(45deg);
    }
  }

  #social-registration {
    text-align: center;
  }

  .error {
    font-size: 12px;
  }

  #birthday {
    #birthday-inputs {
      flex-wrap: nowrap;
    }

    md-select {
      width: 25%;
    }
  }

  #height, #weight {
    width: 45%;
  }
}


@media only screen and (min-width: $medium-screen) {

  #form {
    width: 370px;
    height: 80%;
    padding: 60px 45px 30px;
  }

  //input {
  //  margin-bottom: 25px;
  //}

  #birthday {
    #birthday-warning {
      margin: 5px 0 25px;
      font-size: 12px;
    }

    #birthday-inputs {
      margin-bottom: 25px;
    }
  }

  #submit-button {
    button {
      width: 100%;
    }
  }
}
