<div class="container">
    <div class="profile">
        <md-card-title class="profile-title">User profile</md-card-title>

        <div class="blockHeader">Special:</div>
        <div class="textField">
          <span class="property">User ID: </span><span class="value">56r51sr84z6r84</span>
        </div>
        <div class="textField">
          <span class="property">Status: </span><span [class.online]="false" class="value status">offline</span>
        </div>
        <div class="textField">
          <span class="property">Role: </span><span class="value">custom user</span>
        </div>

        <div class="blockHeader">General info:</div>
        <div class="textField">
          <span class="property">First name: </span><span class="value">Alex</span>
        </div>
        <div class="textField">
          <span class="property">Last name: </span><span class="value">Tovmach</span>
        </div>
        <div class="textField">
          <span class="property">Email: </span><span class="value">alextovmach@gmail.com</span>
        </div>

        <div class="blockHeader">Characteristics:</div>
        <div class="textField">
          <span class="property">Height: </span><span class="value">192cm</span>
        </div>
        <div class="textField">
          <span class="property">Weight: </span><span class="value">87kg</span>
        </div>
        <div class="textField">
          <span class="property">Age: </span><span class="value">21</span>
        </div>
        <div class="textField">
          <span class="property">Sex: </span><span class="value">male</span>
        </div>
    </div>
</div>
