<div id="message-container">
    <div class="no-items" *ngIf="messages.length === 0">
        There are no posts.
    </div>
    <div id="message-button" *ngIf="!posting">
        <button md-icon-button type="button" (click)="openMessageInput()">
            Post a message
        </button>
    </div>
    <app-message-posting
        *ngIf="posting"
        [parentElement]="'event'" [eventId]="eventId"
        (hideInput)="updateData(); closeMessageInput()">
    </app-message-posting>

    <div id="posts" *ngIf="messages.length > 0">
        <div class="post" *ngFor="let post of paginatorOutput">
            <div class="post-creator">
                <a routerLink="/user/profile/{{ post.user._id }}">
                    <img src="{{ post.user.userPhoto }}">
                </a>
                <a routerLink="/user/profile/{{ post.user._id }}">
                    <p class="post-name">{{ post.user.fullName }}</p>
                </a>
            </div>

            <div class="post-text-block">
                <div class="message-handler">
                    <p class="post-edit" (click)="updateMessage(post)">{{ post.editing ? 'Save' : 'Edit' }}</p>
                    <p class="post-delete" (click)="deleteMessage(post._id)">Delete</p>
                </div>
                <p class="post-date">{{ post.dateOutput }}</p>

                <div id="edit-container" *ngIf="post.editing">
                    <button class="material-icons close" (click)="closeEditInput(post)">close</button>
                    <md-input-container class="input-row">
                    <textarea
                        mdInput
                        autofocus
                        type="text"
                        name="post"
                        placeholder="Message text"
                        required
                        [(ngModel)]="post.body"
                        [formControl]="postFormControl">
                    </textarea>
                    <md-error *ngIf="postFormControl.hasError('required')">
                        Message text is required
                    </md-error>
                    <md-error *ngIf="postFormControl.hasError('maxlength')">
                        Message should contain no more than 300 characters
                    </md-error>
                    </md-input-container>
                </div>

                <p class="post-text" *ngIf="!post.editing">{{ post.body }}</p>
            </div>
        </div>
    </div>

    <md-paginator
        *ngIf="messages.length > 0"
        [length]="messages.length"
        [pageSize]="pageEvent.pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = $event"
        (click)="makePaginatorOutput()">
    </md-paginator>
</div>
