<div class="articles-container">
    <h1 class="title">Articles</h1>
    <div class="articles-header">
        <md-tab-group class="articles-tabs-wrap" [(selectedIndex)]="selectedTab" (selectChange)="changeSort($event)">
            <md-tab label="My"></md-tab>
            <md-tab label="Followed"></md-tab>
            <md-tab label="All"></md-tab>
        </md-tab-group>
        <md-input-container class="articles-search-wrap">
            <input mdInput
                   class="articles-search"
                   #search
                   placeholder="Search"
                   (keyup)="setSearch(search.value)"
                   autocomplete="off">
            <md-icon mdSuffix>search</md-icon>
        </md-input-container>
    </div>
    <div class="articles-wrap" [class.articles-empty-wrap]="articles.length === 0">
        <div class="article-wrap" *ngFor="let article of articles">
            <div class="image-wrap"
                 [routerLink]="'/user/articles/' + (linksToEdit ? 'edit/' : '') + article._id"
                 [style.background-image]="'url(' + article.image + ')'"></div>
            <div class="content-wrap">
                <div class="heading">
                    <a [routerLink]="'/user/articles/' + (linksToEdit ? 'edit/' : '') + article._id"
                       class="heading-link"> {{article.title}}</a>
                </div>
                <div class="author-wrap">
                    <div class="author">By {{article.user.fullName}}</div>
                    <div class="date">{{article.date | date}}</div>
                </div>
                <div class="preview-text" [innerHTML]="article.previewHTML"></div>
            </div>
        </div>
        <div class="articles-empty item-container" *ngIf="articles.length === 0 && selectedTab !== 0">
            <p class="train-item-text">Nothing found</p>
        </div>
        <div class="add-container item-container" *ngIf="selectedTab === 0" [routerLink]="'/user/articles/create'">
            <i class="material-icons add-item-ico">add</i>
        </div>
        <div class="loader-wrap" *ngIf="loading">
            <div class="cssload-container">
                <div class="cssload-whirlpool"></div>
            </div>
        </div>
    </div>
</div>
