@import '../../../../../globalStyles/variables';
@import '../../../../../globalStyles/indentations';
@import '../../../../../globalStyles/text';
.days {
    height: 60vh;
    .day {
        .head {
            padding: 10px 20px;
            font-size: 16px;
            border: 1px solid #424242;
            text-align: center;
            cursor: pointer;
            &:hover {
                background-color: $gradient-to-color;
            }
        }
        .day-plan {
            transition: all linear 0.5s;
            padding: 10px 20px;
            border: 1px solid #424242;
            height: calc(60vh - 280px);
            overflow-y: scroll;
            .add-item {
                display: flex;
                align-items: center;
                i {
                    background-color: $main-color;
                    border-radius: 15px;
                }
                span {
                    font-size: $usual-text;
                    margin-left: $mini-indent;
                }
            }
            .meal-form {
                .meal-name {
                    width: 100%;
                    margin-top: 10px;
                }
                .btn-save {
                    display: block;
                    border: none;
                    width: 70px;
                    padding: 5px;
                    color: $text-main-color;
                    background-color: $btn-color;
                    font-weight: bold;
                    font-size: 14px;
                    border-radius: 50px;
                    cursor: pointer;
                    outline: none;
                }
                .save {
                    display: flex;
                    justify-content: center;
                    margin-top: 10px;
                    span {
                        cursor: pointer;
                        padding: 5px 10px;
                        border: 1px solid $main-color;
                        border-radius: 20px;
                        &:hover {
                            background-color: $main-color;
                        }
                    }
                }
            }
            .meal {
                position: relative;
                h4+.kcal {
                    position: absolute;
                    top: 3px;
                    right: 10px;
                }
            }
            .kcal {
                font-size: 13px;
                color: $text-second-color;
            }
            .products {
                h4 {
                    margin: 10px 0px;
                }
                .list {
                    .item {
                        display: flex;
                        flex-direction: row;
                        line-height: 20px;
                        .quantity {
                            margin: 0 10px;
                            color: $main-color;
                        }
                        .del {
                            display: none;
                            margin-left: 20px;
                            i {
                                font-size: 14px;
                            }
                        }
                        &:hover {
                            .del {
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

