@import '../../../../../../globalStyles/variables.scss';
@import '../../../../../../globalStyles/indentations.scss';
@import '../../../../../../globalStyles/text.scss';

.food-plan {
    .content {
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        height: 70%;

        #eaten {
            width: 100%;
        }

        #meal-list {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 90%;

            md-checkbox {
                margin: 10px;

                span {
                    font-size: $minor-text;
                }
            }
        }
    }
}

#eaten > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
    font-size: $main-text;

    .kcal-amount {
        margin-top: -9px;
        font-size: $header-text;

        span {
            font-size: $main-text;
        }
    }
}


@media only screen and (min-width: $medium-screen) {

    .food-plan > .content > #eaten {
        width: 50%;
    }
}
