@import '../../../../../../globalStyles/variables.scss';
@import '../../../../../../globalStyles/indentations.scss';
@import '../../../../../../globalStyles/text.scss';

.food-plan {
    .content {
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: nowrap;
        height: 70%;

        .food-plan-status {
            width: 100%;
        }

        .meal-list {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            width: 90%;

            .list-meal {
                display: flex;
                flex-flow: row wrap;
                align-items: center;
                cursor: pointer;
            }

            md-checkbox {
                margin: 10px;
                cursor: pointer;
            }

            span {
                margin-left: 5px;
                font-size: $minor-text;
                color: $text-second-color;
            }
        }
    }
}

.food-plan-status > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
    font-size: $main-text;

    .kcal-amount {
        margin-top: -9px;
        font-size: $header-text;

        span {
            font-size: $main-text;
        }
    }
}


@media only screen and (min-width: $medium-screen) {

    .food-plan > .content > .food-plan-status {
        width: 50%;
    }
}
