<div class="food-plan inner-container">
    <h2 class="drag-handle">{{ title }}</h2>
    <div class="content">
        <div class="no-items" *ngIf="!foodPlan">
            You haven't started to track any plan yet.
            <button md-icon-button type="button" routerLink="food-tracking">
                Start now!
            </button>
        </div>
        <div class="food-plan-status" *ngIf="foodPlan">
            <div>
                <div class="kcal-title">today eaten:</div>
                <div class="kcal-amount">
                    {{ foodPlan.todayMeals.eaten > 0 ? foodPlan.todayMeals.eaten : 0 }}
                    <span> kcal</span>
                </div>
            </div>
            <div>
                <div class="kcal-title">left to eate:</div>
                <div class="kcal-amount">
                    {{ foodPlan.todayMeals.totalKcal - (foodPlan.todayMeals.eaten > 0 ? foodPlan.todayMeals.eaten : 0) }}
                    <span> kcal</span>
                </div>
            </div>
            <div class="meal-list">
                <div class="list-meal" *ngFor="let item of foodPlan.todayMeals.meals" (click)="openFoodTracking()">
                    <md-checkbox class="meal" [disabled]="true" [ngModel]="item.done"></md-checkbox>
                    <p>{{ item.name }}</p><span> ({{ item.eaten > 0 ? item.eaten : 0 }} kcal of {{ item.kcal }} kcal)</span>
                </div>
            </div>
        </div>
    </div>
</div>