@import '../globalStyles/variables.scss';
body {
    position: absolute;
    width: 100%;
    height: 100%;
}

app-header-view {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.login-child {
    width: 100%;
    height: calc(100vh - 70px);
    margin-top: 70px;
}

.index-child {
    width: 100%;
    height: 100vh;
}

@media screen and (max-width: $small-screen) {
    .login-child {
        height: calc(100vh - 50px);
        margin-top: 50px;
    }
}
