@import '../../../../../globalStyles/variables';
@import '../../../../../globalStyles/indentations';
@import '../../../../../globalStyles/text';

md-error {
    color: $error-color;
}

.btn {
    border: none;
    margin: 35px auto 0 auto;
    width: 250px;
    padding: 15px;
    color: $text-main-color;
    background-color: $btn-color;
    font-size: $button-text;
    font-weight: 600;
    font-size: 11pt;
    border-radius: 50px;
    outline: none;
    &:hover {
        cursor: pointer;
    }
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    font-family: $font-general;
    color: $text-main-color;
    padding: 20px;
}

.settings-title {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.settings-title-second {
    margin: 20px;
    font-size: $main-text;
}

.row {
    width: 100%;
    display: flex;
    align-items: center;
}

.row-name {
    width: 50%;
    margin-right: 30px;
    text-align: right;
}
