<div class="page-container">
    <div class="general">
        <img src="{{tribe.image}}" class="tribe-logo">
        <h1>{{tribe.name}}</h1>
        <span class="mid-text menu-option">Send message</span>
        <span class="mid-text menu-option" (click)="showFollowers()">Followers</span>
        <a class="mid-text menu-option"
           *ngIf="userId === tribe.creator"
           routerLink="{{settingsLink}}">Settings</a>
        <a class="mid-text menu-option" (click)="addPost()">Add post</a>
        <button md-button class="btn" (click)="follow()">Follow</button>
    </div>
    <div class="content">
        <div class="description">
            <h2 class="mid-text">About</h2>
            <span>{{tribe.description}}</span>
        </div>
        <div *ngIf="posts">
            <app-tribe-post *ngFor="let currentPost of posts"
                            #post
                            [post]="currentPost"
                            [tribe]="tribeID"
                            (onAddFavourite)="addFavourite()"
            ></app-tribe-post>
        </div>
    </div>
</div>
