<div class="goals inner-container">
    <h2 class="drag-handle"><a routerLink="goals">{{ title }}</a></h2>
    <div class="content">
        <div class="no-items" *ngIf="goalItems.length === 0">
            There are no goals yet.
            <button md-icon-button type="button" routerLink="goals">
                Set one!
            </button>
        </div>

        <div class="goal-item" *ngFor="let goal of goalItems">
            <div class="goal-body" *ngIf="goalItems.length > 0">
                <div class="goal-start-date">
                    start: {{ goal.startDateOutput }}
                </div>
                <div class="goal-end-date">
                    deadline: {{ goal.deadlineOutput }}
                </div>
                <div class="goal-value">
                    <div class="goal-type">
                        {{ goal.category }}
                    </div>
                    ({{ goal.value }})
                </div>
                <div class="goal-progress" *ngIf="goal.progress">
                    <p class="start-value" *ngIf="goal.progress.current !== goal.progress.start">
                        initial: {{ goal.progress.start }}
                    </p>
                    <p class="current-value" [ngStyle]="{'left': goal.progress.value + '%'}">
                        current: {{ goal.progress.current }}
                    </p>
                    <p class="end-value">
                        goal: {{ goal.progress.goal }}
                    </p>
                    <md-progress-bar
                        [color]="accent"
                        [mode]="determinate"
                        [value]="goal.progress.value">
                    </md-progress-bar>
                </div>
            </div>
        </div>
    </div>
</div>
