@import '../../../../../../globalStyles/variables.scss';
@import '../../../../../../globalStyles/indentations.scss';
@import '../../../../../../globalStyles/text.scss';

.goals {
    max-height: 540px;
    overflow-y: scroll;
    .content {
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: nowrap;
        height: 70%;

        .goal-item {
            width: 100%;

            md-checkbox {
                display: inline-block;
                width: 10%;
                margin-top: $main-text;
            }
        }

        .goal-item:not(:last-child) {
            margin-bottom: 60px;
        }

        .goal-item:last-child {
            margin-bottom: 20px;
        }
    }
}

.goal-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    div {
        display: inline-block;
    }

    .goal-start-date,
    .goal-end-date {
        flex-basis: 50%;
        font-size: $usual-text;
    }

    .goal-start-date {
        color: $text-shadowed-color;
    }

    .goal-end-date {
        text-align: right;
        color: $text-warn-color;
    }

    .goal-value {
        flex-basis: 100%;
        margin-top: 10px;
        font-size: $main-text;
    }

    .goal-progress {
        position: relative;
        width: 100%;
        margin-top: $content-tb-margin;
        padding-top: $content-tb-margin;

        p {
            display: inline-block;
            position: absolute;
            color: $option1-color;
        }

        .start-value,
        .end-value {
            top: 20px;
        }

        .current-value {
            bottom: 0;
        }

        .end-value {
            right: 0;
        }
    }
}

md-progress-bar /deep/ .mat-progress-bar-fill::after {
    background: $btn-color;
}

md-progress-bar /deep/ .mat-progress-bar-buffer {
    background: #556d5b;
}


@media only screen and (min-width: $small-screen) {
}
