@import '../../../../../../globalStyles/variables.scss';
@import '../../../../../../globalStyles/indentations.scss';
@import '../../../../../../globalStyles/text.scss';

.goals {
    .content {
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: nowrap;
        height: 70%;

        #set-goal {
            text-align: center;

            button {
                display: block;
                width: 80px;
                height: 40px;
                margin: $content-between-margin auto 0;
                border: none;
                border-radius: 15px;
                outline: none;
                font-size: $main-text;
                font-weight: 600;
                background: #82ca9c;
            }
        }

        .goal-item {
            width: 100%;

            md-checkbox {
                display: inline-block;
                width: 10%;
                margin-top: $main-text;
            }
        }

        .goal-item:not(:last-child) {
            margin-bottom: 40px;
        }
    }
}

.goal-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    div {
        display: inline-block;
    }

    .goal-start-date,
    .goal-end-date {
        flex-basis: 50%;
        font-size: $usual-text;
    }

    .goal-start-date {
        color: $btn-second-color;
    }

    .goal-end-date {
        text-align: right;
        color: $text-warn-color;
    }

    .goal-value {
        flex-basis: 100%;
        margin-top: 10px;
        font-size: $main-text;
    }

    .goal-progress {
        position: relative;
        width: 100%;
        margin-top: $content-tb-margin;
        padding-top: $content-tb-margin;

        p {
            display: inline-block;
            position: absolute;
            bottom: 0;
            color: $option1-color;
        }

        .current-value {
        }

        .end-value {
            right: 0;
            font-size: $main-text;
        }
    }
}

md-progress-bar /deep/ .mat-progress-bar-fill::after {
    background: $btn-color;
}

md-progress-bar /deep/ .mat-progress-bar-buffer {
    background: #556d5b;
}


@media only screen and (min-width: $small-screen) {
    .goals {
        .content {
            #set-goal {
                button {
                    display: inline-block;
                    margin: 0 0 0 $content-between-margin;
                }
            }
        }
    }
}
