@import '../../globalStyles/variables.scss';
@import '../../globalStyles/indentations.scss';
@import '../../globalStyles/text.scss';

$height: calc(100vh - 70px);

.body-container {
    display: flex;
}

.sidebar-container {
    flex: 0 0 15vw;
    width: calc(15vw - 20px);
    position: fixed;
    left: 0;
    top: 70px;
    height: $height;
    transition: 1s;
    z-index: 99;
}

.sidebar-toggler {
    display: none;
}

.child-container {
    width: 85%;
    margin-left: 15%;
}
@media screen and (min-width: $medium-screen + 1) and (max-width: $large-screen) {
    .sidebar-container {
        min-width: calc(190px - 20px);
    }
    .child-container {
        width: calc(100% - 190px);
        margin-left: 190px;
    }
}
@media screen and (max-width: $medium-screen) {
    .sidebar-container {
        width: 220px;
        top:50px;
    }
    .sidebar-toggler {
        display: block;
        position: fixed;
        width: 30px;
        height: 30px;
        z-index: 101;
        top: 11px;
        left: 8%;
    }
    .hide {
        left: -220px;
    }
    .child-container {
        width: 100%;
        margin-left: 0;
    }
}
