@import '../../globalStyles/variables.scss';
@import '../../globalStyles/indentations.scss';
@import '../../globalStyles/text.scss';

$height: calc(100vh - 70px);

.body-container {
    display: flex;
}

.sidebar-container {
    flex: 0 0 15vw;
    width: calc(15vw - 20px);
    min-width: 190px;
    position: fixed;
    left: 0;
    top: 70px;
    height: $height;
    transition: 1s;
}

.child-container {
    width: 85%;
    margin-left: 15%;
    //overflow-y: auto;
}

@media only screen and (max-width: $medium-screen) {
    .hide {
        left: -190px;
    }

    .child-container {
        margin-left: 55px;
        //overflow-y: auto;
    }
}
