@import '../../globalStyles/variables.scss';
@import '../../globalStyles/indentations.scss';
@import '../../globalStyles/text.scss';

.body-container {
    display: flex;
}

.sidebar-container {
    flex: 0 0 20vw;
    width: calc(20vw - 20px);
    position: fixed;
    left: 0;
    top: 70px;
    height: 100%;
}

.child-container {
    width: 80%;
    margin-left: 20%;
    overflow-y: auto;
}

@media only screen and (max-width: $medium-screen) {
    .sidebar-container {
        width: 55px;
    }
}
