<div class="followers-list-wrapper">
    <div class="followers-header">
    <md-card-title class="profile-title">Your followers</md-card-title>
</div>

    <md-input-container *ngIf="!noFollowers" class="followers-search">
        <input mdInput #search placeholder="Search" (change)="onSearch(search.value)" (keyup)="onSearch(search.value)"
               autocomplete="off">
        <md-icon mdSuffix>search</md-icon>
    </md-input-container>
    <div *ngIf="noFollowers" class="no-followers-msg">You don't have any followers yet</div>
    <md-list>
        <div class="followers-list"
             infinite-scroll
             [infiniteScrollDistance]="2"
             [infiniteScrollThrottle]="150"
             [scrollWindow]="false"
             (scrolled)="onScroll()">
            <md-list-item  *ngFor="let follower of showFollowers">
                <a [routerLink]="'/user/profile/'+follower._id">
                    <div class="user-item">
                        <img class="user-avatar" md-list-avatar
                             [src]="follower.userPhoto || './resources/default.png'">
                        <span class="user-name">{{follower.firstName + ' ' +follower.lastName}}</span>
                    </div>
                </a>
            </md-list-item>
        </div>
    </md-list>
</div>
