$font-size: 13px;
$line-height: 16px;
.items-list {
    .list-input {
        display: inline-block;
        padding: 8px 12px 8px 12px;
        font-size: $font-size;
        line-height: $line-height;
        width: auto;
    }

    .icon {
        font-size: $font-size;
        line-height: $line-height;
        height: $line-height;
        width: $font-size;
        vertical-align: bottom;
        cursor: pointer;
    }

    .chip {
        margin: 3px 2px!important;
        cursor: default;
    }
}
