<div id="coach-container">
    <div id="main-content">
        <div id="weight-container">
            <app-coach-events></app-coach-events>
        </div>
        <div id="calories-container">
            <app-coach-posts></app-coach-posts>
        </div>
        <div id="events-container">
            <app-coach-articles></app-coach-articles>
        </div>
        <div id="food-container">
            <app-coach-plans></app-coach-plans>
        </div>
    </div>
</div>

<aside id="sidebar-wrapper">
    <app-coach-sidebar></app-coach-sidebar>
</aside>

