<div id="coach-container">
    <div id="main-content">
        <div id="event-container">
            <app-coach-events></app-coach-events>
        </div>
        <div id="post-container">
            <app-coach-posts></app-coach-posts>
        </div>
        <div id="article-container">
            <app-coach-articles></app-coach-articles>
        </div>
        <div id="plan-container">
            <app-coach-plans></app-coach-plans>
        </div>
    </div>
</div>

<aside id="sidebar-wrapper">
    <app-coach-sidebar></app-coach-sidebar>
</aside>

