@import '../../../../globalStyles/variables';
@import '../../../../globalStyles/indentations';
@import '../../../../globalStyles/text';

p {
    margin: 0;
}

md-paginator {
    flex-wrap: wrap;

}

md-paginator /deep/ .mat-paginator-range-label {
    margin: 0;
}

#coach-container {
    order: 2;
    display: inline-block;
    width: 90%;
    min-height: 100%;
}

#sidebar-wrapper {
    order: 1;
    width: 90%;

    app-coach-sidebar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: $standard-indent;
        background: linear-gradient($bg-color 75%, $gradient-from-color);
        box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

#main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;

    div {
        width: 100%;
        margin: $micro-indent 0;
        padding: $standard-indent;
        background: $gradient-to-color;
    }

    div:not(:first-child) {
        padding-bottom: 0;
    }
}

.inner-container {
    height: 100%;

    h2 {
        margin: 0 0 $standard-indent 0;
        padding: 0 0 $mini-indent;
        border-bottom: 1px solid $text-main-color;
        font-size: $usual-text;

        a {
            text-decoration: none;
            color: $text-main-color;
        }
    }

    .content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .no-items {
            margin: 0 auto;
        }
    }
}

.recent-day {
    font-size: $main-text;
}

.recent-value {
    font-size: $header-text;
}


@media only screen and (min-width: $small-screen) {

    #main-content {
        div {
            margin: 1% 0;
        }
    }

    h2 {
        margin: 0 0 5% 0;
    }
}


@media only screen and (min-width: $large-screen) {

    md-paginator {
        flex-wrap: initial;
    }

    md-paginator /deep/ .mat-paginator-range-label {
        margin: initial;
    }

    #coach-container {
        order: 1;
        display: inline-block;
        width: 80%;
        min-height: 100%;
    }

    #sidebar-wrapper {
        order: 2;
        width: 0;

        app-coach-sidebar {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: fixed;
            width: 20%;
            max-width: 320px;
            height: calc(100vh - 70px);
        }
    }

    #main-content {
        flex-direction: row;
        height: calc(100vh - 70px);
        padding: $mini-indent 1%;

        div {
            width: 48%;
            min-height: 47%;
            padding: $large-indent;
        }

        div:not(:first-child) {
            padding-bottom: 0;
        }
    }
}
