<div class="container">
    <div class="profile">
        <div class="profile-content profile-row">
            <h3 class="setting-header">Email</h3>
            <div class="profile-email">
                <div class="profile-current-emails">
                    <div class="email-item">
                        <span class="email">{{ user.email }}</span>
                        <span class="root-title">root</span>
                    </div>
                    <div class="email-item" *ngFor="let email of user.secondaryEmails">
                        <span class="email">{{ email }}</span>
                        <span class="root-btn" (click)="makeRoot(email)">make root</span>
                    </div>
                </div>
                <div class=profile-email-btn>
                    <button (click)="openAddNewEmailDialog()" md-raised-button>Add Email Address</button>
                </div>
            </div>
        </div>

        <h3 class="setting-header">Password</h3>
        <div class="profile-password profile-row">
            <button md-raised-button (click)="openConfirmPasswordDialog()" class="">{{user.password ? 'Change password' : 'Set password'}}</button>
        </div>

        <h3 class="setting-header">Social account</h3>
        <div class="social-wrapper profile-row">
            <div class="social-buttons">
                <a md-raised-button (mouseover)="hoverFb = true" (mouseout)="hoverFb = false"  [mdTooltip]="user.facebookID ? 'unlink account' : 'add account'" mdTooltipPosition="above" href="/auth/facebook">
                    <md-icon *ngIf="user.facebookID && !hoverFb">done</md-icon>
                    <md-icon *ngIf="user.facebookID && hoverFb">remove</md-icon>
                    Facebook</a>
                <a md-raised-button (mouseover)="hoverGoogle = true" (mouseout)="hoverGoogle = false" [mdTooltip]="user.googleID ? 'unlink account' : 'add account'"
                    mdTooltipPosition="above" href="/auth/google">
                    <md-icon *ngIf="user.googleID && !hoverGoogle">done</md-icon>
                    <md-icon *ngIf="user.googleID && hoverGoogle">remove</md-icon>
                    Google+</a>
                <a md-raised-button (mouseover)="hoverTwitt = true" (mouseout)="hoverTwitt = false" [mdTooltip]="user.twitterID ? 'unlink account' : 'add account'"
                    mdTooltipPosition="above" href="/auth/twitter">
                    <md-icon *ngIf="user.twitterID && !hoverTwitt">done</md-icon>
                    <md-icon *ngIf="user.twitterID && hoverTwitt">remove</md-icon>
                    Twitter</a>
            </div>
            <div class="addition-info">
                Link your account with social networks for a simple login
            </div>
        </div>

        <h3 class="setting-header">Google calendar</h3>
        <div class="profile-calendar profile-row">
            <button md-raised-button
                    *ngIf="!gcalendarService.inited"
                    disabled="true"
                    class="">Loading</button>
            <button md-raised-button
                    *ngIf="gcalendarService.inited"
                    [disabled]="gcalendarAuthorized"
                    (click)="enableGoogleCalendar()"
                    class="">{{(gcalendarAuthorized) ? 'Google calendar integration enabled' : 'Enable google calendar integration'}}</button>
            <button md-raised-button
                    *ngIf="gcalendarService.inited && gcalendarAuthorized"
                    (click)="disableGoogleCalendar()"
                    class="">Disable</button>
            <div class="addition-info">
                Check your plans on any device
            </div>
        </div>
    </div>
</div>
