<button md-raised-button class="show-chats"
        [class.active]="chatListVisible"
        (click)="toggleChat()">{{(chatListVisible) ? 'Hide' : 'Show'}} chats list
</button>
<div class="chats-list-wrapper active" [class.active]="chatListVisible">
    <div class="users-wrapper">
        <div class="user-wrapper"
             *ngFor="let chat of chats"
             (click)="startChat(chat)">
            <div *ngIf="chat.user"
                 class="user-image"
                 [style.background-image]="'url(' + chat.user.userPhoto + ')'">
                <div class="status-circle online" *ngIf="chat.user.online"></div>
            </div>
            <div *ngIf="chat.user"
                 class="user-name">{{chat.user.fullName}}</div>
        </div>
    </div>
</div>
<div class="chat-windows">
    <app-chat-window *ngFor="let activeChat of activeChats"
                     #window
                     [chat]="activeChat"
                     (close)="closeChat($event)"
                     class="chat-window"></app-chat-window>
</div>
