<button md-raised-button class="show-chats"
        [class.active]="chatListVisible"
        [class.got-messages]="(chats | totalUnread: userId) !== 0"
        (click)="toggleChat()">
    <span class="no-messages">{{(chatListVisible) ? 'Hide' : 'Show'}} chat list</span>
    <span class="got-messages">{{chats | totalUnread: userId}} New Message{{((chats | totalUnread: userId) > 1) ? 's' : '' }}</span>
</button>
<div class="chats-list-wrapper active" [class.active]="chatListVisible">
    <div class="users-wrapper">
        <div class="user-wrapper"
             *ngFor="let chat of chats"
             (click)="startChat(chat)">
            <div *ngIf="chat.user"
                 class="user-image"
                 [style.background-image]="'url(' + chat.user.userPhoto + ')'">
                <div class="status-circle online" *ngIf="chat.user.online"></div>
            </div>
            <div *ngIf="chat.user"
                 class="user-name">{{chat.user.fullName}}</div>
            <div class="new-messages" *ngIf="chat.messages && (chat.messages | unread: userId) !== 0">{{chat.messages | unread: userId}}</div>
        </div>
    </div>
</div>
<div class="chat-windows">
    <app-chat-window *ngFor="let activeChat of activeChats"
                     #window
                     [chat]="activeChat"
                     (close)="closeChat($event)"
                     class="chat-window"></app-chat-window>
</div>
