<div class="calories inner-container">
    <h2>{{ title }}</h2>
    <div class="content">
        <div id="kcal-today-dates">
            <div id="today-burned-kcal">
                <div class="recent-wrap">
                    <div class="recent-day">today:</div>
                    <div class="recent-value">{{ todayBurnedKcal }} kcal</div>
                </div>
                <div class="recent-wrap">
                    <div class="recent-day">recommended:</div>
                    <div class="recent-value">{{ dayAim }} kcal</div>
                </div>
            </div>

            <div class="interval-dates">
                <div class="start-date">
                    <!--<md-input-container>
                        <input
                            mdInput
                            value="startDate"
                            [mdDatepicker]="startPicker"
                            placeholder="Start Date"
                            [(ngModel)]="interval.startDate">
                        <button mdSuffix [mdDatepickerToggle]="startPicker"></button>
                    </md-input-container>
                    <md-datepicker #startPicker></md-datepicker>-->
                </div>

                <div class="end-date">
                    <!--<md-input-container>
                        <input
                            mdInput
                            value="endDate"
                            [mdDatepicker]="endPicker"
                            placeholder="End Date"
                            [(ngModel)]="interval.endDate">
                        <button mdSuffix [mdDatepickerToggle]="endPicker"></button>
                    </md-input-container>
                    <md-datepicker #endPicker></md-datepicker>-->
                </div>
            </div>
        </div>

        <svg id="chart">
            <svg id="day-aim">
                <text></text>
                <line x1="20" y1="0" x2="280" y2="0"/>
            </svg>
        </svg>
    </div>
</div>
