@import '../../../../../../globalStyles/variables.scss';
@import '../../../../../../globalStyles/indentations.scss';
@import '../../../../../../globalStyles/text.scss';

.calories {
    .content {
        justify-content: space-around;
        height: 85%;
        font-size: $main-text;
    }
}

#kcal-today-dates {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100%;
    height: 100%;

    .recent-wrap {
        display: flex;
        flex-flow: row nowrap;
        margin: 10px;
    }

    #today-burned-kcal {
        margin-bottom: $content-tb-margin;

        div {
            display: inline-block;
        }
    }

    .interval-dates {
        .start-date,
        .end-date {
            width: 100%;
            font-size: $usual-text;
        }
    }
}

#chart {
    width: 180px;
    height: 100%;

    #day-aim {
        height: 210px;

        line {
            stroke: $text-second-color;
            stroke-width: 2px;
        }

        text {
            font-size: $minor-text;
            fill: $text-second-color;
        }
    }
}


@media only screen and (min-width: $medium-screen) {

    #chart {
        width: 340px;
    }
}


@media only screen and (min-width: $medium-screen) and (max-width: $large-screen) {

    #kcal-today-dates {
        .interval-dates {
            .start-date,
            .end-date {
                display: inline-block;
                width: 40%;
            }
        }
    }
}


@media only screen and (min-width: $large-screen) {

    #kcal-today-dates {
        flex-direction: row;

        .interval-dates {
            .start-date,
            .end-date {
                width: 100%;
            }
        }
    }
}


@media only screen and (min-width: 1850px) {

    #kcal-today-dates {
        flex-direction: column;
        flex-basis: 40%;
    }
}
