@import '../../../../../../globalStyles/variables.scss';
@import '../../../../../../globalStyles/indentations.scss';
@import '../../../../../../globalStyles/text.scss';

.calories > .content {
    justify-content: space-around;
    height: 85%;
    font-size: $main-text;
}

#kcal-today-dates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 40%;
    height: 100%;

    div {
        display: inline-block;
        margin: 0 10px;
    }
}

.start-date,
.end-date {
    font-size: $usual-text;
}

#chart {
    width: 340px;
    height: 100%;
}

#day-aim {
    width: 500px;
    height: 210px;

    line {
        stroke: $text-second-color;
        stroke-width: 2px;
    }

    text {
        font-size: $minor-text;
        fill: $text-second-color;
    }
}

#tooltip {
    opacity: 0;
    font-size: $usual-text;
    font-weight: 600;
    fill: $option1-color;
}
