@import '../../../../globalStyles/variables';
@import '../../../../globalStyles/indentations';
@import '../../../../globalStyles/text';
.food-plan-container {
    width: 100%;
    min-height: 100%;
    padding: 20px 6%;
    .error .mat-input-underline.mat-form-field-underline {
        border-bottom: 1px solid $error-color;
    }
    .error .mat-input-placeholder {
        color: $error-color;
    }
    .general-info {
        display: flex;
        flex-direction: column;
        .controls {
            display: flex;
            justify-content: space-between;
            .title-container {
                width: 25%;
                md-input-container{
                    width: 100%!important;
                }
            }
            .btn-save {
                display: inline-block;
                border: none;
                width: 150px;
                padding: 5px;
                color: $text-main-color;
                background-color: $btn-color;
                font-weight: bold;
                font-size: 14px;
                border-radius: 50px;
                cursor: pointer;
                outline: none;
            }
            .type-container {
                .toggle-button {
                    color: #fff;
                }
                .toggle-button.mat-button-toggle-checked {
                    background-color: $btn-color;
                    color: #111;
                    font-weight: bold;
                }
            }
        }
    }
    .main-content {
        display: flex;
        margin-top: $content-between-margin;
        .plan-side {
            width: 25%;
        }
        .food-side {
            padding: 0 20px;
            width: 75%;
            height: 60vh;
            border: 1px solid #424242;
            margin-left: 5px;
        }
    }
}

@media only screen and (max-width: $large-screen) {
    .food-plan-container {
        .general-info{
            .controls{
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                .title-container{
                    width: 50%;
                } 
                .type-container{
                    width: 50%;
                    display: flex;
                    height: 36px;
                    justify-content: flex-end;
                }
            }
        } 
        .main-content {
            flex-direction: column;
            .plan-side{
                width: 100%;
            }
            .food-side {
                width: 100%;
                padding: 0 10px;
                margin-left: 0;
            }
        }
    }
}

@media screen and (max-width: $small-screen) {

}
@media screen and (max-width: $small-screen) {
    .food-plan-container{
        h1{
            font-size: 18px;
            margin: 5px 0 10px;
        }
        .general-info{
            .controls{
                .type-container{
                    display: flex;
                    height: 30px;
                    .mat-button-toggle-label-content{
                        line-height: 30px;
                        padding: 0 10px;
                    }
                }
                .btn-save{
                    width: 100px;
                    padding: 0;
                }
            }
        } 
    } 
}    