<div class="article-container" *ngIf="article">
  <h1>{{article.title}}</h1>
  <div class="article-data">
    <div class="author">
      <div class="photo">
        <img src="{{article.userId.userPhoto}}" alt="">
      </div>
      {{article.userId.fullName}}</div>
  <span class="date">{{article.date | date}}</span>
  
  </div>
  <div class="preview">
    <img src="{{article.image}}" alt="">
    <div class="preview-text" [innerHtml]="converted.preview"></div>
  </div>
  <div class="detail">
    <div class="detail-text" [innerHtml]="converted.detail"></div>

  </div>
</div>