@import '../../../../../globalStyles/variables.scss';
@import '../../../../../globalStyles/indentations.scss';
@import '../../../../../globalStyles/text.scss';

.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article:not(:last-child) {
    margin-bottom: $standard-indent;
    padding-bottom: $standard-indent;
    border-bottom: 1px solid $text-main-color;
}

.article-image {
    display: block;
    width: 90%;
    max-width: 170px;
    vertical-align: top;
    margin: 0 auto $standard-indent;

    img {
        width: 100%;
    }
}

.article-text-block {
    display: inline-block;

    p {
        display: inline-block;
    }

    .article-title {
        display: inline-block;
        width: 70%;
        margin-bottom: $mini-indent;
        font-size: $main-text;
        font-weight: 600;
    }

    .article-date {
        width: 30%;
        float: right;
        text-align: right;
        font-size: $minor-text;
    }

    .article-text {
        width: 100%;
        font-size: $usual-text;
    }

    a {
        float: right;
        font-size: $usual-text;
        color: $text-main-color;
    }
}


@media only screen and (min-width: $medium-screen) {

    .article {
        flex-direction: row;
    }

    .article-image {
        display: inline-block;
        width: initial;
        margin: 0 $standard-indent 0 0;

        img {
            width: initial;
            height: 170px;
        }
    }
}
