@import '../../../../../globalStyles/variables.scss';
@import '../../../../../globalStyles/indentations.scss';
@import '../../../../../globalStyles/text.scss';

.article {
    display: flex;
    //flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    h3 {
        width: 100%;
        margin: 0 0 $standard-indent;
        text-align: center;
        font-size: $main-text;
        font-weight: 600;
    }

    h3:hover {
        cursor: pointer;
    }
}

.article:not(:last-child) {
    margin-bottom: $standard-indent;
    padding-bottom: $standard-indent;
    border-bottom: 1px solid $text-main-color;
}

.article-date {
    width: 100%;
    float: right;
    text-align: right;
    font-size: $minor-text;
}

.article-image {
    display: block;
    width: 90%;
    max-width: 170px;
    vertical-align: top;
    margin: $standard-indent auto;

    img {
        width: 100%;
    }
}

.article-text-block {
    display: inline-block;

    p {
        display: inline-block;
    }

    .article-text {
        width: 100%;
        font-size: $usual-text;
    }

    a {
        float: right;
        margin: $mini-indent 0;
        font-size: $main-text;
        color: $text-main-color;
    }
}


@media only screen and (min-width: $medium-screen) {

    .article {
        h3 {
            width: 50%;
            margin: 0 0 $standard-indent;
            font-size: $main-text;
            font-weight: 600;
        }
    }

    .article-date {
        width: 50%;
        float: right;
        text-align: right;
        font-size: $minor-text;
    }

    .article-image {
        display: inline-block;
        width: initial;

        img {
            width: initial;
            max-width: 170px;
        }
    }

    .article-text-block {
        a {
            margin: $micro-indent 0 initial 0;
        }
    }
}
