<div class="buttons-container">
    <button md-button disableRipple class="btn" (click)="addEmptyCircle()">Add empty circle
    </button>
    <button md-button disableRipple class="btn" (click)="copyToNewCircle()">Copy to new circle
    </button>
    <button md-button disableRipple class="btn" (click)="deleteCircle()">Delete circle
    </button>
    <!-- <button md-button disableRipple class="btn" (click)="addExercise()">Add exersice
    </button> -->
</div>
<div class="pickers-container">
    <md-radio-group [(ngModel)]="currentCircleNumber">
        <md-radio-button class="example-radio-button"
                         *ngFor="let circle of myInterval.circles;let i = index; trackBy: trackByCircles" [value]="i"
                         (change)="onChange(i)">
        </md-radio-button>
    </md-radio-group>
</div>
<div class="data-container">
    <!-- <md-table #table [dataSource]="dataSource">
        <ng-container cdkColumnDef="name">
            <md-header-cell *cdkHeaderCellDef> Name</md-header-cell>
            <md-cell *cdkCellDef="let row">
                <md-input-container>
                    <input mdInput [placeholder]='' [value]='row.name' (change)="editExerciseName($event,row)">
                </md-input-container>
            </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="time">
            <md-header-cell *cdkHeaderCellDef> Time</md-header-cell>
            <md-cell *cdkCellDef="let row">
                <md-input-container>
                    <input mdInput [placeholder]='' [value]='row.time' (change)="editExerciseTime($event,row)">
                </md-input-container></md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table> -->
    <div class="circle-time">
    Circle time:
        <md-input-container>
            <input mdInput [placeholder]='' [value]='getCircleTime()'>
        </md-input-container>
    </div>
    <div class="rest-time">
        Rest time:
        <md-input-container>
            <input mdInput [placeholder]='' [value]='getRestTime()'>
        </md-input-container>
    </div>
</div>
<!--
<md-table #table [dataSource]="dataSource">
    <ng-container cdkColumnDef="name">
        <md-header-cell *cdkHeaderCellDef> Name</md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.name}}</md-cell>
    </ng-container>

    <ng-container cdkColumnDef="time">
        <md-header-cell *cdkHeaderCellDef> Time</md-header-cell>
        <md-cell *cdkCellDef="let row"> {{row.time}}</md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
</md-table>-->
