@import '../../../../globalStyles/variables';
@import '../../../../globalStyles/indentations';
@import '../../../../globalStyles/text';

.container {
    padding: 20px 15px 0 15px;
    display: flex;
    flex-wrap: wrap;

    .left-wrapper {
        display: flex;
        flex-basis: 30%;
        align-items: flex-start;
        flex-direction: column;

        .plan-name {
            padding: 10px 5px;
            font-size: 28px;
            width: 100%;
        }
        .author-name {
            padding: 10px 5px;
            font-size: 20px;
            width: 100%;
        }
        .training-type {
            padding: 10px 5px;
            width: 100%;
            font-size: 20px;
        }
        .save-button {
            margin-top: 20px;
            padding: 5px;
            width: 100%;
        }
        .training-days {
            padding: 10px 5px;
            width: 100%;

            .days-heading {
                font-size: 20px;
                width: 100%;
            }
            .days-wrap {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                flex-wrap: wrap;
                margin-top: 10px;

                .item {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background: #5a6b60;
                    margin: 5px 4px 5px 0;
                }

                .item.active {
                    background: $btn-color;
                }
            }
        }

        .left {
            width: 60px;
            display: inline-block;
        }
        .capitalize {
            text-transform: capitalize;
        }
    }

    .exercise-wrapper {
        display: flex;
        flex-basis: 70%;

        .exercises {
            width: 100%;
        }
    }
}

@media screen and (max-width: $large-screen) {

    .container {
        flex-direction: column;

        .left-wrapper {
            flex-basis: 100%;

            .save-button {
                max-width: 300px;
            }
        }

        .exercise-wrapper {
            flex-basis: 100%;
        }
    }

}
@media screen and (max-width: $small-screen) {
    .container {

        .left-wrapper {
            flex-basis: 100%;

            .training-days,
            .training-type,
            .author-name,
            .plan-name {
                padding: 10px 0;
            }
        }

        .exercise-wrapper {
            flex-basis: 100%;
        }
    }
}
