@import "../../../../globalStyles/variables";
@import "../../../../globalStyles/indentations";
@import '../../../../globalStyles/text.scss';

.main-container {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    font-family: $font-general;
}



.mat-row {
    height: 50px;
}

.mat-table {
    margin-top: 40px;
    margin-bottom: 40px;
    max-height: calc(100vh - 230px);
    overflow-y: auto;
}

.input-container {
    margin: 10px;
    width: 200px;
}

#btn-add {
    width: auto;
    height: 40px;
    margin: 40px auto 0 auto;
}

.row-text:hover {
    cursor: pointer;
}

.row-text {
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

.row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transp {
    font-style: italic;
    color: $text-second-color !important;
    cursor: default !important;
}
.error {
    font-style: italic;
    color: $error-color;
    cursor: pointer;
}

.disabled {
    background-color: $text-second-color;
    cursor: default;
}

.ico {
    color: $btn-color;
}

.ico:hover {
    cursor: pointer;
}

.hiding{
    display: none !important;
}

@media only screen and (max-width: $small-screen) {
    .main-container {
        width: 80%;
    }
}
