@import "../../../globalStyles/variables.scss";
@import '../../../globalStyles/text.scss';
@import '../../../globalStyles/indentations.scss';

$header-gradient-from: #353535;
$header-gradient-to: #252525;
$height: calc(100vh - 70px);

.menu-element {
    display: block;
}

aside {
    width: 20vw;
    min-height: $height;
    font-family: $font-general;
    font-weight: 600;
    font-size: $usual-text;
    float: left;
    background: linear-gradient($header-gradient-from 75%, $header-gradient-to);

    nav {
        float: right;
        width: 90%;
        position: relative;

        a {
            line-height: $header-text;
            text-decoration: none;
            color: #aaa;
        }

        .navigation__your-section {
            margin-top: $content-between-margin;
        }

        .navigation__icon {
            float: left;
            fill: #aaa;
            vertical-align: middle;
            width: 24px;
            height: 24px;
            margin-right: 13px;
        }

        .active-link {
            svg {
                fill: #fff;
            }
            color: #fff;
            font-weight: bold;
        }

        .active-link::before {
            content: "•";
            position: absolute;
            display: block;
            font-size: 30px;
            left: 0;
            line-height: $header-text;
            color: #82A690;
        }
    }
}

@media screen and (min-width: $medium-screen + 1) and (max-width: $large-screen) {
    aside {
        width: 180px;
    }
}

@media screen and (max-width: $small-screen) {
    aside {
        width: 55px;

        .navigation__title, .navigation__subheader {
            display: none;
        }
    }
}