<app-list [items]="test" placeholder="Items list"></app-list>
<section class="index__banner-wrap">
	<div class="container">
        <div class="index__banner-content">
            <div class="index__heading-wrap">
                <div class="index__heading-text">MFSN</div>
                <div class="index__heading-description">Fitness based social network</div>
            </div>
            <div class="index__auth-wrap">
                <div class="index__auth-socials-wrap">
                    <div class="index__auth-socials-heading">Join now</div>
                    <div class="index__auth-socials">
                        <a href="/auth/facebook" md-button class="index__auth-fb">Facebook</a>
                        <a href="/auth/google" md-button class="index__auth-gp">Google+</a>
                        <a href="/auth/twitter" md-button class="index__auth-tw">Twitter</a>
                    </div>
                </div>
                <div class="index__auth-login">
                    <div class="index__auth-login-heading">Already have account?</div>
                    <div class="index__auth-login-button_wrap">
                        <button routerLink="login" md-raised-button class="index__auth-login-button">Login</button>
                    </div>
                    <div class="index__auth-login-text">or</div>
                    <div class="index__auth-register-button_wrap">
                        <button routerLink="register" md-raised-button class="index__auth-register-button">Register
                        </button>
                    </div>
                </div>
            </div>
        </div>
	</div>
</section>
