<div *ngIf="!intervals.length" class="wrap">
    <button (click)="run()" *ngIf="!secundomerService.runned" class="general start">START</button>
    <button (click)="pause()" *ngIf="secundomerService.runned" class="general pause">PAUSE</button>
    <button (click)="finish()" *ngIf="secundomerService.runned" class="general finish">FINISH</button>
    <div class="numbers">{{beautifierTime(secundomerService.secndomerNum)}}</div>
    <button md-raised-button (click)="warmingUp()" *ngIf="secundomerService.runned&&!secundomerService.warming" class="controll">WARMING UP</button>
    <button md-raised-button (click)="endWarmingUp()" *ngIf="secundomerService.runned&&secundomerService.warming" class="controll">END WARMING UP</button>
    <div class="numbers" *ngIf="secundomerService.warming">{{beautifierTime(secundomerService.secndomerLapNum)}}</div>
</div>
<div *ngIf="intervals.length" class="wrap">
    <button (click)="startTimer(firstRun)" *ngIf="!secundomerService.runned" class="general start">START</button>
    <button (click)="lapTimer()" *ngIf="secundomerService.runned&&choosedIntervals[this.lap + 1]&&(lap%2)" class="general circle">LAP</button>
    <button (click)="lapTimer()" *ngIf="secundomerService.runned&&choosedIntervals[this.lap + 1]&&!(lap%2)" class="general circle">REST</button>
    <button (click)="pauseTimer()" *ngIf="secundomerService.runned" class="general pause">PAUSE</button>
    <button (click)="finishInterval()" *ngIf="secundomerService.runned" class="general finish">FINISH</button>
    <div class="numbers">{{beautifierTime(secundomerService.timer)}}</div>
    <!-- <button md-raised-button (click)="rest()" *ngIf="secundomerService.runned&&!secundomerService.warming" class="controll">REST</button> -->
    <!-- <button md-raised-button (click)="endRest()" *ngIf="secundomerService.runned&&secundomerService.warming" class="controll">END REST</button> -->
    <div class="numbers" *ngIf="secundomerService.warming">{{beautifierTime(secundomerService.timerWarmNum)}}</div>
    <div class="intervalList" *ngIf="intervals[intervals.length - 1].exList && firstRun">
        <div class="interval" *ngFor="let interval of intervals; let i = index">
            <div class="field" (click)="showExercises.emit(interval.exList)" >
                {{interval.name}}
            </div>
            <input type="checkbox" [(ngModel)]="interval.checked" (change)="selectCircles()">
        </div>
    </div>
    <div class="intervalList" *ngIf="intervals[intervals.length - 1].exList && !firstRun">
        <div class="interval" *ngFor="let chinterval of choosedIntervals; let i = index" id="{{'interval' + i}}">
            <div class="field">
                {{chinterval.name}}
            </div>
        </div>
    </div>
    <md-error *ngIf="errorName === 'emptyIntervalList'">*Please check intervals</md-error>   
</div>
<div *ngIf="secundomerService.runned" class="wrap showEx image-preview">
    <h2 class="title">{{exercise.name}}</h2>
    <img  *ngFor="let img of exercise.image;" [src]="img">
</div>