@import "../../../../../../globalStyles/variables.scss";
@import '../../../../../../globalStyles/text.scss';
@import '../../../../../../globalStyles/indentations.scss';
@keyframes cf3FadeInOut {
    0% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }
    55% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    &.general {
        border: none;
        margin: 35px auto 0 auto;
        width: 90%;
        padding: 15px;
        color: $text-main-color;
        font-size: $button-text;
        font-weight: 600;
        font-size: 11pt;
        border-radius: 50px;
        outline: none;

        &.start {
            background-color: $btn-color;
        }
        &.finish {
            background-color: rgba(49, 122, 76, 1);
        }
        &.pause {
            background-color: rgba(89, 162, 116, 1);
        }
        &.circle {
            background-color: rgba(129, 202, 156, 1);
        }
    }
    &.controll {
        margin: auto;
    }
    &:hover {
        cursor: pointer;
    }
}

.numbers {
    font-family: $font-general;
    font-size: 40px;
    width: 80%;
    margin: $content-between-margin auto;
    text-align: center;
    border-bottom: 1px solid $text-second-color;
}

.intervalList {
    width: 90%;
    // background-color: $gradient-from-color;

    .interval {
        transition: all 1s linear;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 20px;
        margin: 5px;
        background-color: #333;
        .field {
            width: 90%;
            float: left;
            text-align: center;
            text-shadow: 0 0 2px 0 white;
            font-weight: bold;
        }
        input {
            width: 20px;
            height: 20px;
            float: right;
        }
    }
}

.showEx {
    // background-color: red;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    
    h2 {
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-height: 20px;
        margin: 0;

    }
    span {
        position: absolute;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-height: 20px;
        bottom: 0;
    }
    img {
        position: absolute;
        top: 20px;
        bottom: 20px;
        height: calc(100% - 20px - 20px);
        max-width: 100%;
        animation-name: cf3FadeInOut;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-duration: 1s;
        animation-direction: alternate;
        -webkit-filter: invert(100%) contrast(55%) brightness(115%);
        filter: invert(100%) contrast(55%) brightness(115%);
    }
    img:last-child {
        animation-delay: -1s;
        opacity: 0;
    }
}

@media screen and (max-width: $small-screen) {
    .timers, .child {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .intervalList {
        .interval {
            height: 40px;
            font-size: 20px;

            .field {
            }
            input {
                width: 40px;
                height: 40px;
            }
        }
    }
}

@media screen and (min-width: $small-screen + 1) and (max-width: $medium-screen) {
    .timers, .child {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}

@media screen and (min-width: $medium-screen + 1) and (max-width: $large-screen) {
    .timers, .child {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
}