 <div class="wrap"> 
    <button (click)="run()" *ngIf="!secundomerService.runned"  class="general start">START</button>
    <button (click)="finish()" *ngIf="secundomerService.runned" class="general finish">FINISH</button>
    <button (click)="pause()" *ngIf="secundomerService.runned" class="general pause">PAUSE</button>
    <div class="numbers">{{beautifierTime(secundomerService.secndomerNum)}}</div>
    <button md-raised-button (click)="warmingUp()" *ngIf="secundomerService.runned&&!secundomerService.warming" class="controll">WARMING UP</button>
    <button md-raised-button (click)="endWarmingUp()" *ngIf="secundomerService.runned&&secundomerService.warming" class="controll">END WARMING UP</button>
    <div class="numbers" *ngIf="secundomerService.warming">{{beautifierTime(secundomerService.secndomerLapNum)}}</div>
 </div>