<div class="container">
    <h2 class="title" md-dialog-title>Upadate password</h2>

    <div class="password-container">

        <form novalidate>
            <md-input-container>
                <input type="password" mdInput class="current-password-input" placeholder="Current Password" (keyup.enter)="onEnterPasword()"
                    [formControl]="currentPasswordFormControl">
                <md-error>Password is required</md-error>
            </md-input-container>
        </form>


        <form novalidate class="new-password-form" [formGroup]="passwordForm">
            <div *ngIf="changePassword" class="info">Set your new password</div>
            <md-input-container floatPlaceholder="never">
                <input class="input" type="password" mdInput placeholder="New Password" formControlName="newPassword">
                <md-error *ngIf="passwordForm.get('newPassword').hasError('required')">This field is required</md-error>
                <md-error *ngIf="passwordForm.get('newPassword').hasError('minlength')">Password must be longer then 6 characters</md-error>
            </md-input-container>
            <md-input-container floatPlaceholder="never">
                <input type="password" mdInput placeholder="Confirm password"  formControlName="newPasswordConfirmation">
            </md-input-container>
            <md-error class="" *ngIf="passwordForm.status==='INVALID' && passwordForm.dirty">Passwords doesn`t match</md-error>
            <md-dialog-actions>
                <button md-button [disabled]="!passwordForm.valid " class="btn" (click)="onClick(passwordForm.value)" md-dialog-close>Upadate password</button>
            </md-dialog-actions>
        </form>
    </div>


</div>
