@import '../../../globalStyles/variables.scss';
@import '../../../globalStyles/text.scss';
@import '../../../globalStyles/indentations.scss';
.note-container {
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.note-title {
    margin: 0;
    font-size: $main-text;
}

.note-item {
    font-size: $usual-text;
    padding: 0 25px;
    cursor: pointer;
    &:hover {
        background: #494949;
    }
    a {
        max-width: 200px;
    }
}
// ------------------------------------
.notifications__dialog {
    padding: 0;

    .notifications__dialog-button {
        width: 100%;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: left;
        padding-right: 30px;
    }
}

.notification__actions{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.unread {
  position: relative;
}

.unread:after {
  content: '';
  position: absolute;
  background: red;
  border-radius: 50%;
  display: inline-block;
  padding: 0.3em;
  color: #f2f2f2;
  right: 20px;
  top: 15px;
  width: 10px;
  height: 10px;
}
