@import '../../../../globalStyles/variables.scss';
@import '../../../../globalStyles/indentations.scss';
@import '../../../../globalStyles/text.scss';

.container {
    display: flex;
    width: 100%;
    margin-top: $header-top-margin;
    min-height: 500px;
    background-color: $bg-color;
    font-family: $font-general;
    font-size: $usual-text;
    justify-content: center;
}

.profile {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    padding: $content-tb-margin 0;
    border: 1px #2A2A2A solid;
    background: $gradient-from-color;
    background-image: linear-gradient(to top, $gradient-from-color, $gradient-to-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}

.profile-title {
    font-size: $header-text;
    text-align: center;
    margin: $content-between-margin 0;
}

.blockHeader {
    font-size: $main-text;
    text-align: center;
    margin: $content-between-margin 0;
}

.textField {
    margin: 0 $content-lr-margin $content-between-margin $content-lr-margin;
    .property {
        float: left;
    }

    .value {
        float: right;
    }

    .online {
        color: green;
    }

    .status {
        font-style: italic;
    }
}
.emails {
    ul {
        list-style-type: none;
    }
    li {
        text-align: right;
        margin: 2px 0;
    }
}





@media only screen and (max-width: $small-screen) {
    .container {
        margin-top: 0;
    }
    .profile {
        box-shadow: none;
        border: none;
    }
}
