<div class="profile">
    <h2>User profile</h2>
    <div class="blockHeader">SPECIAL</div>
    <div class="textField">
        <span class="property">User ID: </span><span class="value">{{id}}</span>
    </div>
    <div class="textField">
        <span class="property">Status: </span><span [class.online]="false" class="value status">{{status}}</span>
    </div>
    <div class="textField">
        <span class="property">Role: </span><span class="value">{{role}}</span>
    </div>

    <div class="blockHeader">GENERAL</div>
    <div class="textField">
        <span class="property">First name: </span><span class="value">{{fName}}</span>
    </div>
    <div class="textField">
        <span class="property">Last name: </span><span class="value">{{lName}}</span>
    </div>
    <div class="textField">
        <span class="property">Email: </span>
        <div class="value emails">
        <ul>
            <li *ngFor="let mail of email">{{mail}}</li>
        </ul>
        </div>
    </div>

    <div class="blockHeader">CHARACTERISTIC</div>
    <div class="textField">
        <span class="property">Height: </span><span class="value">{{height}} cm</span>
    </div>
    <div class="textField">
        <span class="property">Weight: </span><span class="value">{{weight}} kg</span>
    </div>
    <div class="textField">
        <span class="property">Age: </span><span class="value">{{age}}</span>
    </div>
    <div class="textField">
        <span class="property">Gender: </span><span class="value">{{gender}}</span>
    </div>
</div>
