@import '../../../globalStyles/variables.scss';
@import '../../../globalStyles/indentations.scss';
@import '../../../globalStyles/text.scss';

.container {
    width: 300px;
    font-family: $font-general;

    .title {
        text-align: center;
    }

    md-dialog-actions {
        display: flex;
        justify-content: center;
    }

    .btn-container {
        margin-top: 10px;

        .add-btn {
            background: $btn-color;
            border-radius: 5px;
            line-height: 30px;
            font-weight: bold;
        }
    }
}


@media only screen and (max-width: $small-screen) {
    .container {
        width: 200px;
    }
}
