@import '../../../../../../globalStyles/variables.scss';
@import '../../../../../../globalStyles/indentations.scss';
@import '../../../../../../globalStyles/text.scss';

.events {
    .content {
        justify-content: space-between;
        flex-wrap: wrap;
        height: 70%;

        .start-date,
        .end-date {
            width: 100%;

            .mat-form-field {
                width: 100px;
            }
        }

        .end-date {
            text-align: right;
        }
    }
}

#day-picker {
    position: relative;
    width: 100%;
    margin-top: $content-lr-margin;

    svg {
        position: absolute;
        width: 100%;
        height: 10px;

        line {
            stroke: $text-second-color;
            stroke-width: 2px;
        }
    }
}

md-radio-group {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: +1;
    top: -42px;
    width: 100%;

    input {
        display: none;
    }

    label {
        cursor: pointer;
        font-size: $minor-text;
        color: $text-second-color;

        div {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background-color: $btn-second-color;
        }
    }

    .label-checked {
        color: $text-main-color;
    }

    .label-unchecked {
        color: $text-second-color;
    }
}

.event-output {
    flex-basis: 100%;
    margin-top: $content-lr-margin;

    .event {
        div {
            display: inline-block;
        }
    }
}


@media only screen and (min-width: $medium-screen) {

    .events {
        .content {
            .start-date,
            .end-date {
                width: 50%;
            }
        }
    }
}


@media only screen and (min-width: $hd-screen) {

    .events {
        .content {
            .start-date,
            .end-date {
                .mat-form-field {
                    width: 200px;
                }
            }
        }
    }
}
