<div class="events inner-container">
    <h2 class="drag-handle">{{ title }}</h2>
    <div class="content">
        <div class="no-items" *ngIf="events.length === 0">
            There are no events yet.
            <button md-icon-button type="button" routerLink="">
                Add one!
            </button>
        </div>

        <div class="start-date" *ngIf="events.length > 0">
            <md-input-container>
                <input
                    mdInput
                    [mdDatepicker]="startPicker"
                    placeholder="Start Date"
                    [(ngModel)]="interval.startDate"
                    (ngModelChange)="processDates()">
<!--
                <button mdSuffix [mdDatepickerToggle]="startPicker"></button>
-->
            </md-input-container>
            <md-datepicker-toggle [for]="startPicker"></md-datepicker-toggle>
            <md-datepicker #startPicker></md-datepicker>
        </div>

        <div class="end-date" *ngIf="events.length > 0">
            <md-input-container>
                <input
                    mdInput
                    [mdDatepicker]="endPicker"
                    placeholder="End Date"
                    [(ngModel)]="interval.endDate"
                    (ngModelChange)="processDates()">
<!--
                <button mdSuffix [mdDatepickerToggle]="endPicker"></button>
-->
            </md-input-container>
            <md-datepicker-toggle [for]="endPicker"></md-datepicker-toggle>
            <md-datepicker #endPicker></md-datepicker>
        </div>

        <p class="no-data" *ngIf="eventOutput.length === 0">
            No events were found.
        </p>

        <div id="day-picker" *ngIf="selectedDates.length > 0">
            <md-radio-group id="day-options" *ngIf="selectedDates">
                <label
                    *ngFor="let event of selectedDates; let i = index"
                    for="event-{{ i }}"
                    [ngClass]="{'label-checked': event.checked, 'label-unchecked': !event.checked}">
                    <p>{{ event.dateOutput }}</p>
                    <div></div>
                </label>
                <input
                    id="event-{{ i }}"
                    class="radio-option"
                    type="radio"
                    name="recentOption"
                    *ngFor="let event of selectedDates; let i = index"
                    value="{{ event.dateOutput }}"
                    [value]="event.dateOutput"
                    [checked]="event.checked"
                    (change)="getEventOutput(event.dateOutput)">
            </md-radio-group>

            <svg>
                <line x1="0" y1="0" x2="100%" y2="0"/>
            </svg>
        </div>

        <div class="event-output" *ngIf="eventOutput">
            <div class="event" *ngFor="let event of eventOutput">
                <div class="event-date">
                    {{ event.time }}
                </div>
                <div class="event-value">
                    {{ event.value }}
                </div>
            </div>
        </div>
    </div>
</div>
