@import '../../../../../globalStyles/variables.scss';
@import '../../../../../globalStyles/text.scss';
@import '../../../../../globalStyles/indentations';

#event-map {
    width: 65vw;

    p {
        display: inline-block;
    }

    .text-block {
        display: inline-block;
        width: 35%;
        margin-right: 50px;
        vertical-align: top;
        font-size: $large-text;

        .dates {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;

            p {
                flex-basis: 100%;
            }
        }

        .location {
            width: 100%;

            .secondary-text {
                font-size: $usual-text;
                color: $text-shadowed-color;
            }
        }
    }

    #map {
        display: inline-block;
        width: 60%;
        height: 60vh;
        float: right;
    }
}
