<div id="weight-control">
    <div id="title"><h1>Weight Control</h1></div>

    <div id="previous-diff" *ngIf="currentWeight">
        <div id="yesterday">{{ recentDay }}:</div>
        <div id="current-weight">{{ currentWeight }}kg</div>
        <div class="diff"
             *ngIf="weeklyItems.length > 1"
             [ngClass]="{'better-result': settings.recent.betterResult, 'worse-result': settings.recent.worseResult}">
            {{ settings.recent.symbol + recentDiff[settings.recent.selection] + settings.recent.measurement}}
        </div>
        <md-radio-group class="selection" *ngIf="weeklyItems.length > 1" [(ngModel)]="settings.recent.selection">
            <label for="recent-{{ option.value }}"
                   *ngFor="let option of options"
                   [ngClass]="{'label-checked': option.recentChecked, 'label-unchecked': !option.recentChecked}">
                {{ option.value }}
            </label>
            <input id="recent-{{ option.value }}"
                class="radio-option"
                type="radio"
                name="recentOption"
                value="{{ option.value }}"
                *ngFor="let option of options"
                [value]="option.value"
                [checked]="option.recentChecked"
                (change)="changeRecentOption(option.value)">
        </md-radio-group>
    </div>

    <div id="per-week-diff" *ngIf="weeklyItems.length > 1">
        <div id="per-week">per week: </div>
        <div class="diff"
             [ngClass]="{'better-result': settings.weekly.betterResult, 'worse-result': settings.weekly.worseResult}">
            {{ settings.weekly.symbol + weeklyDiff[settings.weekly.selection] + settings.weekly.measurement}}
        </div>
        <md-radio-group class="selection" [(ngModel)]="settings.weekly.selection">
            <label for="weekly-{{ option.value }}"
                   *ngFor="let option of options"
                   [ngClass]="{'label-checked': option.weeklyChecked, 'label-unchecked': !option.weeklyChecked}">
                {{ option.value }}
            </label>
            <input id="weekly-{{ option.value }}"
                   class="radio-option"
                   type="radio"
                   name="weeklyOption"
                   value="{{ option.value }}"
                   *ngFor="let option of options"
                   [value]="option.value"
                   [checked]="option.weeklyChecked"
                   (change)="changeWeeklyOption(option.value)">
        </md-radio-group>
    </div>

    <div id="add-new-weight">
        <md-input-container id="weight">
            <input mdInput type="number" name="weight" placeholder="weight, kg" required [(ngModel)]="newWeight.weight" [formControl]="weightFormControl">
            <md-error *ngIf="weightFormControl.hasError('required')">
                Weight is required
            </md-error>
            <md-error *ngIf="weightFormControl.hasError('min') || weightFormControl.hasError('max')">
                Weight should be 30-300kg
            </md-error>
        </md-input-container>

        <md-input-container id="water">
            <input mdInput type="number" name="water" placeholder="water, %" required [(ngModel)]="newWeight.waterPct" [formControl]="waterFormControl">
            <md-error *ngIf="waterFormControl.hasError('required')">
                Water percentage is required
            </md-error>
            <md-error *ngIf="waterFormControl.hasError('min') || waterFormControl.hasError('max')">
                Water percentage should be 40-80%
            </md-error>
        </md-input-container>

        <md-input-container id="bones">
            <input mdInput type="number" name="bones" placeholder="bones, kg" required [(ngModel)]="newWeight.boneWeight" [formControl]="boneFormControl">
            <md-error *ngIf="boneFormControl.hasError('required')">
                Bone weight is required
            </md-error>
            <md-error *ngIf="boneFormControl.hasError('min') || boneFormControl.hasError('max')">
                Bone weight should be 3-60kg
            </md-error>
        </md-input-container>

        <md-input-container id="fat">
            <input mdInput type="number" name="fat" placeholder="fat, %" required [(ngModel)]="newWeight.fatPct" [formControl]="fatFormControl">
            <md-error *ngIf="fatFormControl.hasError('required')">
                Fat percentage is required
            </md-error>
            <md-error *ngIf="fatFormControl.hasError('min') || fatFormControl.hasError('max')">
                Fat percentage should be 5-35%
            </md-error>
        </md-input-container>

        <div id="submit-button">
            <button md-icon-button type="button" (click)="addWeight()">
                Add new weight
            </button>
        </div>
    </div>
</div>
