<div class="post-container inner-container">
    <h2>{{ title }}</h2>
    <div class="content">
        <div class="no-items" *ngIf="posts.length === 0">
            There are no posts yet.
        </div>

        <div id="posts">
            <div class="post" *ngFor="let post of paginatorOutput">
                <div class="post-avatar">
                    <img src="{{ post.user.userPhoto }}">
                </div>
                <div class="post-text-block">
                    <p class="post-name">{{ post.user.fullName }}</p>
                    <p class="post-date">{{ post.dateOutput }}</p>
                    <p class="post-text">{{ post.body }}</p>
                </div>
            </div>
        </div>

        <md-paginator
            [length]="posts.length"
            [pageSize]="pageEvent.pageSize"
            [pageSizeOptions]="pageSizeOptions"
            (page)="pageEvent = $event"
            (focusin)="makePaginatorOutput()"
            (click)="makePaginatorOutput()">
        </md-paginator>
    </div>
</div>
