@import '../../../../../globalStyles/variables.scss';
@import '../../../../../globalStyles/indentations.scss';
@import '../../../../../globalStyles/text.scss';

#posts {
    width: 100%;
    margin-bottom: $mini-indent;
}

.post {
    display: flex;
    justify-content: space-between;

    .post-avatar {
        display: none;
    }

    .post-text-block {
        display: inline-block;
        flex-basis: 80%;
        float: right;

        p {
            display: inline-block;
            word-break: break-word;
        }

        .post-name {
            display: inline-block;
            width: 70%;
            margin-bottom: $mini-indent;
            font-size: $usual-text;
        }

        .post-date {
            width: 100%;
            margin-bottom: $mini-indent;
            font-size: $minor-text;
            color: $text-shadowed-color;
        }

        .post-text {
            width: 100%;
            font-size: $main-text;
        }
    }
}

.post:not(:last-child) {
    margin-bottom: $standard-indent;
    padding-bottom: $standard-indent;
    border-bottom: 1px solid $text-main-color;
}


@media only screen and (min-width: $small-screen) {
    .post {
        .post-avatar {
            display: inline-block;
            flex-basis: 20%;
            margin-right: $mini-indent;
            vertical-align: top;

            img {
                width: 44px;
                border-radius: 22px;
            }
        }

        .post-text-block {
            .post-date {
                width: 30%;
                margin-bottom: initial;
                float: right;
                text-align: right;
            }
        }
    }
}
