<div class="main-container" #container>

    <md-table #table [dataSource]="dataSource">

        <ng-container cdkColumnDef="exerciseCode">
            <md-header-cell *cdkHeaderCellDef> Code </md-header-cell>
            <md-cell *cdkCellDef="let row"> {{row.code}} </md-cell>
        </ng-container>
        <ng-container cdkColumnDef="typeName">
            <md-header-cell *cdkHeaderCellDef> Name </md-header-cell>
            <md-cell *cdkCellDef="let row">
                <div class="row-container">
                    <div></div>
                    <div class="content">
                        <div 
                class="row-text"
                *ngIf="row.code && row.code != focusedRowCode"
                (click)="clickRow(row.code)"
                [ngClass]="{'italic' : !row.name}"
                >{{row.name ? row.name : "Empty field"}}</div>

                <md-input-container class="input-container" *ngIf="!row.code || row.code == focusedRowCode">
                    <input mdInput 
                    #exercise 
                    type="text"
                    (blur)="updateRow(row.code, exercise.value)"
                    value="{{row.name}}"
                    [ngClass]="{'input-focused' : !row.code}"
                    (keyup.enter)="updateRow(row.code, exercise.value)">
                </md-input-container>
                </div>
                <div class="delete"><i class="material-icons delete-ico" (click)="deleteRow(row.code)">delete</i></div>
              </div>  
            </md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>

    <button md-button 
    disableRipple 
    class="btn" 
    id="btn-add" 
    (click)="addRow(table)">Add new exercise type</button>
</div>
