@import "./../../../globalStyles/variables";
@import "./../../../globalStyles/indentations";
@import '../../../globalStyles/text.scss';
.main-container{
    margin: 0 auto;
    width: 60%;
    text-align: center;
}
.btn {
    border: none;
    padding: 3px;
    color: $text-main-color;
    background-color: $btn-color;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50px;
}

.btn-forget {
    width: 100%;
    margin-top: $submit-top-margin;
}