@import "./../../../globalStyles/variables";
@import "./../../../globalStyles/indentations";
@import '../../../globalStyles/text.scss';
.main-container {
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.btn {
    border: none;
    padding: 3px;
    color: $text-main-color;
    background-color: $btn-color;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50px;
}

button:focus {
    outline: 0;
}

.mat-row {
    height: 80px;
}

.mat-table {
    margin-top: 40px;
}

.input-container {
    margin: 10px;
    width: 200px;
}

#btn-add {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.row-text:hover {
    cursor: pointer;
}

.row-text {
    margin: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
}

.row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transp {
    font-style: italic;
    color: $text-second-color;
    cursor: default !important;
}

.ico {
    color: $btn-color;
}

.ico:hover {
    cursor: pointer;
}

@media only screen and (max-width: $medium-screen) {
    .main-container {
        width: 100%;
        margin: 0;
    }
    #btn-add{
        width: auto;
    }
}

.hiding{
    display: none !important;
}
