
<div class="container">
    <div class="profile">
        <form class="profile-form">
            <!--<div class="profile-header profile-row">
                <div class="profile-avatar">
                    <div class="profile-picture">
                        <img [src]="data.image" alt="user picture" class="profile-picture-img">
                        <img-cropper #cropper
                                     *ngIf="!hideCropper"
                                     class="img-cropper"
                                     [image]="data"
                                     [settings]="cropperSettings"></img-cropper>
                    </div>
                    <div class="profile-upload">
                        <div class="profile-upload-container upload-btn" (click)="saveImg('save')">
                            <span>{{hideCropper ? 'Upload new picture' : 'Save'}}</span>
                            <input type="file"
                                   accept="image/*"
                                   *ngIf="hideCropper"
                                   class="upload"
                                   (click)="chooseFileModal($event)"
                                   (change)="fileChangeListener($event)"/>
                        </div>
                        <div class="profile-upload-container upload-btn" *ngIf="!hideCropper"
                             (click)="saveImg('cancel')">Cancel</div>
                    </div>
                </div>
                <div class="profile-fullname">
                    <md-input-container class="profile-name">
                        <input id="name" class="input" mdInput formControlName="firstName">
                        <md-error>Name can't consist less than two characters, and more than 20</md-error>
                    </md-input-container>
                </div>
            </div>
            
            <div class="profile-row">
                <md-input-container class="profile-about responsive-width">
                    <textarea mdInput placeholder="About"
                              formControlName="about" md-tooltip="Add some info about you">
                    </textarea>
                    <md-error>
                        Must contain less than 500 characters
                    </md-error>
                </md-input-container>
            </div>
            <button type="submit" class="btn" (click)="onSubmit(profileForm.value)">Save changes</button>-->
        </form>
    </div>
</div>
