@import '../../../../globalStyles/variables.scss';
@import '../../../../globalStyles/text.scss';
@import '../../../../globalStyles/indentations';

#sport-handling {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 50px auto;
    padding: 20px 50px 40px;
    align-items: center;
    background: $gradient-from-color;
    background: linear-gradient($gradient-to-color, $gradient-from-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

    .input {
        width: 100%;
    }

    textarea {
        min-height: 100px;
    }

    .select-row {
        margin: $content-between-margin 0;
    }

    .mat-select-trigger,
    .mat-select-placeholder {
        font-size: $usual-text;
    }

    .btn-save {
        width: 90%;
        border: none;
        margin-top: $content-between-margin;
        padding: $input-padding;
        border-radius: 50px;
        outline: none;
        font-size: $usual-text;
        font-weight: bold;
        color: $text-main-color;
        background: $btn-color;
    }
}

