<button (click)="sendHttp(getReq)" md-raised-button>Send get</button>
<button (click)="sendHttp(getReqOne)" md-raised-button>Send get one</button>
<button (click)="sendHttp(getReqNoMessages)" md-raised-button>Get with omitted messages</button>
<button (click)="sendHttp(getReqErr)" md-raised-button>Send wrong url get</button>
<button (click)="sendHttp(postReq)" md-raised-button>Send post</button>
<button (click)="sendHttp(postReq2)" md-raised-button>Send post 2</button>
<button (click)="sendHttp(putReq)" md-raised-button>Send put</button>
<button (click)="sendHttp(putReq2)" md-raised-button>Send put on user 2</button>
<button (click)="sendHttp(deleteReq)" md-raised-button>Send delete</button>
<button (click)="sendHttp(subscribeReq)" md-raised-button>Subscribe</button>
<button (click)="sendHttp(getFollowingReq)" md-raised-button>getFollowing</button>
<button (click)="sendHttp(getFollowersReq)" md-raised-button>getFollowers</button>
<div>
    <h4>Responded data:</h4>
    {{info}}
</div>
<br>
<div>
    <h4>Responded data json pipe:</h4>
    Responded data json pipe: {{info | json}}
</div>
