@import '../../../../../globalStyles/variables.scss';
@import '../../../../../globalStyles/text.scss';
@import '../../../../../globalStyles/indentations';

#general-container {
    width: 100%;

    a {
        text-decoration: none;
        color: $text-main-color;
    }

    a:hover {
        text-decoration: underline;
    }

    .text-block {
        display: inline-block;
        width: 100%;
        vertical-align: top;
        font-size: $main-text;

        .creator {
            display: flex;
            justify-content: center;
            width: 100%;
            margin-bottom: $macro-indent;
            text-align: center;

            .secondary-text {
                font-size: $usual-text;
                color: $text-shadowed-color;
            }

            .creator-name {
                margin-right: $standard-indent;
                font-size: $large-text;
            }

            .creator-avatar {
                display: inline-block;
                vertical-align: top;

                img {
                    width: 80px;
                    border-radius: 40px;
                }
            }
        }

        .description {
            margin-bottom: $standard-indent;
        }

        #participants,
        #followers {
            display: inline-block;
            width: 100%;
            vertical-align: top;

            .user {
                display: flex;
                justify-content: space-between;
                width: 100%;
                font-size: $main-text;

                .user-avatar {
                    width: 12%;
                    margin-right: $standard-indent;
                    vertical-align: top;

                    img {
                        width: 44px;
                        border-radius: 22px;
                    }
                }

                .user-name {
                    text-align: right;
                }
            }
        }

        #followers {
            float: right;
        }
    }

    #event-image {
        display: inline-block;
        width: 100%;
        margin: $standard-indent auto;

        img {
            width: 100%;
            height: auto;
        }
    }

    .creator-avatar:hover,
    .creator-name > a > p:hover,
    .user-avatar:hover,
    .user-name:hover {
        cursor: pointer;
    }
}


@media screen and (min-width: $large-screen) {

    #general-container {
        .text-block {
            #participants,
            #followers {
                width: 45%;
            }
        }

        #event-image {
            text-align: center;
            float: none;

            img {
                width: 80%;
            }
        }
    }
}


@media screen and (min-width: $hd-screen) {

    #general-container {
        .text-block {
            width: 45%;
            margin-right: $large-indent;
        }

        #event-image {
            width: 50%;
            float: right;

            img {
                width: 100%;
                height: auto;
                float: right;
            }
        }
    }
}


@media screen and (min-width: $full-hd-screen) {

    #general-container {
        .text-block {
            margin-right: 50px;
        }

        #event-image {
            img {
                width: auto;
                height: 400px;
            }
        }
    }
}
