
@import '../../../globalStyles/variables.scss';


@mixin linear-gradient($direction, $color-stops...) {
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}

p{
    margin: 0;
}
.btn{
    border: none;
    margin-top: 35px;
    width: 90%;
    padding: 15px;
    color: $text-main-color;
    background-color: $btn-color;
    font-weight: bold;
    font-size: 11pt;
    border-radius: 50px;
    outline: none;

    &:hover{
        cursor: pointer;
    }
}


.label{
    padding: 20px;
}

.input{
   font-family: 'Roboto', sans-serif;
   color: $text-main-color;
}

.container{
    display: flex;
    width: 100%;
    min-height: 600px;
    background-color: $bg-color;
    font-family: $font-general;
    justify-content: center;
    
}
.profile{
    display: flex;
    flex-direction: column;
    width: 460px;
    padding: 45px;
    margin-top:30px;
    border: 1px #2A2A2A solid;
    background: $gradient-from-color;
    background-image: linear-gradient(to top, $gradient-from-color, $gradient-to-color);
}

.profile-title{
    text-align: left;
    padding-left: 25px;
    margin-top: 15px;
}

.profile-input{
    padding: 0 10px 0;
}

.profile-form{
    display: flex;
    flex-direction: column;
}

.profile-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}
.profile-avatar{
    display: flex;
    flex: 0 1 200px;
    flex-direction: column;
}
.profile-picture{
     display: flex;
     justify-content: center;   
     
     >img{
         border-radius: 50%; 
     }
}


.profile-upload{
    margin-top: 15px;
}
        
.profile-fullname{
    display: flex;
    flex: 0 1 200px;
    flex-direction: column;
    justify-content: flex-start;

    >p{
        margin: 0;
        text-align: left;
    }
}

.profile-content{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column; 
}
.profile-email{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0 10px;
}
.profile-birthday{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
}
.profile-physparam{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:20px;
}
.weight-container{
    display: flex;
    flex-basis: 150px;
}

.height-container{
    display: flex;
    flex-basis: 150px;
 }

.profile-password{
    display: flex;
    justify-content: center;     
       
}

.password-container{
    max-width: 300px;
}

.submit-form-button{
    margin-top:30px;
    width: 375px;
}
