<div class="container">
  <div class="profile">
    <md-card-title class="profile-title">Your profile</md-card-title>

    <form class="profile-form" [formGroup]="profileForm">

      <div class="profile-header">

        <div class="profile-avatar">
          <div class="profile-picture">
              <img src="http://via.placeholder.com/150x150" alt="user picture" class="profile-picture-img">
          </div>
          <div class="profile-upload">
             <button class="profile-upload-container upload-btn">
               <span>Upload new picture</span>
               <input type="file" class="upload"/>
             </button>
          </div>
        </div>

        <div class="profile-fullname">
          
          <md-input-container class="profile-name">
            <input id="name" class=profile-input mdInput value="John" formControlName="name">
          </md-input-container>

          <md-input-container class="profile-lastname">
            <input id="lastname" class="profile-input" mdInput value="Smith" formControlName="lastname">
          </md-input-container>
        </div>

      </div>
      <div class="profile-content">

        <div class="profile-email">
          <div class="profile-current-email">
            <p>john.smith@gmail.com</p>
          </div>
          <div class=profile-email-btn>
            <button md-raised-button>Add Email Address</button>
          </div>
        </div>

        <div class="profile-birthday">
          <div class="birthday-month">
            <md-select placeholder="Month" [(ngModel)]="selectedMonth" floatPlaceholder="never" [ngModelOptions]="{standalone: true}">
              <md-option *ngFor="let month of months" [value]="month.value">
                {{ month.viewValue }}
              </md-option>
            </md-select>
          </div>
          <div class="birthday-day">
            <md-select placeholder="Day" [(ngModel)]="selectedDay" floatPlaceholder="never" [ngModelOptions]="{standalone: true}">
              <md-option *ngFor="let day of days" [value]="days">
                {{ day }}
              </md-option>
            </md-select>
          </div>
          <div class="birthday-year">
            <md-select placeholder="Year" [(ngModel)]="selectedYear" floatPlaceholder="never" [ngModelOptions]="{standalone: true}">
              <md-option *ngFor="let year of years" [value]=years>
                {{ year }}
              </md-option>
            </md-select>
          </div>
        </div>

        <div class="profile-physparam">

          <div class="weight-container">
            <label for='weight' class="label">Weight</label>
            <md-input-container class="ph-input">
              <input type="number" id="weight" class="profile-input" mdInput value="80">
            </md-input-container>
          </div>
          <div class="height-container">
            <label for='height' class="label">Height</label>
            <md-input-container class="ph-input">
              <input type="number" id="height" class="profile-input" mdInput value="175">
            </md-input-container>

          </div>

        </div>
        <div class="profile-password">
          <button md-raised-button class="">Change password</button>
        </div>
      </div>
      <div class="profile-footer">
        <button type="submit" class="btn">Save change</button>
      </div>
    </form>
  </div>
</div>