@import '../../../../../globalStyles/indentations.scss';
@import '../../../../../globalStyles/text.scss';

#title {
  margin: $content-lr-margin 0;
}

h1 {
  margin: 0;
  text-align: center;
}

#inputs {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.mat-table {
  width: 80%;
  margin: 0 auto;
}

.mat-row, .mat-header-row {
  height: auto;
  padding: $content-tb-margin 60px;
}

.mat-header-cell {
  font-size: $main-text;
}