<div class="container">
    <h2 class="title" md-dialog-title>Finish training?</h2>
    <div class="item-container first">
        <div class="text">Total time: </div>
        <div class="bigger">{{data.time.total}}</div>
    </div>
    <div class="item-container">
        <div class="text">Warming time: </div>
        <div class="bigger">{{data.time.warming}}</div>
    </div>
    <div class="item-container">
        <div class="text">Calories burnt: </div>
        <div class="bigger">{{data.calories}}</div>
    </div>



    <div class="btn-container">
        <button md-raised-button [md-dialog-close]="true" class="controll">Finish</button>
        <button md-raised-button [md-dialog-close]="false" class="controll" *ngIf="!done">Continue</button>
    </div>
</div>
