@import "./../../../../src/globalStyles/variables";

@mixin linear-gradient($direction, $color-stops...) {
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $text-second-color;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $text-second-color;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: $text-second-color;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $text-second-color;
}

.login-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: $bg-color;
    height: 100vh;
    font-family: $font-general;
}

.login-row {
    flex: 33%;
}

.login-logo {
    margin-top: 125px;
    font-size: 40pt;
    color: $text-main-color;
}

.login-block {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 450px;
    height: 250px;
    margin-top: 50px;
    padding: 10px;
    border: 2px #2A2A2A solid;
    background-image: linear-gradient(to top, $gradient-from-color, $gradient-to-color);
}

.login-imput {
    width: 90%;
    margin-top: 15px;
    color: $text-main-color;
    font-size: 10pt;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: solid 1px $text-main-color;
    background-color: transparent;
    outline: none;
}

.login-imput:focus {
    border-bottom: solid 1px $text-second-color;
    color: $text-second-color;
}

.login-button {
    border: none;
    margin-top: 35px;
    width: 90%;
    padding: 15px;
    color: $text-main-color;
    background-color: $btn-color;
    font-weight: bold;
    font-size: 11pt;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
}

.login-social {
    margin-top: 20px;
    color: $text-main-color;

    a {
       color: $text-main-color;
       margin: 5px;
    }

    a:hover {
        text-decoration: none;
    }
}

@media only screen and (max-width: $large-screen) {

    .login-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .login-row {
        flex: none;
    }

    .login-block {
        margin-top: 10px;
    }
    
    .login-logo {
        margin-top: 0;
    }
}

@media only screen and (max-width: $small-screen){

    .login-block {
        width: 300px;
        height: 300px;
    }

    .login-social {
        display: flex;
        flex-flow: column nowrap;
    }
}
