<div class="login-container">
  <div class="login-logo login-row">guerierro</div>
  <div class="login-block login-row">
    <input type="email" class="login-imput login-imput-email" placeholder="email">
    <input type="password" class="login-imput login-imput-password" placeholder="password">
    <button class="login-button">Войти</button>
    <div class="login-social">или войти с помощью 
      <a href="">Facebook</a>
      <a href="">Google</a>
    </div>
  </div>
  <div class="login-row"></div>
</div>