@import '../../../../../globalStyles/variables';
@import '../../../../../globalStyles/indentations';
@import '../../../../../globalStyles/text';

.head-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    #follow-button,
    #feedback-button {
        display: block;
        margin-top: $mini-indent;

        button {
            display: block;
            width: 140px;
            height: 40px;
            border: none;
            border-radius: 20px;
            outline: none;
            font-size: $main-text;
            font-weight: 600;
            background: $main-color;

            span {
                text-align: right;
            }
        }
    }
}

h3 {
    font-size: $main-text;
    font-weight: 600;
}

#name-location {
    display: inline-block;

    h2 {
        margin-bottom: $mini-indent;
        font-size: $macro-text;
    }

    #coach-location {
        font-size: $usual-text;
        font-weight: 300;
    }
}

#coach-photo {
    display: inline-block;
    width: 45%;
    margin: $macro-indent 5% $macro-indent auto;
    text-align: right;

    img {
        width: 100px;
        border-radius: 50px;
    }
}

#social-links {
    display: inline-block;
    margin: $macro-indent auto;
    vertical-align: middle;
    text-align: right;

    a {
        display: block;
        margin-bottom: $mini-indent;
        text-decoration: none;
        font-size: $large-text;
    }

    a:hover {
        text-decoration: underline;
    }
}

#coach-about {
    h3 {
        margin: 0 0 $standard-indent;
    }

    margin-bottom: $macro-indent;

    p {
        font-size: $main-text;
    }
}

#testimonials {
    .head-block {
        margin-bottom: $standard-indent;

        h3 {
            margin: 0;
        }
    }

    .testimonial:not(:last-child) {
        margin-bottom: $standard-indent;
    }

    .testimonial-photo {
        display: inline-block;
        width: 22%;
        vertical-align: top;
        margin-right: $mini-indent;

        img {
            width: 44px;
            border-radius: 22px;
        }
    }

    .testimonial-photo:hover {
        cursor: pointer;
    }

    .testimonial-text-block {
        display: inline-block;
        width: 70%;

        .testimonial-name {
            display: inline-block;
            margin-bottom: $micro-indent;
            font-size: $minor-text;
        }

        .testimonial-name:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        .testimonial-text {
            font-size: $usual-text;
        }
    }
}

app-message-posting {
    width: 100%;
    margin-top: $standard-indent;
}


@media only screen and (min-width: $small-screen) {

    .head-block {
        flex-wrap: nowrap;

        #follow-button,
        #feedback-button {
            display: inline-block;
            float: right;
            margin-top: initial;
        }
    }

    #coach-photo {
        margin: $macro-indent 10% $macro-indent auto;

        img {
            width: 170px;
            border-radius: 85px;
        }
    }
}


@media only screen and (min-width: $large-screen) {

    #coach-photo {
        display: block;
        width: initial;
        margin: $macro-indent auto;
        text-align: center;
    }

    #social-links {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;

        a {
            display: inline-block;
            margin-bottom: initial;
            font-size: $main-text;
        }

        a:nth-child(odd) {
            margin-right: 25%;
        }

        a:not(:nth-last-child(-n+2)) {
            margin-bottom: $mini-indent;
        }
    }
}
