@import '../../../../../globalStyles/variables';
@import '../../../../../globalStyles/indentations';
@import '../../../../../globalStyles/text';

#main-sidebar-block {
    #general-coach-info {
        display: flex;
        align-items: center;

        #name-location {
            display: inline-block;
            width: 50%;

            h2 {
                margin-bottom: $mini-indent;
                font-size: $macro-text;
            }

            #coach-location {
                font-size: $usual-text;
                font-weight: 300;
            }
        }

        #follow-button {
            display: inline-block;
            width: 40%;
            margin: 0 auto;

            button {
                display: block;
                width: 120px;
                height: 40px;
                border: none;
                border-radius: 20px;
                outline: none;
                font-size: $main-text;
                font-weight: 600;
                background: #82ca9c;

                span {
                    text-align: right;
                }
            }
        }
    }

    #coach-photo {
        margin: $macro-indent auto;
        text-align: center;

        img {
            width: 170px;
            border-radius: 85px;
        }
    }

    #social-links {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;

        a {
            display: inline-block;
            text-decoration: none;
            font-size: $main-text;
        }

        a:nth-child(odd) {
            margin-right: 25%;
        }

        a:not(:nth-last-child(-n+2)) {
            margin-bottom: $mini-indent;
        }

        a:hover {
            text-decoration: underline;
        }
    }
}

#coach-about {
    p {
        font-size: $main-text;
    }
}

#testimonials {
    .testimonial:not(:last-child) {
        margin-bottom: $standard-indent;
    }

    .testimonial-photo {
        display: inline-block;
        width: 20%;
        vertical-align: top;

        img {
            width: 44px;
            border-radius: 22px;
        }
    }

    .testimonial-photo:hover {
        cursor: pointer;
    }

    .testimonial-text-block {
        display: inline-block;
        width: 78%;

        .testimonial-name {
            display: inline-block;
            margin-bottom: $micro-indent;
            font-size: $usual-text;
        }

        .testimonial-name:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        .testimonial-text {
            font-size: $minor-text;
        }
    }
}

h3 {
    margin: 0 0 $standard-indent;
    font-size: $main-text;
    font-weight: 600;
}
