<div id="main-sidebar-block">
    <div class="head-block">
        <div id="name-location">
            <h2 id="coach-name">{{ userData.fullName }}</h2>
            <p id="coach-location">{{ userData.location }}</p>
        </div>
        <div id="follow-button" *ngIf="userData._id !== this._id">
            <button
                *ngIf="userData._id !== _id"
                md-icon-button
                type="button"
                (click)="followAction()">
                {{ isFollowed ? 'UNFOLLOW' : 'FOLLOW' }} <span>{{ coachData.followers.length || ''}}</span>
            </button>
        </div>
    </div>

    <div id="coach-photo">
        <img src="{{ userData.userPhoto }}">
    </div>

    <div id="social-links">
        <a
            *ngFor="let link of coachData.socialLinks"
            href="{{ link.link }}"
            [ngStyle]="{'color': link.color}">
            {{ link.name }}
        </a>
    </div>
</div>

<div id="coach-about">
    <h3>About me</h3>
    <p>{{ userData.about }}</p>
</div>

<div id="testimonials">
    <div class="head-block">
        <h3>Testimonials</h3>
        <div id="feedback-button">
            <button
                *ngIf="isFollowed"
                md-icon-button
                type="button"
                (click)="addFeedback()">
                Add feedback
            </button>
        </div>
    </div>

    <app-message-posting
        *ngIf="posting"
        [parentElement]="'coachPage'"
        [coachId]="userData._id"
        (hideInput)="updateTestimonialData(); closeFeedback()">
    </app-message-posting>

    <div id="testimonial-wrapper" *ngIf="!posting">
        <div class="testimonial" *ngFor="let testimonial of coachData.testimonials">
            <div class="testimonial-photo" routerLink="">
                <img src="{{ testimonial.user.userPhoto }}">
            </div>
            <div class="testimonial-text-block">
                <p class="testimonial-name" routerLink="">{{ testimonial.user.fullName }}</p>
                <p class="testimonial-text">{{ testimonial.body }}</p>
            </div>
        </div>
    </div>
</div>
