<div id="main-sidebar-block">
    <div id="general-coach-info">
        <div id="name-location">
            <h2 id="coach-name">{{ userData.fullName }}</h2>
            <p id="coach-location">{{ userData.location }}</p>
        </div>
        <div id="follow-button">
            <button
                md-icon-button
                type="button"
                (click)="followAction()">
                {{ isFollowed ? 'UNFOLLOW' : 'FOLLOW' }} <span>{{ followers.length || ''}}</span>
            </button>
        </div>
    </div>

    <div id="coach-photo">
        <img src="{{ userData.userPhoto }}">
    </div>

    <div id="social-links">
        <a
            *ngFor="let link of coachInfo.socialLinks"
            href="link.link"
            [ngStyle]="{'color': link.color}">
            {{ link.name }}
        </a>
    </div>
</div>

<div id="coach-about">
    <h3>About me</h3>
    <p>{{ userData.about }}</p>
</div>

<div id="testimonials">
    <h3>Testimonials</h3>
    <div class="testimonial" *ngFor="let testimonial of coachInfo.testimonials">
        <div class="testimonial-photo" routerLink="">
            <img src="{{ testimonial.photo }}">
        </div>
        <div class="testimonial-text-block">
            <p class="testimonial-name" routerLink="">{{ testimonial.name }}</p>
            <p class="testimonial-text">{{ testimonial.text }}</p>
        </div>
    </div>
</div>
