@import '../../../../globalStyles/variables.scss';
@import '../../../../globalStyles/text.scss';
@import '../../../../globalStyles/indentations';

#event-list-container {
    max-width: 90%;
    margin: 0 auto;

    h1 {
        width: 100%;
        margin: $content-tb-margin auto;        
        text-align: center;
    }

    #event-period {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: $large-indent;
        text-align: center;

        p {
            width: 100%;
        }

        .date {
            margin: 0 auto;
        }

        .apply-button {
            width: 100%;

            button {
                width: 90%;
                max-width: 160px;
                height: 40px;
                border: none;
                border-radius: 20px;
                outline: none;
                font-size: $main-text;
                font-weight: 600;
                background: $main-color;
            }
        }

        #all-events-button {
            margin-bottom: 40px;
        }

        #period-events-button {
            margin-top: $standard-indent;
        }

        md-input-container {
            width: 130px;
        }
    }

    #event-list {
        width: 100%;
        margin: 0 auto;
    }

    .event-item {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: $standard-indent;
        padding: $standard-indent 0;
        border-bottom: 1px solid $text-main-color;
    }

    #event-text-block {
        width: 100%;
        font-size: $main-text;

        a {
            color: $text-main-color;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .title {
            margin-top: 0;
            font-size: $large-text;
            font-weight: 600;
        }

        .title:hover,
        .creator-avatar:hover,
        .creator-name:hover {
            cursor: pointer;
        }

        .creator {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-size: $main-text;

            .creator-avatar {
                display: inline-block;
                width: 12%;
                margin: 0 $standard-indent 0 auto;
                vertical-align: top;

                img {
                    width: 44px;
                    border-radius: 22px;
                }
            }

            .creator-name {
                text-align: right;
            }
        }

        #event-location {
            width: 100%;
        }

        .dates {
            display: flex;
            justify-content: space-between;
            width: 100%;
            color: $text-shadowed-color;
            font-size: $minor-text;

            .endDate {
                text-align: right;
            }
        }
    }

    .event-image {
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

    .event-handle {
        width: 100%;
        margin-top: $standard-indent;
        font-size: $main-text;
        color: $text-main-color;

        .event-buttons {
            display: inline-block;
            width: 70%;

            button {
                width: 90%;
                max-width: 120px;
                height: 40px;
                margin-right: $macro-indent;
                border: none;
                border-radius: 20px;
                outline: none;
                font-size: $usual-text;
                font-weight: 600;
                background: $main-color;
            }

            button:first-child {
                margin-bottom: $mini-indent;
            }
        }

        a {
            width: 30%;
            float: right;
            text-align: right;
            text-decoration: underline;
            color: $text-main-color;
        }

        a:hover {
            text-decoration: none;
        }
    }

    .add-container {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 170px;
        height: 120px;
        margin: $large-indent auto;
        cursor: pointer;
        color: $main-color;
        background-color: $gradient-to-color;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}


@media screen and (min-width: $medium-screen) {

    #event-list-container {
        .event-image {
            width: 70%;
            margin: 0 auto;
        }
    }
}


@media screen and (min-width: $large-screen) {

    #event-list-container {
        max-width: 60%;
        margin: 0 auto 0 30vw;

        #event-period {
            position: fixed;
            left: 17vw;
            width: 20%;
            margin-bottom: initial;

            .apply-button {
                button:first-child {
                    margin-bottom: initial;
                }
            }
        }

        #event-text-block {
            .dates {
                font-size: $usual-text;
            }
        }

        .event-item {
            margin-bottom: $macro-indent;
        }
    }
}


@media screen and (min-width: $hd-screen) {

    #event-list-container {
        margin: 0 auto 0 25vw;

        #event-period {
            width: 18%;
        }

        #event-text-block {
            width: 45%;
            margin-right: 50px;

            p {
                margin-bottom: $large-indent;
            }

            .dates {
                font-size: $main-text;
            }
        }

        .event-image {
            width: 45%;
            margin: initial;

            img {
                width: auto;
                height: 200px;
                float: right;
            }
        }

        .event-handle {
            margin-top: initial;

            .event-buttons {
                button {
                    max-width: 160px;
                    font-size: $main-text;
                }
            }
        }

        .add-container {
            width: 260px;
            height: 180px;
        }
    }
}


@media screen and (min-width: $full-hd-screen) {

    #event-list-container {
        margin: 0 auto 0 20vw;

        #event-period {
            width: 15%;
        }
    }
}
