.notifications__count {
    vertical-align: super;
}

.notification__alert {
    cursor: pointer;
}
.unread-note{
    color: #F44336;
}

.pulse {
    border-radius: 50%;
    box-shadow:  0 0 0 rgb(244, 67, 54);
    animation: pulse 1s;
}

.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow:  0 0 0 0 rgb(244, 67, 54);
    }
    70% {
        -webkit-box-shadow:  0 0 0 10px rgba(244, 67, 54, 0);
    }
    100% {
        -webkit-box-shadow:  0 0 0 0 rgba(244, 67, 54, 0);
    }
}
@keyframes pulse {
    0% {
        -moz-box-shadow:  0 0 0 0 rgb(244, 67, 54);
        box-shadow:  0 0 0 0 rgb(244, 67, 54);
    }
    70% {
        -moz-box-shadow:  0 0 0 10px rgba(244, 67, 54, 0);
        box-shadow:  0 0 0 10px rgba(244, 67, 54, 0);
    }
    100% {
        -moz-box-shadow:  0 0 0 0 rgba(244, 67, 54, 0);
        box-shadow:  0 0 0 0 rgba(244, 67, 54, 0);
    }
}
