<div class="food-list-container">
    <div class="filtering-items">
        <md-input-container >
            <input mdInput
                   #search
                   placeholder="Search"
                   [(ngModel)]="filter"
                   (change)="updateFoods()"
                   (keyup)="updateFoods()"
                   autocomplete="off">
            <md-icon mdSuffix>search</md-icon>
        </md-input-container>
        <button md-button
                disableRipple
                class="btn"
                (click)="openEditFoodDialog(true)"
                id="btn-add">Add food
        </button>
        <app-list
            [items]="items"
            [options]="options"
            placeholder="Types"
            (onChangedList)="updateFoods()"></app-list>
    </div>
    <md-grid-list>
        <md-grid-tile *ngFor="let food of foods"
                      (click)="openEditFoodDialog(false, food)">
            <md-card>
                <md-card-header>
                    <img md-card-avatar
                         src="../../../../../../resources/default.png">
                    <md-card-title>{{food.name}}</md-card-title>
                    <md-card-subtitle>{{food.foodType}}</md-card-subtitle>
                </md-card-header>
                <md-card-content>
                    Created by {{food.customUserId ? food.customUserId : 'admin'}}
                </md-card-content>
            </md-card>
        </md-grid-tile>
        <md-grid-tile id="add-food" (click)="openEditFoodDialog(true)">
            <i class="material-icons add-item-ico">add</i>
        </md-grid-tile>
    </md-grid-list>
</div>
