<div class="food-list-container">
    <div class="filtering-items">
        <md-input-container>
            <input mdInput #search placeholder="Search" [(ngModel)]="filter" (keyup)="updateFoods()" (change)="updateFoods()" autocomplete="off">
            <md-icon mdSuffix>search</md-icon>
        </md-input-container>
        <button md-button disableRipple class="btn" (click)="openEditFoodDialog(true)" id="btn-add">Add food
        </button>
        <md-slide-toggle
        (change)="toggleOnlyPublished($event.checked)"
        [checked]="true">Only published</md-slide-toggle>
    </div>
    <div id="type-sort">        
        <app-list
        [items]="items"
        [options]="options"
        placeholder="types"
        (onChangedList)="updateFoods()"></app-list>
        </div>
    <md-grid-list>
        <md-grid-tile *ngFor="let food of foodsShown" (click)="openEditFoodDialog(false, food)">
            <md-card>
                <div class="panel">
                    <div (click)="$event.stopPropagation()">
                        <md-slide-toggle 
                        (change)="changeFoodPrivacy(food._id, $event.checked)"
                        [checked]="food.isPublished">Is public</md-slide-toggle>
                    </div>
                    <i *ngIf="!food.customUserId" class="material-icons" id="delete" (click)="removeFood(food._id, $event)">delete</i>
                </div>

                <md-card-header>
                    <img md-card-avatar src="{{food.picture.length > 500 ? food.picture : food.picture + '?' + upd}}" *ngIf="food.picture"/>
                    <md-card-title>{{food.name}}</md-card-title>
                    <md-card-subtitle>{{food.foodType}}</md-card-subtitle>
                    <md-card-subtitle>{{food.vendor}}</md-card-subtitle>
                </md-card-header>
                <md-card-content>
                    Created by {{food.customUserId ? 'User' : 'Admin'}}
                </md-card-content>
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</div>
