@import "../../globalStyles/variables.scss";
@import '../../globalStyles/text.scss';
@import '../../globalStyles/indentations.scss';

$height: calc(100vh - 70px);

.menu-element {
    display: block;
}

aside {
    width: 100%;
    height: 100%;
    min-height: $height;
    font-family: $font-general;
    font-weight: 600;
    font-size: $usual-text;
    float: left;
    background: linear-gradient($bg-color 75%, $gradient-from-color);
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 20px 20px 0 rgba(0, 0, 0, 0.19);

    nav {
        float: right;
        width: 90%;
        position: relative;

        a {
            line-height: $header-text;
            text-decoration: none;
            color: #aaa;
        }

        .navigation__icon {
            float: left;
            fill: #aaa;
            vertical-align: middle;
            width: 24px;
            height: 24px;
            margin-right: 13px;
        }

        .active-link {
            svg {
                fill: #fff;
            }
            color: #fff;
            font-weight: bold;
        }

        .active-link::before {
            content: "•";
            position: absolute;
            display: block;
            font-size: 30px;
            left: 0;
            line-height: $header-text;
            color: #82A690;
        }
    }
}

.body-container {
    display: flex;
}

.sidebar-container {
    flex: 0 0 calc(20vw);
    min-width: calc(20vw); /*need -20px for scrollbar*/
}
    
.child-container {
    flex: 0 0 80vw;
    min-width: 80vw;
    overflow-y: auto;
}

@media screen and (min-width: $medium-screen + 1) and (max-width: $large-screen) {
    aside {
        width: 180px;
    }
    .childComponent {
        width: calc(100vw - 200px);
    }
}


@media screen and (max-width: $small-screen) {
    aside {
        width: 55px;

        .navigation__title, .navigation__subheader {
            display: none;
        }
    }
    .childComponent {
        width: calc(100vw - 80px);
    }
}