@import "../../globalStyles/variables.scss";
@import '../../globalStyles/text.scss';
@import '../../globalStyles/indentations.scss';

$height: calc(100vh - 70px);

.body-container {
    display: flex;
    height: 100%;
}

.sidebar-container {
    flex: 0 0 15vw;
    width: calc(15vw - 20px);
    min-width: 190px;
    position: fixed;
    left: 0;
    top: 70px;
    height: $height;
    transition: 1s;
    z-index: 99;
}

.child-container {
    width: 85%;
    margin-left: 15%;
}

@media screen and (max-width: $large-screen) {
    .hide {
        left: -190px;
    }
    .child-container {
        width: 100%;
        margin-left: 0;
    }
}
