@import '../../globalStyles/variables.scss';
@import '../../globalStyles/indentations.scss';
@import '../../globalStyles/text.scss';
$height: calc(100vh - 70px);
.body-container {
    display: flex;
}

.sidebar-container {
    flex: 0 0 15vw;
    width: calc(15vw - 20px);
    position: fixed;
    left: 0;
    top: 70px;
    height: $height;
    transition: 1s;
    z-index: 99;
}

.child-container {
    width: 85%;
    margin-left: 15%;
}

@media screen and (min-width: $medium-screen + 1) and (max-width: $large-screen) {
    .sidebar-container {
        min-width: calc(190px - 20px);
    }
    .child-container {
        width: calc(100% - 190px);
        margin-left: 190px;
    }
}

@media screen and (max-width: $medium-screen) {
    .sidebar-container {
        width: 170px;
    }
    .hide {
        left: -190px;
    }
    .child-container {
        width: 100%;
        margin-left: 0;
    }
}

@media only screen and (max-width: $small-screen) {
    .sidebar-container {
        height: calc(100vh - 50px);;
    }
}
