@import '../../../../globalStyles/variables';
@import '../../../../globalStyles/indentations';
@import '../../../../globalStyles/text';

#dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100%;
    padding: 20px 6%;

    div {
        width: 100%;
        margin: 5px 0;
        background: $gradient-to-color;
    }
}

.inner-container {
    height: 100%;
    padding: 20px;

    h2 {
        margin: 0 0 20px 0;
        padding: 0 0 10px;
        border-bottom: 1px solid $text-main-color;
        font-size: $usual-text;

        a {
            text-decoration: none;
            color: $text-main-color;
        }
    }

    .content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}

.recent-day {
    font-size: $main-text;
}

.recent-value {
    font-size: $header-text;
}


@media only screen and (min-width: $small-screen) {

    #dashboard-container {
        div {
            margin: 10px 0;
        }
    }

    h2 {
        margin: 0 0 5% 0;
    }
}


@media only screen and (min-width: $medium-screen) {

    #dashboard-container {
        div {
            width: 90%;
        }
    }
}


@media only screen and (min-width: $large-screen) {

    #dashboard-container {
        flex-direction: row;
        align-items: baseline;
        height: 100%;
        padding: 20px 6%;

        div {
            width: 48%;
            min-height: 26%;
        }
    }

    .inner-container {
        padding: 25px;
    }
}
