<div id="dashboard-container" [sortablejs]="" [sortablejsOptions]="dragOptions">
    <div id="weight-container" class="child">
        <app-db-weight-control class="child-app" [weightItems]="weightItems"></app-db-weight-control>
    </div>
    <div id="calories-container" class="child">
        <app-db-calories class="child-app"></app-db-calories>
    </div>
    <div id="events-container" class="child">
        <app-db-events class="child-app"></app-db-events>
    </div>
    <div id="food-container" class="child">
        <app-db-food-plan class="child-app"></app-db-food-plan>
    </div>
    <div id="news-container" class="child">
        <app-db-news class="child-app"></app-db-news>
    </div>
    <div id="goals-container" class="child">
        <app-db-goals class="child-app" [goalItems]="goalItems" [weightItems]="weightItems"></app-db-goals>
    </div>
</div>
