<div id="dashboard-container">
    <div id="weight-container">
        <h2>{{ dataToDisplay.weight.title }}</h2>
    </div>
    <div id="calories-container">
        <h2>{{ dataToDisplay.calories.title }}</h2>
    </div>
    <div id="events-container">
        <h2>{{ dataToDisplay.events.title }}</h2>
    </div>
    <div id="food-container">
        <h2>{{ dataToDisplay.food.title }}</h2>
    </div>
    <div id="news-container">
        <h2>{{ dataToDisplay.news.title }}</h2>
    </div>
    <div id="aim-container">
        <h2>{{ dataToDisplay.aim.title }}</h2>
    </div>
</div>
