<div id="dashboard-container">
    <div id="weight-container">
        <app-db-weight-control></app-db-weight-control>
    </div>
    <div id="calories-container">
        <app-db-calories></app-db-calories>
    </div>
    <div id="events-container">
        <app-db-events></app-db-events>
    </div>
    <div id="food-container">
        <app-db-food-plan></app-db-food-plan>
    </div>
    <div id="news-container">
        <app-db-news></app-db-news>
    </div>
    <div id="goals-container">
        <app-db-goals></app-db-goals>
    </div>
</div>
