<header (mouseleave)="showUserMenu = false">
    <div class="logo">
        <a [routerLink]='"/"'>
            <div class="logo-mini__icon"></div>
            <div class="logo__icon"></div>
        </a>
    </div>
    <div class="notifications" *ngIf="thereIsLoggedInUser">
        <app-header-notifications class="header-notifications"></app-header-notifications>
    </div>
    <div class="settings header__navigation-panel" *ngIf="thereIsLoggedInUser">
        <img class="settings__photo" [src]="userPhotoUrl">
        <span [routerLink]="'/user/profile/'+userId" class="settings__name">{{displayName}}</span>
        <md-icon [mdMenuTriggerFor]="appMenu">menu</md-icon>
    </div>
    <md-menu class="user_menu" #appMenu="mdMenu" yPosition="below" [overlapTrigger]="false">
        <button md-menu-item *ngIf="window.data._injectedData.role != 'admin'" routerLink="/user/account-settings/profile">Settings</button>
        <button md-menu-item (click)="logout()">Logout</button>
    </md-menu>
    <!--<div class="user-forms header__navigation-panel" *ngIf="!thereIsLoggedInUser">-->
    <!--<button md-button routerLink="/register" class="header__button">Register</button>-->
    <!--<button md-button routerLink="/login" class="header__button">Login</button>-->
    <!--</div>-->
</header>
