@import "../../../../src/globalStyles/variables";

$header-inner-margin: 5%;
$header-icons-intendation: 14px;
$header-height: 70px;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 260px;
    height: $header-height;
    background-color: $gradient-to-color;
    font-family: $font-general;

    .logo {
        font-size: 25px;
        margin-left: $header-inner-margin;

        a {
            text-decoration: none;
            color: $text-main-color;
        }

        .logo__icon {
            width: 53px;
            height: 40px;
            vertical-align: bottom;
            margin-bottom: 1px;
        }

        .logo__title {
            margin-left: $header-icons-intendation;
            vertical-align: super;
        }
    }

    .notifications {
        .notifications__count {
            vertical-align: super;
        }

        .notification__alert {
            cursor: pointer;
        }
    }

    .settings {
    
        .settings__name {
            margin-left: $header-icons-intendation;
            vertical-align: super;
            font-size: 17px;
        }
    }

    .header__navigation-panel {
        margin-right: $header-inner-margin;

        .header__button {
            background: $btn-color;
            border-radius: 5px;
            line-height: 30px;
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 390px) {
    header {
        .logo__title {
            display: none;
        }
    }
}
