@import '../../../globalStyles/variables.scss';
@import '../../../globalStyles/text.scss';
@import '../../../globalStyles/indentations.scss';

$header-inner-margin: 5%;
$header-icons-intendation: 14px;
$header-height: 70px;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 260px;
    height: $header-height;
    background-color: $gradient-to-color;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: $font-general;

    .logo {
        font-size: 25px;
        margin-left: $header-inner-margin;

        a {
            text-decoration: none;
            color: $text-main-color;
            display: flex;
            align-items: center;
        }

        .logo__icon {
            width: 125px;
            height: 50px;
            background: url('../../../globalStyles/img/logo.png');
            background-size: contain;
        }
        .logo-mini__icon {
            width: 60px;
            height: 60px;
            background: url('../../../globalStyles/img/mini_logo.png') center no-repeat;
            background-size: 90%;

            &:hover {
                animation: logoAnim 1s ease-in-out forwards;
            }
        }

        .logo__title {
            margin-left: $header-icons-intendation;
            vertical-align: super;
        }
    }

    .notifications {
        .notifications__count {
            vertical-align: super;
        }

        .notification__alert {
            cursor: pointer;
        }
    }

    .settings {
        display: flex;
        align-items: center;

        .settings__name {
            margin: 0 $header-icons-intendation;
            vertical-align: super;
            font-size: 17px;
        }

        .settings__photo {
            width: 35px;
            border-radius: 50%;
        }

        md-icon {
            cursor: pointer;
        }
    }

    .header__navigation-panel {
        margin-right: $header-inner-margin;

        .header__button {
            background: $btn-color;
            border-radius: 5px;
            line-height: 30px;
            font-weight: bold;
        }
    }
}

md-menu {
    display: none;
}

@keyframes logoAnim {
    0% {
        background-size: 90%;
    }
    20% {
        background-size: 99%;
        transform: rotateZ(0deg)
    }
    80% {
        background-size: 99%;
        transform: rotateZ(180deg)
    }
    100% {
        background-size: 90%;
        transform: rotateZ(180deg);
    }
}


$large-screen: 960px;
$medium-screen: 600px;
$small-screen: 440px;

@media screen and (max-width: $small-screen) {
    header {
        .settings__photo, .settings__name, .logo__title {
            display: none;
        }
    }
}
