@import '../../../globalStyles/variables.scss';
@import '../../../globalStyles/text.scss';
@import '../../../globalStyles/indentations.scss';

$header-inner-margin: 5%;
$header-icons-intendation: 14px;
$header-height: 70px;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 260px;
    height: $header-height;
    background-color: $gradient-to-color;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: $font-general;

    .logo {
        font-size: 25px;
        margin-left: $header-inner-margin;

        a {
            text-decoration: none;
            color: $text-main-color;
            display: flex;
            align-items: center;
        }

        .logo__text {
            width: 125px;
            height: 50px;
            background: url('../../../globalStyles/img/logo.png');
            background-size: contain;
        }
        .logo-mini__icon {
            width: 60px;
            height: 60px;
            background: url('../../../globalStyles/img/mini_logo.png') center no-repeat;
            background-size: 90%;

            &:hover {
                animation: logoAnim 1s ease-in-out forwards;
            }
        }
    }
    .panel {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .icons {
            margin-right: $header-icons-intendation;
            cursor: pointer;
            display: flex;
            align-items: center;
            position: relative;
        }

        .chat {
            position: relative;

            .got-messages {
                display: block;
                position: absolute;
                right: -4px;
                top: -4px;
                line-height: 12px;
                border-radius: 50%;
                font-size: 10px;
                background-color: #7da7d9;
                width: 12px;
                height: 12px;
                text-align: center;
                box-shadow: 0 0 2px 1px #7da7d9;
            }
        }

        .settings {
            display: flex;
            align-items: center;
            margin-right: $header-inner-margin;
            cursor: pointer;

            .settings__photo {
                margin-right: 5px;
                width: 35px;
                border-radius: 50%;
            }

            .settings__name {
                margin-right: $header-icons-intendation;
                vertical-align: super;
                font-size: 17px;
            }
        }

        .burger {
            display: none;
        }
    }
}
md-menu {
    display: none;
}

@keyframes logoAnim {
    0% {
        background-size: 90%;
    }
    20% {
        background-size: 99%;
        transform: rotateZ(0deg)
    }
    80% {
        background-size: 99%;
        transform: rotateZ(180deg)
    }
    100% {
        background-size: 90%;
        transform: rotateZ(180deg);
    }
}

@media screen and (max-width: $small-screen) {
    header {
        justify-content: space-around;
        .logo {
            display: none;
        }
        .panel {
            width: 100%;
            flex-direction: row-reverse;
            .icons {
                margin-right: 0;
                &/deep/ md-icon {
                    width: 40px;
                    height: 40px;
                    font-size: 40px;
                }
            }
            .settings {
                display: none;
            }
            .burger {
                display: flex;
            }
        }
    }
}
