// margins
$header-top-margin: 45px;
$close-top-margin: 15px;

$content-tb-margin: 20px;
$content-between-margin: 15px;
$content-lr-margin: 40px;

$submit-top-margin: 25px;

// paddings
$input-padding: 5px;