.markdown-quote {
    border-left: 4px solid #dddddd;
    padding: 0 15px;
    color: #777777;
}

.markdown-quote > :first-child {
    margin-top: 0;
}

.markdown-quote > :last-child {
    margin-bottom: 0;
}

.markdown-table {
    padding: 0;
    tr {
        border-top: 1px solid #cccccc;
        background-color: $gradient-from-color;
        margin: 0;
        padding: 0;
        th {
            font-weight: bold;
            border: 1px solid #cccccc;
            text-align: left;
            margin: 0;
            padding: 6px 13px;
        }
        td {
            border: 1px solid #cccccc;
            text-align: left;
            margin: 0;
            padding: 6px 13px;
        }
        th :first-child, td :first-child {
            margin-top: 0;
        }
        th :last-child, td :last-child {
            margin-bottom: 0;
        }
    }
    tr:nth-child(2n) {
        background-color: $gradient-to-color;
    }
}

.markdown-link {
    color: #d1c501;
}

.markdown-listitem {
    margin: 15px 0;
}

.markdown-listitem:first-child {
    margin-top: 0;
}

.markdown-listitem:last-child {
    margin-bottom: 0;
}
