#toast-container .toast {
    padding: 10px 10px 10px 40px;
    border-radius: 0;
    background-position: 10px center;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.toast-success {
    background-color: $btn-color;
}

.toast-warning {
	background-color: $option1-color;
}

.toast-error {
	background-color: $error-color;
}

.toast-info {
    background-color: $btn-second-color;
}

@media screen and (max-width: 480px) {
    #toast-container {
        right: 0;
        bottom: -6px;
        width: 100%;
    }
    #toast-container .toast {
        width: 100%;
    }
}