//breakpoints
$large-screen: 960px;
$medium-screen: 600px;
$small-screen: 440px;

// colors
$bg-color: #333;
$text-main-color: #fff;
$text-second-color: #9f9f9f;
$gradient-from-color: #222;
$gradient-to-color: #424242;
$btn-color: #82ca9c;
$btn-second-color: #7da7d9;
$error-color: #ff5057;
$option1-color: #d1c501;
$text-second-color: #9f9f9f ;
$gradient-from-color: #222222 ;
$gradient-to-color: #424242 ;
$btn-color: #82ca9c ;
$btn-second-color: #7da7d9 ;