//breakpoints
$full-hd-screen: 1650px;
$hd-screen: 1280px;
$large-screen: 960px;
$medium-screen: 600px;
$small-screen: 440px;

// colors
$bg-color: #333;

$text-main-color: #fff;
$text-second-color: #9f9f9f;
$text-shadowed-color: #b9b9b9;
$text-dark-color: #111;

$gradient-from-color: #222;
$gradient-to-color: #424242;

$main-color: #82ca9c;
$dark-main-color: #556d5b;
$secondary-color: #7da7d9;

$btn-color: #82ca9c;
$btn-second-color: #7da7d9;

$text-warn-color: indianred;
$error-color: #ff5057;

$option1-color: #d1c501;

