// fonts
$font-general:  'Poiret One', sans-serif;

//breakpoints
$large-screen: 960px;
$small-screen: 440px;


// colors
$bg-color: #333;
$text-main-color: #fff;
$text-second-color: #9f9f9f ;
$gradient-from-color: #222222 ;
$gradient-to-color: #424242 ;
$btn-color: #82ca9c ;
$btn-second-color: #7da7d9 ;