<div class="training-history">
    <h2>Training history</h2>

    <div class="info">
        <p>Total training time: {{totalTrainingTime}}</p>
        <p>Total burned calories: {{totalBurnedCalories}}</p>
    </div>

    <div class="navigate">
        <div class="search">
            <md-input-container>
                <input mdInput type="text" #filter placeholder="search by name">
            </md-input-container>
        </div>
    
        <div class="period-wrap">
            <md-input-container>
                <input mdInput
                       #filterDateFrom
                       [(ngModel)]="period.from"
                       [mdDatepicker]="period_from"
                       placeholder="from"
                       (ngModelChange)="updateData()">
                <!-- <button mdSuffix [mdDatepickerToggle]="period_from"></button> -->
            </md-input-container>
            <md-datepicker #period_from></md-datepicker>
            <md-input-container>
                <input mdInput
                       #filterDateTo
                       [(ngModel)]="period.to"
                       [mdDatepicker]="period_to"
                       placeholder="to"
                       (ngModelChange)="updateData()">
                <!-- <button mdSuffix [mdDatepickerToggle]="period_to"></button> -->
            </md-input-container>
            <md-datepicker #period_to></md-datepicker>
        </div>
    </div>


    <md-table #table [dataSource]="dataSource" mdSort>
        <ng-container cdkColumnDef="name">
            <md-header-cell *cdkHeaderCellDef md-sort-header>
                Name
            </md-header-cell>
            <md-cell *cdkCellDef="let row" class="name" routerLink="/user/training-history/{{row.id}}">
                {{ row.name }}
            </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="type">
            <md-header-cell *cdkHeaderCellDef md-sort-header>
                Type
            </md-header-cell>
            <md-cell *cdkCellDef="let row" routerLink="/user/training-history/{{row.id}}">
                {{ row.type }}
            </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="date">
            <md-header-cell *cdkHeaderCellDef md-sort-header>
                Date
            </md-header-cell>
            <md-cell *cdkCellDef="let row" routerLink="/user/training-history/{{row.id}}">
                {{ row.date.display }}
            </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="totalTime">
            <md-header-cell *cdkHeaderCellDef md-sort-header>
                Total time
            </md-header-cell>
            <md-cell *cdkCellDef="let row" routerLink="/user/training-history/{{row.id}}">
                {{ row.totalTime.display }}
            </md-cell>
        </ng-container>

        <ng-container cdkColumnDef="calories">
            <md-header-cell *cdkHeaderCellDef md-sort-header>
                Calories burned
            </md-header-cell>
            <md-cell *cdkCellDef="let row" routerLink="/user/training-history/{{row.id}}">
                {{ row.calories }}
            </md-cell>
        </ng-container>

        <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>

    <md-paginator
        [hidden]="(tableDatabase.data.length / 25) < 1"
        #paginator
        [length]="tableDatabase.data.length"
        [pageIndex]="0"
        [pageSize]="25">
    </md-paginator>
</div>