<aside>
    <nav class="navigation">
        <md-list>
            <!--<div class="navigation__main-section">
                <div md-subheader class="navigation__subheader">MAIN</div>
                <md-list-item class="menu-element">
                     <a routerLink="/" routerLinkActive="active-link">
                        <svg class="navigation__icon" viewBox="0 0 24 24">
                            <path d="M1.96,4.8L14,3.08V5H20L21,5A1,1 0 0,1 22,6V10A1,1 0 0,1 21,11H20V19H14V21L1.96,19.21V4.8M11,16.75V8.25L9,8.5V12.75L7,8.75L5,9V16L6.5,16.25V10.75L9,16.5L11,16.75M14,14H18V13H14V14M14,11H18V10H14V11M14,8H18V7H14V8M14,16V17H18V16H14Z" />
                        </svg>
                        <span md-line class="navigation__title">Plans Stock</span>
                     </a>
                </md-list-item >
                <md-list-item class="menu-element">
                    <a routerLink="/" routerLinkActive="active-link">
                        <svg class="navigation__icon" viewBox="0 0 24 24">
                            <path d="M22,18A4,4 0 0,1 18,22H15A4,4 0 0,1 11,18V16H17.79L20.55,11.23L22.11,12.13L19.87,16H22V18M9,22H2C2,19 2,16 2.33,12.83C2.6,10.3 3.08,7.66 3.6,5H3V3H4L7,3H8V5H7.4C7.92,7.66 8.4,10.3 8.67,12.83C9,16 9,19 9,22Z" />
                        </svg>
                        <span md-line class="navigation__title">Calories eat</span>
                    </a>
                </md-list-item>
                <md-list-item class="menu-element">
                    <a routerLink="/" routerLinkActive="active-link">
                        <svg class="navigation__icon" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                        <span md-line class="navigation__title">Location</span>
                    </a>
                </md-list-item>
                <md-list-item class="menu-element new">
                    <a routerLink="/" routerLinkActive="active-link">
                        <svg class="navigation__icon" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"/>
                        </svg>
                        <span md-line class="navigation__title">Event</span>
                    </a>
                </md-list-item>
                <md-list-item class="menu-element">
                    <a routerLink="/" routerLinkActive="active-link">
                        <svg class="navigation__icon" viewBox="0 0 24 24">
                            <path d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
                        </svg>
                        <span md-line class="navigation__title">Trainer or Amateur</span>
                    </a>
                </md-list-item>
            </div>
            -->
            <div class="navigation__your-section">
                <div md-subheader class="navigation__subheader">MINE</div>
                <md-list-item class="menu-element">
                    <a routerLink="training-list" routerLinkActive="active-link">
                        <svg class="navigation__icon" viewBox="0 0 24 24">
                            <path d="M20,10H4c-1.1,0-2,0.9-2,2c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2C22,10.9,21.1,10,20,10z"/>
                            <path d="M4,8h12c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2H4C2.9,4,2,4.9,2,6C2,7.1,2.9,8,4,8z"/>
                            <path d="M16,16H4c-1.1,0-2,0.9-2,2c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2C18,16.9,17.1,16,16,16z"/>
                        </svg>
                        <span md-line class="navigation__title">My Plans</span>
                    </a>
                </md-list-item>

                <md-list-item class="menu-element">
                    <a routerLink="goals" routerLinkActive="active-link">
                        <svg class="navigation__icon" viewBox="0 0 100 125">
                            <path d="M24.11,67.5c19.51,10,9.69,22.21,3.61,27.65A1.63,1.63,0,0,0,28.8,98H80.68a3.65,3.65,0,0,0,2.89-1.43C99.69,75.64,68.66,65.66,68.66,65.66L34.32,54.59c-7.17-3-2.62-7.93,3.18-11.92l1.29-.91a3.13,3.13,0,0,0,1.05-4,3,3,0,0,0-4-1.27L21.27,44S-1.85,54.17,24.11,67.5Z"/>
                            <path d="M60,53.67a4.48,4.48,0,0,0,6.29,0C72,48.13,83.15,35.43,83.15,22a20,20,0,0,0-20-20q-.64,0-1.29,0A20.13,20.13,0,0,0,43.21,22.21C43.34,35.59,54.45,48.18,60,53.67ZM55.19,22a8,8,0,1,1,8,8A8,8,0,0,1,55.19,22Z"/>
                        </svg>
                        <span md-line class="navigation__title">My Goals</span>
                    </a>
                </md-list-item >

                <div md-subheader class="navigation__subheader">FRIENDS</div>
                <md-list-item class="menu-element">
                    <a routerLink="all-users" routerLinkActive="active-link">
                        <svg class="navigation__icon" viewBox="-11 13 24 30">
                            <path d="M1,23.1c1.9,0,3.5-1.8,3.5-4.1C4.6,16,3,15,1,15c-1.9,0-3.5,1-3.5,4.1C-2.5,21.3-0.9,23.1,1,23.1z"/>
                            <path d="M-5.6,23.7c0.6,0,1-0.1,1-0.1c0.6-0.8,0.8-1,1.5-1.6c0,0-0.6-1-0.8-2.2c-0.2-1.3,0.3-2.3,0.3-2.3c-0.5-0.4-1.2-0.6-2-0.6    c-1.6,0-2.9,0.8-2.9,3.4C-8.5,23.4-5.9,23.7-5.6,23.7z"/>
                            <path d="M4.4,23.1c-0.9,1-2.1,1.6-3.4,1.6c-1.3,0-2.5-0.6-3.4-1.6c-1.5,1.3-2.5,3.4-2.5,5.9v4.7c0,0.7,0.5,1.3,1.1,1.3l9.9,0    C6.6,35,7,34.4,7,34v-5.1C6.9,26.5,5.9,24.4,4.4,23.1z"/>
                            <path d="M-11,28.3v3.9c0,0.6,0.5,1.1,1.1,1.1h3.6v-4.2c0-1.5,0.4-2.9,1-4.1c-1.3-0.1-2.5-0.6-3.4-1.5C-10.1,24.7-11,26.4-11,28.3z    "/>
                            <path d="M5.1,22c0.6,0.6,0.8,0.8,1.5,1.6c0,0,0.4,0.1,1,0.1c0.3,0,2.9-0.3,2.9-3.4c0-2.6-1.3-3.4-2.9-3.4c-0.8,0-1.4,0.2-2,0.6    c0,0,0.5,1,0.3,2.3C5.7,21,5.1,22,5.1,22z"/>
                            <path d="M10.7,23.6c-0.9,0.9-2.1,1.4-3.4,1.5c0.6,1.2,1,2.6,1,4.1v4.2h3.6c0.6,0,1.1-0.5,1.1-1.1v-3.9    C13,26.4,12.1,24.7,10.7,23.6z"/>
                        </svg>
                        <span md-line class="navigation__title">All</span>
                    </a>
                </md-list-item >
                <md-list-item class="menu-element">
                    <a routerLink="plans" routerLinkActive="active-link">
                        <svg class="navigation__icon" viewBox="0 0 24 24">
                            <path d="M20,10H4c-1.1,0-2,0.9-2,2c0,1.1,0.9,2,2,2h16c1.1,0,2-0.9,2-2C22,10.9,21.1,10,20,10z"/>
                            <path d="M4,8h12c1.1,0,2-0.9,2-2c0-1.1-0.9-2-2-2H4C2.9,4,2,4.9,2,6C2,7.1,2.9,8,4,8z"/>
                            <path d="M16,16H4c-1.1,0-2,0.9-2,2c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2C18,16.9,17.1,16,16,16z"/>
                        </svg>
                        <span md-line class="navigation__title">Plans</span>
                    </a>
                </md-list-item >
                <div md-subheader class="navigation__subheader">TRACKING</div>
                <md-list-item class="menu-element">
                    <a routerLink="weight-control" routerLinkActive="active-link">
                        <svg class="navigation__icon" viewBox="0 0 100 125">
                            <path d="M83,2H17A15,15,0,0,0,2,17V83A15,15,0,0,0,17,98H83A15,15,0,0,0,98,83V17A15,15,0,0,0,83,2ZM63,39.5H37a15,15,0,1,1,26,0Z"/>
                        </svg>
                        <span md-line class="navigation__title">Weight Control</span>
                    </a>
                </md-list-item >
                <div md-subheader class="navigation__subheader">TRAINING</div>
                <md-list-item class="menu-element">
                    <a routerLink="start-training" routerLinkActive="active-link">
                        <svg class="navigation__icon" viewBox="0 0 24 24">
                            <path d="M20.57 14.86L22 13.43 20.57 12 17 15.57 8.43 7 12 3.43 10.57 2 9.14 3.43 7.71 2 5.57 4.14 4.14 2.71 2.71 4.14l1.43 1.43L2 7.71l1.43 1.43L2 10.57 3.43 12 7 8.43 15.57 17 12 20.57 13.43 22l1.43-1.43L16.29 22l2.14-2.14 1.43 1.43 1.43-1.43-1.43-1.43L22 16.29z"/>
                        </svg>
                        <span md-line class="navigation__title">Start training</span>
                    </a>
                </md-list-item>
                <md-list-item class="menu-element">
                    <a routerLink="training-history" routerLinkActive="active-link">
                        <svg class="navigation__icon" viewBox="0 0 24 24">
                            <path d="M10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8l-2-2z"/>
                        </svg>
                        <span md-line class="navigation__title">Training history</span>
                    </a>
                </md-list-item>

                <!--
                <md-list-item class="menu-element">
                    <a routerLink="/" routerLinkActive="active-link">
                        <svg class="navigation__icon" viewBox="0 0 24 24">
                            <path d="M22,18A4,4 0 0,1 18,22H15A4,4 0 0,1 11,18V16H17.79L20.55,11.23L22.11,12.13L19.87,16H22V18M9,22H2C2,19 2,16 2.33,12.83C2.6,10.3 3.08,7.66 3.6,5H3V3H4L7,3H8V5H7.4C7.92,7.66 8.4,10.3 8.67,12.83C9,16 9,19 9,22Z" />
                        </svg>
                        <span md-line class="navigation__title">Calories eat</span>
                    </a>
                </md-list-item>
                <md-list-item class="menu-element">
                    <a routerLink="/" routerLinkActive="active-link">
                        <svg class="navigation__icon" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                        <span md-line class="navigation__title">My Location</span>
                    </a>
                </md-list-item>
                <md-list-item class="menu-element">
                    <a routerLink="/" routerLinkActive="active-link">
                        <svg class="navigation__icon" viewBox="0 0 24 24">
                            <path d="M13.5,5.5C14.59,5.5 15.5,4.58 15.5,3.5C15.5,2.38 14.59,1.5 13.5,1.5C12.39,1.5 11.5,2.38 11.5,3.5C11.5,4.58 12.39,5.5 13.5,5.5M9.89,19.38L10.89,15L13,17V23H15V15.5L12.89,13.5L13.5,10.5C14.79,12 16.79,13 19,13V11C17.09,11 15.5,10 14.69,8.58L13.69,7C13.29,6.38 12.69,6 12,6C11.69,6 11.5,6.08 11.19,6.08L6,8.28V13H8V9.58L9.79,8.88L8.19,17L3.29,16L2.89,18L9.89,19.38Z" />
                        </svg>
                        <span md-line class="navigation__title">Run</span>
                    </a>
                </md-list-item>
                <md-list-item class="menu-element selected">
                    <a routerLink="/" routerLinkActive="active-link">
                        <svg class="navigation__icon" style="fill: #fff;" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0h24v24H0z" fill="none"/>
                            <path d="M20.57 14.86L22 13.43 20.57 12 17 15.57 8.43 7 12 3.43 10.57 2 9.14 3.43 7.71 2 5.57 4.14 4.14 2.71 2.71 4.14l1.43 1.43L2 7.71l1.43 1.43L2 10.57 3.43 12 7 8.43 15.57 17 12 20.57 13.43 22l1.43-1.43L16.29 22l2.14-2.14 1.43 1.43 1.43-1.43-1.43-1.43L22 16.29z"/>
                        </svg>
                        <span md-line class="navigation__title">Bodybuilding</span>
                    </a>
                </md-list-item>-->
            </div>
        </md-list>
    </nav>
</aside>
