<div class="container centerContent">
    <div class="timers">
        <h2 *ngIf="loaded">{{typeTrain}} mode</h2>
        <app-secundomer *ngIf="loaded" [finishTrain]="secundomerBind.finishTrain" [intervalTrain]="secundomerBind.intervalTrain" (onFinish)="onFinish($event)"></app-secundomer>
    </div>
    <div class="child">
        <div class="exlist">
            <app-exercise-list [exercisesList]="exercisesList"></app-exercise-list>
        </div>
        <div class="intmenu">
            Interval menu (optional) here
        </div>
    </div>
</div>