@import "../../../../globalStyles/variables.scss";
@import '../../../../globalStyles/text.scss';
@import '../../../../globalStyles/indentations.scss';

.container {
    width: 100%;
    height: 100%;
}

.centerContent {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.timers {
    :host /deep/ button {
        border: none;
        margin: 35px auto 0 auto;
        width: 90%;
        padding: 15px;
        color: $text-main-color;
        background-color: $btn-color;
        font-size: $button-text;
        font-weight: 600;
        font-size: 11pt;
        border-radius: 50px;
        outline: none;
        &:hover {
            cursor: pointer;
        }
    }
    // :host /deep/ .run {
    //     background-color: green;
    // }
    // :host /deep/ .pause {
    //     background-color: yellow;
    // }
    // :host /deep/ .clear {
    //     background-color: red;
    // }
    :host /deep/ .numbers {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 40px;
        width: 420px;
        text-align: center;
    }
}