@import '../../../../../../globalStyles/variables.scss';
@import '../../../../../../globalStyles/indentations.scss';
@import '../../../../../../globalStyles/text.scss';

.weight-control {
    .content {
        height: 100%;
    }

    .content > div {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }
}

#diff {
    #previous-diff,
    #per-week-diff {
        display: inline-block;
        max-width: 90%;

        div {
            display: inline-block;
            margin: 0 10px;
        }

        .diff {
            font-size: $main-text;
        }
    }

    #per-week-diff {
        margin-top: 10px;

        #per-week{
            font-size: $main-text;
        }
    }
}

#weekly-selection {
    text-align: right;
}

md-radio-group {
    display: inline-block;
    max-width: 45%;
    margin: 30px 0 0;

    input {
        display: none;
    }

    label {
        display: block;
        margin: 5px 0;
        cursor: pointer;
        font-size: $main-text;
        color: $text-second-color;
    }

    .label-checked {
        color: $text-main-color;
    }

    .label-unchecked {
        color: $text-second-color;
    }
}

.better-result {
    color: $btn-color;
}

.worse-result {
    color: $text-warn-color;
}


@media only screen and (min-width: $small-screen) {

    .weight-control {
        .content > div {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;
        }
    }

    #diff {
        #previous-diff,
        #per-week-diff {
            display: inline-block;
            max-width: 45%;

            div {
                display: inline-block;
                margin: 0 10px;
            }
        }

        #per-week-diff {
            margin-top: initial;
            text-align: right;
        }
    }

    md-radio-group {
        label {
            display: inline-block;
            margin: 5px 10px;
        }
    }
}

@media only screen and (min-width: $large-screen) {
    md-radio-group {
        label {
            font-size: $minor-text;
        }
    }
}
