@import '../../../../../globalStyles/variables';
@import '../../../../../globalStyles/indentations';
@import '../../../../../globalStyles/text';
.search-container{
    position: relative;
    height: 100%;
    .overlay{
        display: flex;
        height: calc(60vh - 4px);
        justify-content: center;
        align-items: center;
        width: calc(100% + 40px);
        background-color: rgba(34, 34, 34, 0.71);
        position: absolute;
        top: -15px;
        left: -20px;
        span{
            font-size: 30px;
            font-weight: bold;
        }
    }
.content {
    width: 100%;
    height: 90%;
    display: flex;
    .side-content {
        width: 25%;
        height: 90%;
        padding: 10px;
        padding-left: 0;
        overflow-y: scroll;
        border-right: 1px solid #424242;

        .types {
            .depth-wrap {
                display: flex;
                flex-flow: column nowrap;
                flex: 100%;
                margin: 10px;

                .name-wrap {
                    display: flex;
                    flex-flow: row nowrap;
                    align-items: center;
                }

                .type-name {
                    cursor: pointer;
                }

                .selected {
                    font-weight: 900;
                }
            }

            .icon-arrow {
                cursor: pointer;
                margin: auto 0;
            }
        }
        .section {
            margin: 5px 0;
        }
        .name {
            font-size: 16px;
        }
        .subsections {
            padding-left: 15px;
            margin: 5px 0;
        }
    }
    .product-content {
        width: 75%;
        height: 90%;

        md-list-item {
            md-checkbox {
                order: -1;
            }
            md-input-container {
                width: 10%;
            }
        }
        .product-upper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 0 $content-between-margin;
        }

        .product-list {
            height: 70%;
            overflow-y: scroll;
        }

        .btn {
            border: none;
            color: $text-main-color;
            background-color: $btn-color;
            font-weight: bold;
            font-size: 14px;
            border-radius: 50px;
            width: auto;
            height: 40px;
            margin-top: 20px;
        }
        .food-part {
            width: 15%;
            text-align: center;
        }
        .food-name {
            width: 20%
        }
        .add-food-item {
            margin-left: auto;
        }
        .hidden {
            visibility: hidden;
        }

        .product-nofood {
            text-align: center;
        }

        .sorting-options {
            width: 100%;
            display: flex;
            justify-content: center;
            padding-right: $content-lr-margin;
            span {
                padding-right: $content-between-margin;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }
    }

}

}