<h2>Search products</h2>
<div class="content">
    <div class="side-content">
        <md-input-container>
            <input mdInput placeholder="Search type" #searchInput (keyup)="searchType(searchInput.value)">
        </md-input-container>
        <div class="types">
            <div class="types-depth" *ngFor="let type of filtered || typesDepth">
                <div class="depth-wrap">
                    <span class="type-name" [ngClass]="(selectedType === type._id) ? 'selected' : ''" (click)="chooseType(type)">
                        {{type.name}}
                    </span>
                    <md-icon class="icon-arrow" *ngIf="type.children && !filtered" (click)="toggleChild(type._id)">{{showItem[type._id] ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</md-icon>
                    <div *ngIf="type.children && showItem[type._id]  && !filtered">
                        <div class="depth-wrap" *ngFor="let type2 of type.children">
                            <span class="type-name" [ngClass]="(selectedType === type2._id) ? 'selected' : ''" (click)="chooseType(type2)">
                                {{type2.name}}
                            </span>
                            <md-icon class="icon-arrow" *ngIf="type2.children" (click)="toggleChild(type2._id)">{{showItem[type2._id] ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</md-icon>
                            <div *ngIf="type2.children && showItem[type2._id]">
                                <div class="depth-wrap" *ngFor="let type3 of type2.children">
                                    <span class="type-name" [ngClass]="(selectedType === type3._id) ? 'selected' : ''" (click)="chooseType(type3)">
                                         {{type3.name}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="product-content">
        <div class="product-upper">
            <button class="btn">Add checked</button>
            <md-input-container>
                <input mdInput placeholder="Search name" #searchInputName (keyup)="searchName(searchInputName.value)">
            </md-input-container>
        </div>
        <md-list *ngIf="foods">
            <md-list-item *ngFor="let food of foods" [hidden]="food.isRemoved">
                <md-checkbox #checkFood class="food-part "></md-checkbox>
                <div class="food-part">
                    <img md-list-avatar [src]="food.picture || './resources/default.png'">
                </div>
                <span class="food-part food-name" *ngIf="food.name" md-tooltip="{{food.name}}" [mdTooltipDisabled]="food.name.length < 9">
                      {{food.name.length > 8 ? food.name.substring(0,6)+'...' : food.name}}
                  </span>
                <span class="food-part" *ngIf="food.vendor" md-tooltip="{{ food.vendor}}" [mdTooltipDisabled]="food.vendor.length < 6">
                      {{food.vendor.length > 5 ? food.vendor.substring(0,3)+'...' : food.vendor}}
                  </span>
                <span class="food-part">{{food.carbons}}, {{food.protein}}, {{food.fat}}</span>
                <md-input-container>
                    <input mdInput type="number">
                </md-input-container>
                <span>g</span>
                <button md-button class="add-food-item" [ngClass]="{'hidden': !checkFood.checked }">Add</button>
            </md-list-item>
        </md-list>
        <div class="product-nofood" *ngIf="!foods || !foods.length">There is no food in this category</div>
    </div>
</div>