@import '../../../../globalStyles/variables.scss';
@import '../../../../globalStyles/text.scss';
@import "../../../../globalStyles/indentations";

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.exercise-create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 60vw;
    min-height: 500px;
    font-family: $font-general;
    font-size: $usual-text;
    margin: $content-tb-margin auto;

    h2 {
        margin-bottom: 0;
        text-align: center;
        font-size: $header-text;
    }

    .input {
        width: 100%;
    }
    textarea {
        min-height: 100px;
    }
    .select-row {
        margin: 15px 0;
        .mat-select-placeholder {
            font-size: 14px;
        }
    }
    .mat-select-trigger {
        font-size: 14px;
    }
    .preview-header {
        align-self: flex-start;
        font-size: $main-text;
        margin-bottom: 10px;
    }

    .preview {
        margin: 0 auto;
        width: 400px;

        .image-preview {
            margin: $content-between-margin;
            text-align: center;
        }

    }

    .btn-save {
        border: none;
        margin-top: $content-between-margin;
        width: 90%;
        padding: 5px;
        color: $text-main-color;
        background-color: $btn-color;
        font-weight: bold;
        font-size: 14px;
        border-radius: 50px;
        cursor: pointer;
        outline: none;
    }
}

