<form class="exercise-create-form" #form="ngForm">

    <h2>{{titleType}} exercise</h2>
    <md-input-container class="input">
        <input mdInput placeholder="Exercise Title" [(ngModel)]="exercise.name" name="name" required>
    </md-input-container>
    <md-select placeholder="Exercise type" [(ngModel)]="exercise.type" name="type" class="select-row input" required>
        <md-option *ngFor="let type of exTypes" [value]="type._id">
            {{type.name}}
        </md-option>
    </md-select>
    <md-input-container class="example-full-width" class="input">
        <textarea mdInput placeholder="Exercise Description" [(ngModel)]="exercise.description" name="description"></textarea>
    </md-input-container>
    <button md-button class="btn btn-save" (click)="save(form)">Save</button>
</form>