<form class="exercise-create-form" #form="ngForm">
    <h2>{{titleType}} exercise</h2>
    <md-input-container class="input">
        <input mdInput placeholder="Exercise Title" [(ngModel)]="exercise.name" name="name" required>
    </md-input-container>
    <md-select placeholder="Exercise type" [(ngModel)]="exercise.type" name="type" class="select-row input" required>
        <md-option *ngFor="let type of exTypes" [hidden]="type.isRemoved" [value]="type._id">
            {{type.name}}
        </md-option>
    </md-select>
    <md-select placeholder="Exercise measure" [(ngModel)]="exercise.measure" name="measure" class="select-row input" required>
        <md-option *ngFor="let measure of exMeasures" [hidden]="measure.isRemoved" [value]="measure.measureName">
            {{measure.measureName}}
        </md-option>
    </md-select>
    <md-select placeholder="Related sport" [(ngModel)]="sport" name="sport" class="select-row input">
        <md-option *ngFor="let sport of exSports" [hidden]="sport.isRemoved" [value]="sport._id">
            {{sport.name}}
        </md-option>
    </md-select>
<!--     <md-chip-list class="exercises-list">
        <md-chip class="list-item" *ngFor="let exercise of sport.exercisesList">
            <p class="item-name" (click)="showDescription(exercise)">{{exercise.exercise.name}}</p>
            <md-icon class="button-remove" (click)="removeExercise(exercise.exercise._id)">clear</md-icon>
        </md-chip>
    </md-chip-list> -->
    <md-input-container class="example-full-width" class="input">
        <textarea mdInput placeholder="Exercise Description" [(ngModel)]="exercise.description" name="description" (keyup)="updateOutput($event.target.value)"></textarea>
    </md-input-container>
    <button class="btn upload-container" *ngIf="hideCropper">
        <span>Upload exercise image</span>
        <input type="file" accept="image/*" class="upload" (change)="fileChangeListener($event)"/>
    </button>
    <div class="preview-header" *ngIf="hideCropper">Preview</div>
    <div class="preview">
        <div class="image-preview">
            <img *ngIf="!hideCropper" [src]='data.image' [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
            <img *ngIf="hideCropper" [src]='exercise.image'>
        </div>
        <img-cropper #cropper *ngIf="!hideCropper" class="img-cropper" [image]="data" [settings]="cropperSettings"></img-cropper>
        <div class="cropper-buttons" *ngIf="!hideCropper">
            <button class="cropper-btn" (click)="cropperBtn('save')">Ok</button>
            <button class="cropper-btn" (click)="cropperBtn('cancel')">Cancel</button>
        </div>
        <div class="description" *ngIf="hideCropper" [innerHtml]="convertedDescription"></div>
    </div>
    <button class="btn" *ngIf="hideCropper" (click)="save(form)">Save</button>
</form>