@import '../../../../../../globalStyles/variables.scss';
@import '../../../../../../globalStyles/indentations.scss';
@import '../../../../../../globalStyles/text.scss';

* {
    font-family: 'Roboto', sans-serif;
    color: $text-main-color;
}

button {
    width: 50%;
    margin: auto;
    cursor: pointer;
    display: block;
    background-color: transparent;
    border: 0;
    font-size: 18px;

    &.train {
        color: $btn-color;
    }
}

.container {
    max-width: 300px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .recomendation {
        width: 100%;
        span {
            display: block;
        }
    }

    .listTrain {
        width: 100%;
        span {
            display: block;
            margin-bottom: $content-between-margin;
        }
        .list {
            text-align: center;
            font-size: 18px;
        }
    }
}

.plan-container {
    margin-top: 10px;
    background-color: $bg-color;
    width: 100%;
    height: 20vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: auto;
}

.btn-container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
}