@import '../../../globalStyles/variables.scss';
@import '../../../globalStyles/indentations.scss';
@import '../../../globalStyles/text.scss';

/* general */

* {
  font-family: 'Roboto', sans-serif;
  color: $text-main-color;
}

a {
  display: block;
  color: $text-main-color;
}

svg {
  width: 40px;
  margin: 0 0 $content-lr-margin;
}

/* reset password form */

#reset-password {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  color: $text-main-color;
  background: $bg-color;
}

#form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 80%;
  margin-top: 25px;
  padding: 20px;
  background: $gradient-from-color;
  background: -webkit-linear-gradient($gradient-to-color, $gradient-from-color);
  background: -o-linear-gradient($gradient-to-color, $gradient-from-color);
  background: -moz-linear-gradient($gradient-to-color, $gradient-from-color);
  background: linear-gradient($gradient-to-color, $gradient-from-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}

#exit-icon {
  position: absolute;
  right: 20px;
  top: $close-top-margin;
  width: 25px;
  height: 25px;
  font-size: 0;

  div {
    width: 25px;
    height: 2px;
    border-radius: 2px;
    background-color: $text-main-color;
  }

  div:first-child {
    transform: translateY(10px) rotate(-45deg);
  }

  div:last-child {
    transform: translateY(8px) rotate(45deg);
  }
}

#exit-icon:hover {
  cursor: pointer;
}

.text {
  margin: 0 0 $content-between-margin;
}

#continue-message {
  margin: 30px 0;
}

#code {
  margin: $content-between-margin 0;
  font-weight: 600;
  color: $option1-color;
}

#signature {
  width: 100%;
  margin: $submit-top-margin 0;
}

#submit-button {
  width: 100%;
  margin: $content-between-margin 0 0;
  text-align: center;

  button {
    width: 90%;
    height: 45px;
    border-radius: 45px;
    font-size: $button-text;
    font-weight: 600;
    background: $btn-color;

    a {
      text-decoration: none;
    }
  }
}


@media only screen and (min-width: $small-screen) {

  #form {
    padding: $header-top-margin $content-lr-margin $content-lr-margin;
  }

  #exit-icon {
    right: 30px;
    width: 20px;
    height: 20px;

    div {
      width: 20px;
    }

    div:first-child {
      transform: translateY(8px) rotate(-45deg);
    }

    div:last-child {
      transform: translateY(6px) rotate(45deg);
    }
  }
}


@media only screen and (min-width: $medium-screen) {

  #form {
    width: 370px;
  }

  #submit-button {
    button {
      width: 100%;
    }
  }
}
