<div class="container">
    
    <div class="items"></div>

    <div class="items">

        <div class="block-container">
            <form #form="ngForm" class="block">

                <div class="heading">
                    <div class="title">Forgot password?</div>
                    <i class="material-icons close">close</i>
                </div>

                <md-input-container class="email-container header-margin">
                    <input 
                    mdInput
                    type="email" 
                    placeholder="Email address"
                    required
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    [(ngModel)]="email"
                    name="email"
                    #emailInput="ngModel">
                    <md-error *ngIf="emailInput.errors && emailInput.errors.pattern && emailInput.touched">
                        Please enter a valid email address
                    </md-error>
                    <md-error *ngIf="emailInput.errors && emailInput.errors.required && emailInput.touched">
                        This field is <strong>required</strong>
                    </md-error>
                </md-input-container>

                <button md-button disableRipple class="btn btn-forget" (click)="sendLetter(form)">Send email</button>

        </form>
    </div>
</div>
<div class="items"></div>
</div>
