@import "./../../../globalStyles/variables";
@mixin linear-gradient($direction, $color-stops...) {
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}

input{
    padding: 5px;
    width: 100%;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px $gradient-to-color inset;
  -webkit-text-fill-color: $text-main-color;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: $bg-color;
    font-family: $font-general;
    justify-content: space-around;
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo {
    font-size: 50px;
    color: $text-main-color;
}


.block-container{
    margin: 0 auto;
}

.block {
    padding-bottom: 25px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 2px #2A2A2A solid;
    background-image: linear-gradient(to top, $gradient-from-color, $gradient-to-color);
}

.heading {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-main-color;
}

.title {
    font-size: 23px;
}

// change to ico
.close {
    font-size: 18px;
}

.close:hover {
    cursor: pointer;
    color: $text-second-color;
}

.text-block {
    color: $text-main-color;
    font-size: 15px;
    margin-top: 15px;
}


.text-block-margin {
    margin-top: 25px;
}



.email-container {
    width: 100%;
    margin-top: 15px;
}

.btn {
    border: none;
    padding: 3px;
    color: $text-main-color;
    background-color: $btn-color;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50px;
}

.btn-forget {
    width: 100%;
    margin-top: 30px;
}





@media only screen and (min-width: $large-screen) {
    .container {
        flex-direction: row;
    }
    .logo {
        margin-top: 200px;
    }
    .block {
        margin-top: 50px;
    }
    .block-container {
        width: 400px;
    }
    .items {
        flex-basis: 0;
        flex-grow: 1;
    }
}


@media only screen and (max-width: $large-screen) and (min-width: $small-screen) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        margin-top: 20px;
    }
    .block {
        margin-top: 0;
    }
    .block-container {
        width: 400px;
    }
    .items {
        flex-basis: initial;
        flex-grow: initial;
    }
}


@media only screen and (max-width: $small-screen) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        margin-top: 20px;
    }
    .block {
        margin-top: 0;
    }
    .block-container {
        width: 100%;
    }
    .items {
        flex-basis: initial;
        flex-grow: initial;
    }
}
