@import "./../../../../src/globalStyles/variables";

@mixin linear-gradient($direction, $color-stops...) {
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}



button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $text-second-color;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $text-second-color;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: $text-second-color;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $text-second-color;
}



.container {
    display: flex;
    width: 100%;
    height:100vh;
    min-height: 550px;
    background-color: $bg-color;
    font-family: $font-general;
}


.items {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
}


.logo-container {
    display: flex;
    justify-content: center;
}


.logo {
    font-size: 50px;
    color: $text-main-color;
}



.block-container {
    width: 400px;
    
}



.block {
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 1px #2A2A2A solid;
    background-image: linear-gradient(to top, $gradient-from-color, $gradient-to-color);
}

.heading {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $text-main-color;
    
}


.title {
    font-size: 23px;
}


.close {
    font-size: 23px;
}


.close:hover{
    cursor: pointer;
    color: $text-second-color;
}


.text {
    color: $text-main-color;
    font-size: 15px;
    margin-top: 35px;
}

.warn{
    color: $text-warn-color;
}

.email {
    width: 100%;
    margin-top: 15px;
    color: $text-main-color;
    font-size: 15px;
    height: 20px;
    padding: 10px;
    border: none;
    border-bottom: solid 1px $text-main-color;
    background-color: transparent;
}

.email:focus,
.email.focus,
.email:hover {
    border-bottom: solid 1px $text-second-color;
    color: $text-second-color;
}

.btn {
    border: none;
    margin-top: 65px;
    width: 100%;
    padding: 15px;
    color: $text-main-color;
    background-color: $btn-color;
    font-weight: bold;
    font-size: 14px;
    border-radius: 50px;
}

.btn:hover {
    cursor: pointer;
}










@media only screen and (min-width: $large-screen) {
    .container {
        flex-direction: row;
    }
    .logo {
        margin-top: 200px;
    }
    .block {
        margin-top: 50px;
    }
}

@media only screen and (max-width: $large-screen) {
    .container {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        margin-top: 20px;
    }
    .block {
        margin-top: 0px;
    }
}



