<div class="container">
    <div class="logo-container items">
        <div class="logo">
            fitness
        </div>
    </div>
    <div class="items">
        <div class="block-container">
            <div class="block">
                <div class="heading">
                    <div class="title">Forget password?</div>
                    <div class="close">X</div>
                </div>
                <div class="text">Enter your email address</div>
                <input type="email" class="email" placeholder="Email address">
                <button md-raised-button class="btn">Send email</button>
                <div class="text warn">*Invalid password</div>
                <md-input-container>
                    <input mdInput placeholder="Postal Code">
                </md-input-container>

            </div>
        </div>
    </div>
    <div class="items"></div>
</div>
