@import "./../../../../src/globalStyles/variables";

@mixin linear-gradient($direction, $color-stops...) {
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}



button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: $text-second-color;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $text-second-color;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: $text-second-color;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $text-second-color;
}



.forget-password-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: $bg-color;
    font-family: $font-general;
}


.forget-password-items {
    flex-grow: 1;
    flex-basis: 0;
}


.forget-password-logo-container {
    width: 30%;
    display: flex;
    justify-content: center;
}


.forget-password-logo {
    min-width: 215px;
    font-size: 40pt;
    color: $text-main-color;
}



.forget-password-block-container {
    width: 400px;
    
}



.forget-password-block {
    padding-bottom: 60px;
    padding-left: 10%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: 2px #2A2A2A solid;
    background-image: linear-gradient(to top, $gradient-from-color, $gradient-to-color);
}

.forget-password-heading {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: $text-main-color;
}


.forget-password-title {
    font-size: 20pt;
}


.forget-password-close {
    margin-right: 10%;
    font-size: 12pt;
}
.forget-password-close:hover{
    cursor: pointer;
    color: $text-second-color;
}


.forget-password-text {
    color: $text-main-color;
    font-size: 13pt;
    margin-top: 35px;
}

.forget-password-email {
    width: 90%;
    margin-top: 15px;
    color: $text-main-color;
    font-size: 10pt;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: solid 1px $text-main-color;
    background-color: transparent;
}

.forget-password-email:focus,
.forget-password-email.focus,
.forget-password-email:hover {
    border-bottom: solid 1px $text-second-color;
    color: $text-second-color;
}

.forget-password-btn {
    border: none;
    margin-top: 35px;
    width: 90%;
    padding: 15px;
    color: $text-main-color;
    background-color: $btn-color;
    font-weight: bold;
    font-size: 11pt;
    border-radius: 50px;
}

.forget-password-btn:hover {
    cursor: pointer;
}










@media only screen and (min-width: $large-screen) {
    .forget-password-container {
        flex-direction: row;
    }
    .forget-password-logo {
        margin-top: 200px;
    }
    .forget-password-block {
        margin-top: 50px;
    }
}

@media only screen and (max-width: $large-screen) and (min-width: $small-screen) {
    .forget-password-container {
        flex-direction: column;
        align-items: center;
    }
    .forget-password-logo {
        margin-top: 20px;
    }
    .forget-password-block {
        margin-top: 0px;
    }
}

@media only screen and (max-width: $small-screen){
        .forget-password-container {
        flex-direction: column;
        align-items: center;
    }
    .forget-password-logo {
        margin-top: 20px;
    }
    .forget-password-block {
        margin-top: 0px;
    }
    .forget-password-block-container {
    width: 100%;
    }
}



