<div class="container">
    <div class="logo-container items">
        
        <div class="logo">
            fitness
        </div>
    </div>

    <div class="items">
        
        <div class="block-container">
            <div class="block">
                
                <div class="heading">
                    <div class="title">Forget password?</div>
                    <i class="material-icons close">close</i>
                </div>
                
                <div class="text-block text-block-margin">Enter your email address</div>
                <md-input-container class="email-container">
                    <input mdInput type="email" placeholder="Email address">
                </md-input-container>

                <button md-button disableRipple class="btn btn-forget">Send email</button>
                
                <div class="text-block text-block-margin warning-color">* Invalid password</div>
                
            </div>
        </div>
    </div>
    <div class="items"></div>
</div>
