<div class="container">
    <div class="logo-container items">
        
        <div class="logo">
            fitness
        </div>
    </div>

    <div class="items">
        
        <div class="block-container">
            <div class="block">
                
                <div class="heading">
                    <div class="title">Change password</div>
                    <i class="material-icons close">close</i>
                </div>
                
                <div class="text-block text-block-margin">Enter your new password</div>
                <md-input-container class="new-password-container">
                    <input mdInput type="password" placeholder="New password">
                </md-input-container>

                <md-input-container class="repeat-password-container">
                    <input mdInput type="password" placeholder="Repeat password">
                </md-input-container>

                <button md-button disableRipple class="btn btn-forget">Confirm</button>
                
                <div class="text-block text-block-margin warning-color">* Passwords doesn`t match</div>
                
            </div>
        </div>
    </div>
    <div class="items"></div>
</div>
