<div class="container">
    <div class="items"></div>

    <div class="items">

        <div class="block-container">
            <form #form="ngForm" class="block">

                <div class="heading">
                    <div class="title">Change password</div>
                    <i class="material-icons close">close</i>
                </div>

                <input type="hidden" placeholder="Confirmation code" required [(ngModel)]="confirmCode" name="confirmCode">

                <md-input-container class="new-password-container header-margin">
                    <input mdInput type="password" placeholder="Enter password" required minlength="6" [(ngModel)]="newPass" name="newPass" #newPassInput="ngModel">
                    <md-error *ngIf="newPassInput.errors && newPassInput.errors.minlength && newPassInput.touched">
                        Password too short
                    </md-error>
                    <md-error *ngIf="newPassInput.errors && newPassInput.errors.required && newPassInput.touched">
                        This field is <strong>required</strong>
                    </md-error>
                </md-input-container>

                <md-input-container class="repeat-password-container">
                    <input mdInput type="password" placeholder="Repeat password" required minlength="6" [(ngModel)]="repeatPass" name="repeatPass"
                        #repeatPassInput="ngModel">
                    <md-error *ngIf="repeatPassInput.errors && !passwordMatched && repeatPassInput.touched && !repeatPassInput.errors.required">
                        Passwords doesn`t match
                    </md-error>
                    <md-error *ngIf="repeatPassInput.errors && repeatPassInput.errors.required && repeatPassInput.touched">
                        This field is <strong>required</strong>
                    </md-error>
                </md-input-container>

                <button md-button disableRipple class="btn btn-forget" (click)="changePassword(form)">Confirm</button>

            </form>
        </div>
    </div>
    <div class="items"></div>
</div>