<div class="container">
    <h2 class="title" md-dialog-title>{{id === '-1' ? 'Create' : 'Update'}} Goal</h2>
    <div class="item-container">
        <md-input-container class="input-row">
            <input mdInput type="text" [(ngModel)]="name" placeholder="Goal name">
        </md-input-container>
    </div>
    <div class="item-container">
        <md-select placeholder="I want to" [(ngModel)]="selectedType" (change)="getStartValue()">
            <md-option *ngFor="let type of types" [value]="type._id">
                {{type.name}}
            </md-option>
        </md-select>
    </div>
    <div class="item-container">
        <md-input-container class="input-row">
            <input mdInput type="number" [(ngModel)]="startValue" [disabled]="true" placeholder="Current value">
        </md-input-container>
    </div>
    <div class="item-container smaller-margin">
        <md-input-container class="input-row">
            <input autofocus mdInput type="number" min="1" name="count" placeholder="End value" required [(ngModel)]="endValue" (change)="checkValue()">
            <md-hint *ngIf="!validValue">
                Value must be beetween {{minValue[goalType]}}-{{maxValue[goalType]}} and not current
            </md-hint>
        </md-input-container>
    </div>
    <div class="item-container">
        <md-input-container>
            <input mdInput [mdDatepicker]="startPicker" placeholder="Deadline" [min]="minDate" [(ngModel)]="deadline">
            <md-datepicker-toggle mdSuffix [for]="startPicker"></md-datepicker-toggle>
        </md-input-container>
        <md-datepicker touchUi="true" #startPicker></md-datepicker>
    </div>

    <div class="btn-container">
        <button md-raised-button [md-dialog-close]="false">Close</button>
        <button md-raised-button 
        (click)="addUpdateUserGoal({startValue: startValue, endValue: endValue,
        category: selectedType, deadline: deadline, name: name})"
        [md-dialog-close]="true" [disabled]="!validValue || !loaded">Save</button>
    </div>
</div>
