<div class="container">
    <h2 class="title" md-dialog-title>{{id === '-1' ? 'Create' : 'Update'}} Goal</h2>
    <div class="item-container">
        <md-input-container class="input-row">
            <input autofocus mdInput type="number" min="1" name="count" placeholder="Value" required [(ngModel)]="value" (change)="checkValue()">
            <md-hint *ngIf="!validValue">
                    Value must me positive
            </md-hint>
        </md-input-container>
    </div>
    <div class="item-container">
        <md-input-container>
            <!--<input mdInput [mdDatepicker]="startPicker" placeholder="Deadline" [min]="minDate" [(ngModel)]="deadline" [disabled]="true">
            <button mdSuffix [mdDatepickerToggle]="startPicker"></button>-->
        </md-input-container>
        <md-datepicker touchUi="true" #startPicker></md-datepicker>
    </div>
    <div class="item-container">
        <md-select placeholder="Goal type" [(ngModel)]="selectedType">
            <md-option *ngFor="let type of types" [value]="type.name">
                {{type.name}}
            </md-option>
        </md-select>
    </div>



    <div class="btn-container">
        <button md-raised-button [md-dialog-close]="false">Close</button>
        <button md-raised-button
        (click)="addUpdateUserGoal({value: value, type: selectedType, deadline: deadline, _id: id})"
        [md-dialog-close]="true"
        [disabled]="!validValue">Save</button>
    </div>
</div>
