@import '../../../../globalStyles/variables';
@import '../../../../globalStyles/indentations';
@import '../../../../globalStyles/text';
@mixin linear-gradient($direction, $color-stops...) {
    background: nth(nth($color-stops, 1), 1);
    background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
    background: linear-gradient($direction, $color-stops);
}

.search-box {
    width: 100%;
}

.all-user-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 70vw;
    min-height: 500px;
    font-family: $font-general;
    font-size: $usual-text;
    margin: $content-tb-margin auto;

}

.item-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 120px;
    height: 180px;
    margin: 10px;
    color: $btn-color;
    background-color: $gradient-to-color;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .round {
        border-radius: 50%;
        overflow: hidden;
        width: 70px;
        height: 70px;
    }
    p {
        -webkit-margin-before: 1em;
        -webkit-margin-after: 0;
        -webkit-margin-start: 0;
        -webkit-margin-end: 0;
    }
    .role-text {
        font-size: $minor-text;
    }
    .user-name-text {
        font-size: $usual-text;
    }
}

.list-container {
    width: 80%;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    h2 {
        padding-left: 0;
    }
}

.user-list {
    height: calc(100vh - 300px);
    overflow: auto;
}

.user-list-hidden {
    height: 0;
}

.title {
    display: flex;
    align-items: center;
}

.user-item {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: $text-main-color;
    padding-left: $input-padding;
}

.no-followers-msg {
    font-size: $usual-text;
    margin-top: $content-tb-margin;
    text-align: center;
}

.user-container {
    button {
        margin-left: auto;
    }
}

div.user-container > div.mat-list-item-content {
    flex: 1 100%;
}

div.user-container > div.mat-list-item-content > div {
    display: flex;
}
