<div class="all-user-container">
    <md-tab-group>

        <!-- All -->
        <md-tab label="All">
            <md-input-container class="search-box">
                <input mdInput
                       #search
                       placeholder="Search"
                       (change)="onSearch('users', search.value)"
                       (keyup)="onSearch('users',search.value)"
                       autocomplete="off">
                <md-icon mdSuffix>search</md-icon>
            </md-input-container>
            <div class="user-list"
                 infinite-scroll
                 [infiniteScrollDistance]="2"
                 [infiniteScrollThrottle]="150"
                 [scrollWindow]="false"
                 (scrolled)="onScroll('users')">
                <md-list>
                    <md-list-item *ngFor="let user of users.show" class="user-container">
                        <img md-list-avatar
                             [src]="user.userPhoto || './resources/default.png'"
                        >
                        <a [routerLink]="'/user/profile/'+user._id">
                            <p class="user-name-text">{{user.firstName + ' ' + user.lastName}}</p>
                        </a>
                        <button md-button
                                (click)="followNew(user)"
                                [hidden]="user.isFollowed"
                        >Follow</button>
                    </md-list-item>
                </md-list>
            </div>
        </md-tab>

        <!-- Followers -->
        <md-tab label="Followers">
            <div [hidden]="followers.all.length !== 0" class="no-followers-msg">You don't have any followers yet</div>
            <div [hidden]="followers.all.length === 0">
                <md-input-container class="search-box">
                    <input mdInput
                           #search_followers
                           placeholder="Search"
                           (change)="onSearch('followers', search_followers.value)"
                           (keyup)="onSearch('followers',search_followers.value)"
                           autocomplete="off">
                    <md-icon mdSuffix>search</md-icon>
                </md-input-container>
                <div class="user-list"
                     infinite-scroll
                     [infiniteScrollDistance]="2"
                     [infiniteScrollThrottle]="150"
                     [scrollWindow]="false"
                     (scrolled)="onScroll('followers')">
                    <md-list>
                        <md-list-item *ngFor="let user of followers.show" >
                            <img md-list-avatar
                                 [src]="user.userPhoto || './resources/default.png'"
                            >
                            <a [routerLink]="'/user/profile/'+user._id">
                                <p class="user-name-text">{{user.firstName + ' ' + user.lastName}}</p>
                            </a>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </md-tab>

        <!-- Following-->
        <md-tab label="Following">
            <div [hidden]="following.all.length !== 0" class="no-followers-msg">You have not followed users yet</div>
            <div [hidden]="following.all.length === 0">
                <md-input-container class="search-box">
                    <input mdInput
                           #search_following
                           placeholder="Search"
                           (change)="onSearch('following', search_following.value)"
                           (keyup)="onSearch('following',search_following.value)"
                           autocomplete="off">
                    <md-icon mdSuffix>search</md-icon>
                </md-input-container>
                <div class="user-list"
                     infinite-scroll
                     [infiniteScrollDistance]="2"
                     [infiniteScrollThrottle]="150"
                     [scrollWindow]="false"
                     (scrolled)="onScroll('following')">
                    <md-list>
                        <md-list-item *ngFor="let user of following.show" class="user-container">
                            <img md-list-avatar
                                [src]="user.userPhoto || './resources/default.png'"
                            >
                            <a [routerLink]="'/user/profile/'+user._id">
                                <p class="user-name-text">{{user.firstName + ' ' + user.lastName}}</p>
                            </a>
                            <button md-button
                                    (click)="unfollow(user)"
                            >{{user.justUnsubscribe?'Follow':'Unfollow'}}</button>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
        </md-tab>
    </md-tab-group>
</div>
