@import '../../../../globalStyles/variables.scss';
@import '../../../../globalStyles/text.scss';
@import "../../../../globalStyles/indentations";

.dialog-container{
    max-height: 80vh;
}
.sport-types{
    width: 300px;
    margin-bottom: 20px;
}
.field-title{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
input{
    width: 300px;
}
.exercise-item{
    display: block;
    position: relative;
    padding: 10px 0px;
    &:hover{
        background-color:$gradient-to-color; 
    }
}
.about-exercise{
    width:80%;
}
.add{
    // background-color: #82ca9c; 
    // height: 40px;
    // width: 40px;
    // border-radius: 20px;
    // font-size: 30px;
    // font-weight: bold;
    color:#fff;
    position: absolute;
    right: 5%;
    top: 40%;
}