@import '../../../../globalStyles/variables.scss';
@import '../../../../globalStyles/text.scss';
@import "../../../../globalStyles/indentations";

.dialog-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;

    header {
      display: flex;
      flex-flow: column nowrap;
      
      .sport-types{
          width: 300px;
          margin-bottom: 20px;
        }

        input{
            width: 300px;
        }
    } 

    .exercise-wrap {
        max-height: 65vh;
        margin: 0 -23px;
        overflow: auto;
        background: #222;

        .exercise-item {
            display: flex;
            flex-flow: row nowrap;
            padding: 10px 34px 10px;
            align-items: center;
            justify-content: space-between;
        
            &:hover{
                background-color:$gradient-to-color; 
            }
        
            h4 {
                margin-right: 10px;
                cursor: pointer;
            }
        }

        .add{
            color:#fff;
        }
    }

    .btn {
        border: none;
        margin-top: $content-between-margin;
        margin-bottom: -17px;
        width: 50px;
        color: $text-main-color;
        background-color: $btn-color;
        font-weight: bold;
        font-size: 14px;
        border-radius: 50px;
        cursor: pointer;
        outline: none;
        align-self: flex-end;
    } 
}
