<div class="dialog-container">
    <header>
        <md-select placeholder="Choose type" [(ngModel)]="sportTypeValue" (change)="getExercises()" name="type" class="sport-types"
            [style.width]="'200px'">
            <md-option *ngFor="let type of types" [value]="type._id">
                {{type.name}}
            </md-option>
        </md-select>
        <md-input-container *ngIf="exercsesShow">
            <input mdInput placeholder="Exercise search" #search placeholder="search.." (keyup)="onSearch(search.value)" (change)="onSearch(search.value)" class="search">
        </md-input-container>
    </header>

    <div *ngIf="exercsesShow" class="exercise-wrap">
        <div *ngFor="let exercise of exercisesList" class="exercise-item">
            <h4 md-line (click)="showDescription(exercise)">{{exercise.name}}</h4>
            <md-checkbox [id]="exercise._id" [checked]="exercise.checked" (change)="selectExercise($event)" class="add">Add to my plan</md-checkbox>
        </div>
    </div>
    <button *ngIf="exercsesShow" md-button class="btn" md-dialog-close>ok</button>
</div>